<div id="select-plan" class="block select-object">
	<h2>Выбор квартиры</h2>			

<div class="out_filter" id="filter_plan">
	<div class="js-show-hidden-filter btn_for_filter open"></div>
	<form enctype="application/x-www-form-urlencoded" class="js-filter-form filter_project step1 filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
		<label for="">Количество комнат:</label>
		<input type="hidden" name="street" id="street" value="<?=$this->street?>"/>
		<input type="hidden" name="number" id="number" value="<?=$this->number?>"/>
		<input type="hidden" name="countRoom" id="countRoom" class="js-count-room js-filter" value=""/>
		<input type="hidden" name="plan" id="planId" value="<?=$this->plan_id?>"/>
		<input type="hidden" name="option" id="optionId" value="<?=$this->option_id?>"/>		
		<input type="hidden" name="page" id="page" value=""/>
		<input type="hidden" name="step" id="step" value="<?=$this->designData->PROPERTY_STAGE_VALUE?>"/>
		
		<div class="data room js-select-room">
			<ul>
				<li><a class="first room" data-value="1 " href="">1</a></li>
				<li><a class="room" data-value="2" href="">2</a></li>
				<li><a class="room" data-value="3" href="">3</a></li>
				<li><a class="room" data-value="4" href="">4</a></li>
				<li><a class="room" data-value="5" href="">5</a></li>
				<li><a data-value="6" class="last room" href="">6+</a></li>
			</ul>
		</div>
		
		<label for="">Площадь:</label>
		<div class="data room">
			<ul>
				<li><input style="margin-right:10px;" class="area js-filter" type="text" name="areaMin" id="areaMin" value="" placeholder="от"></li>
				<li><input class="area js-filter" type="text" name="areaMax" id="areaMax" value="" placeholder="до"></li>
			</ul>
		</div>
		<span class="square">м²</span>
	</form>
</div>


<div class="list-plan js-list-plan">
<?if(count($this->PLAN_ARR) > 0){?>
		<div class="row">
			<?
			$i=0; 
			foreach($this->PLAN_ARR as $item){
				if($item->ID == $this->plan_id){
					$class = 'selected';
				}
				else{
					$class = '';
				}
			?>
				<?= $this->partial("design/partials/plan-item.phtml", ["item" => $item, "class"=>$class]) ?>
			<?$i+=1;
			}?>						
			<div class="col-xs-3 col-sm-3 col-md-3 plan-offset">
				<div class="plan alien note taupe js-upload-plan">
					<a class="fancyboxLink" href="">
						<span class="ask">Нет нужной планировки в базе?<br/>Загрузите свою</span>
						<span class="mess">Добавьте свое планировочное решение</span>
					</a>
					<div class="line_1"></div>
					<div class="line_2"></div>
				</div>
			</div>
		</div>
	<!--<div class="row-submit"><a class="js-submit-show btn waves-effect">Показать ещё</a></div>-->
<?}else{?>
	<div class="not-found">
		<div class="not-found-message">
			<p>По вашему запросу не нашлось вариантов квартир</p><br/>
		</div>
		<div class="not-found-icon"></div>
	</div>
<?};?>
</div>
</div>
<?if(count($this->PLAN_OPTION_ARR) > 0 || $this->plan_id > 0){?>
<div id="select-plan-option" class="block">
	<?if($this->plan_id > 0){?>
	<h2>Планировочное решение</h2>
	<div class="list-plan list-plan-options js-list-plan">
		<div class="row">
			<?
			$i=0; 
			foreach ($this->PLAN_OPTION_ARR as $item): ?>
				<?
					if($item->ID == $this->option_id){
						$class = 'selected option';
					}
					else{
						$class = 'option';
					}
				?>
				<?= $this->partial("design/partials/plan-item.phtml", ["item" => $item, "class"=>$class]) ?>
			<?
			$i+=1;
			endforeach ?>						
			<div class="col-xs-3 col-sm-3 col-md-3 plan-offset">
				<div class="plan_outer">
					<div class="plan alien note taupe js-upload-plan-option">
						<a href="/plan/step1/?selected_plan=<?=$this->plan_id?>">
							<span class="ask">Нет планировочного решения, которое подходит вам?</span>
							<span class="mess">Добавьте свое планировочное решение</span>
						</a>
						<div class="line_1"></div>
						<div class="line_2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?}?>
</div>
<?}?>