<div id="ajax-get-step-third">
	<?
		$designDesigns = $this->designDesigns;
		$designData = $this->designData;
	?>
	<form enctype="application/x-www-form-urlencoded" class="step3" action="/profile/design/save/second" method="post" novalidate="novalidate">
		<div class="js-get-step-third">
			<div class="js-upload-docs-design">
				<?if($designData){?>
					<?if(count($designDesigns) > 1){?>
					<div id="top-block" class="block doc-block">
						<h2>Загрузка файлов документации для дизайн-проекта</h2>			
						<div class="input-row">
							<div class="upload-area js-docs-design-main-dropzone inline " data-id-design="<?=$designData->ID?>">
								<?if($designData->PROPERTY_DOCUMENTS_VALUE){?>
									<div class="upload-doc <?=GetFileExtension($designData->PROPERTY_DOCUMENTS_VALUE['ORIGINAL_NAME'])?>" data-value-id="<?=$designData->PROPERTY_DOCUMENTS_VALUE['ID']?>"><span class="doc-title"><?=$designData->PROPERTY_DOCUMENTS_VALUE['ORIGINAL_NAME']?></span><span class="doc-size"><?=round($designData->PROPERTY_DOCUMENTS_VALUE["FILE_SIZE"]/1024) . " Кб"?></span><a class="js-file-delete delete " href="javascript:void(0);"></a></div>
								<?}else{?>
									<div class="js-dz-text text">Перетащите документы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div>
								<?}?>
								<div class="hint">Вы можете загружать файлы форматов doc, docx, xls, xlsx, pdf, rar, tar, zip <br/>Размер файла не должен превышать 20 Мб</div>	
								<input type="text" class="required casper file" name="file" value="<?if($designData->PROPERTY_DOCUMENTS_VALUE){echo true;};?>"/>
							</div>
							<span class="js-error error-message"></span>
						</div>
					</div>
					<?}?>
					<?if(count($designDesigns) > 0){
						foreach($designDesigns as $design){?>
							<div id="top-block" class="block doc-block">
								<h2><?if($design->ROOM){echo $design->NAME .'. ';}else{echo 'Дизайн проект. ';};?>Загрузка файлов документации</h2>			
								<div class="input-row">
									<div class="upload-area js-docs-design-dropzone inline " data-id-design="<?=$design->ID?>">
										<?if($design->PROPERTY_DOCUMENTS_VALUE){?>
											<div class="upload-doc <?=GetFileExtension($design->PROPERTY_DOCUMENTS_VALUE['ORIGINAL_NAME'])?>" data-value-id="<?=$design->PROPERTY_DOCUMENTS_VALUE['ID']?>"><span class="doc-title"><?=$design->PROPERTY_DOCUMENTS_VALUE['ORIGINAL_NAME']?></span><span class="doc-size"><?=round($designData->PROPERTY_DOCUMENTS_VALUE["FILE_SIZE"]/1024) . " Кб"?></span><a class="js-file-design-room-delete delete " href="javascript:void(0);"></a></div>
										<?}else{?>
											<div class="js-dz-text text">Перетащите документы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div>
										<?}?>
										<div class="hint">Вы можете загружать файлы форматов doc, docx, xls, xlsx, pdf, rar, tar, zip <br/>Размер файла не должен превышать 20 Мб</div>	
										<input type="text" class="required casper file" name="file[<?=$design->ID?>]" value="<?if($design->PROPERTY_DOCUMENTS_VALUE){echo true;};?>"/>	
									</div>
									<span class="js-error error-message"></span>
								</div>
							</div>
						<?}
					}
				}else{?>
					<div id="top-block" class="block doc-block">
						<h2>Нет созданных дизайн-проектов</h2>			
					</div>
				<?}?>
			</div>
		</div>
		<a href="/profile/design" id="save-your-life" class="check blue waves-effect js-save-your-life"></a>
	</form>
</div>