<div class="list-plan js-list-plan plan-list">
	<div class="row">
		<?if(count($this->PLAN_ARR) > 0){?>
				<?foreach ($this->PLAN_ARR as $item): ?>
					<?= $this->partial("design/partials/plan-item.phtml", ["item" => $item]) ?>
				<?endforeach?>	

		<?};?>
	</div>
</div>