<?php
	$categories = $this->categories;
	$categoryId = $this->categoryId;
	$ch_categories = $this->ch_categories;
	$pageTitle = $this->pageTitle;
	$children_categories = $this->children_categories;
?>  

<link href="local/css/marketplace.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/local/js/controllers/page/shop.js"></script>
	<div id="shop">
		<div class="top_category">
			<div class="content-container">		
			<?if(count($categories) > 0){?>
				<ul>
					<?foreach($categories as $cat){?>
						<li class="<?=($categoryId == $cat->ID)?'active':'';?>"><a href="/shop/<?=($cat->CODE)?$cat->CODE:$cat->ID?>"><?=$cat?></a></li>
					<?}?>
				</ul>
			<?}?>
			</div>
		</div>
		<div class="content-container product">
			<div class="category_top">
				<div class="crumbs">
					<a href="/shop">Главная</a>
					<?$i = 0;
						foreach($ch_categories as $cat){
							if($cat->CODE){
								$catId = $cat->CODE;
							}
							else{
								$catId = $cat->ID;
							}
					?>
						<a class="arrow" href="/shop/<?echo $catId;?>"><?=$cat->NAME?></a>
					<?	
						$i+=1;
						};
					?>
				</div>
				<h1 class="pageTitle"><?=$pageTitle?></h1>
			</div>	
			<div class="c_left_bn">
				<div class="list_shop_categories">
				<?	
					//Тут даже не пытайся разобраться
					/*$inner = '';
					$count = 0;
					function getTree($category, $count, $inner = ''){
						static $count;
						foreach($category as $child){
							if($child->CODE){
								$catId = $child->CODE;
							}
							else{
								$catId = $child->ID;
							};
							$count+=1;
							$count <= 5 ? $class = "active" : $class = "disabled";
							$inner .= '<a href="/shop/'.$catId .'" class="'.$class.'">'.$child->NAME .'</a>';
												
							if(isset($child->CHILD) && count($child->CHILD) > 0){
								//$inner .= getTree($child->CHILD, $count);
							}
							//if($count == 5){'</div>';};
						}
						return $inner;
					}
					
					function madeTree($catList){
						foreach($catList as $category){
							if($category->CODE){
								$catId = $category->CODE;
							}
							else{
								$catId = $category->ID;
							};
							echo '<div class="left_item p_cat"><div class="head"><h3 class="name_p_cat"><span><a href="/shop/'.$catId .'">'.$category->NAME .'</a></span></h3></div>';
							if(isset($category->CHILD) && count($category->CHILD) > 0){
								echo '<div class="ch_cat">';		
								echo getTree($category->CHILD, $count, $inner = '');
								if(isset($category->CHILD) && count($category->CHILD) > 5){
									echo '<a data-type="hide" class="all_category bottom js-show-cat" href="">Ещё</a>';
								}
								else{
									//echo '</div>';
								}
								echo '</div>';
							};
							echo '</div>';
						};
					}
					
					$flag = 1;
					foreach($categories as $item){
						if($item->ID == $categoryId){
							if(isset($item->CHILD)){
								$catList = $item->CHILD;
								madeTree($catList);
								$flag = 0;
							}
						}
					}
					if($flag == 1){
						$cat_par = $categories;//каталог
						if($categoryId == 255 || $categoryId == 'catalog'){
							madeTree($categories);
						}
						else{
							function f($categories){
								//пробежим по массиву категорий
								foreach($categories as $cat){
									//запишем в переменную id категории
									if(isset($cat->CHILD)){
										$cat_par = $cat;								
										//если текущий id равен $cat->ID
										//if($categoryId == $cat->ID || $categoryId == $cat->CODE){
											
											madeTree($cat);
										//}
										//else{										
										//	f($cat->CHILD);
										//}
									}
								}
							}
							f($children_categories);
						};
					}*/
					
					function madeTree($children_categories){
						foreach($children_categories as $cat){
							echo '<div class="left_item p_cat"><div class="head"><h3 class="name_p_cat"><span><a href="/shop/';
							echo ($cat->CODE)?$cat->CODE:$cat->ID; 
							echo '">'.$cat->NAME .'</a></span></h3></div>';
							if(isset($cat->CHILD)){
								$count = 0;
								echo '<div class="ch_cat">';
								foreach($cat->CHILD as $cat_ch){
									echo '<a href="/shop/';
									echo ($cat_ch->CODE)?$cat_ch->CODE:$cat_ch->ID; 
									
									$count+=1;
									$count <= 5 ? $class = "active" : $class = "disabled";
									
									echo '" class="'.$class.'">'.$cat_ch->NAME .'</a>';
								}
								if(isset($cat->CHILD) && count($cat->CHILD) > 5){
									echo '<a data-type="hide" class="all_category bottom js-show-cat" href="">Ещё</a>';
								}
								echo '</div>';
								
							}
							echo '</div>';
						}
					}
						
					madeTree($children_categories);
								
				?>		
				</div>
			</div>
			<div class="right_bn">
				<div class="filter">
					<?= EZendManager::sorting("shop") ?>
					<?= EZendManager::elementCntList() ?>
				</div>
				<div class="goods-list">
					<div class="js-ajax-list-content">
						<?= $this->render('shop/catalog.ajax.phtml') ?>
					</div>   				
				</div>
			</div>
		</div>
		<?= $this->render('shop/shop-my-show-list.phtml') ?>
	</div>
</div>


















