<?php
	$categories = $this->categories;
	$row_goods = $this->row_goods;
	$pictures = $this->pictures;
	$item = $this->item;	
	
	function ShowBanner ($arParams) {
		if (CModule::IncludeModule('advertising'))
		{
			$bNoInd = $arParams["NOINDEX"] == "Y";
			return $strBanner = CAdvBanner::Show($arParams["TYPE"], $bNoInd ? '<noindex>':'', $bNoInd ? '</noindex>':'');
		}
	}
	
?> 

<link href="local/css/marketplace.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/local/js/controllers/page/shop.js"></script>
	<div id="shop">
		<div class="top-block">
			<div class="content-container">
				<div id="tabs">
					<ul class="tabs-menu">
						<li><a href="#tabs-1">Маркетплейс</a><span class="sub_txt">Новинки, скидки, рекомендации</span></li>
						<li><a href="#tabs-2">Каталог</a><span class="sub_txt">Более 1500 категорий товаров</span></li>
					</ul>
					<form class="form_search js-search-form-catalog" action="" method="post">
						<div class="input-row wrap_form_search_q">
							<div class="wrap_search_input">
								<div class="search_ico"><div class="ico"></div></div>
								<input id="form_search_q" type="text" name="q" value="" placeholder="Поиск по каталогу"/>
								<a class="js-search-form btn blue waves-effect">найти</a>
							</div>
						</div>
					</form>
					<div id="tabs-1">
						<div class="list_cat" style="position:relative;">
							<div class="tabs-panes box i-bem tabs-panes_js_inited" onclick="return {&quot;tabs-panes&quot;:{&quot;id&quot;:&quot;index-headline-id&quot;}}">
								<div class="tabs-panes__pane tabs-panes__pane_active_yes" role="tabpanel" aria-labelledby="index-headline-id-tab-0" aria-expanded="true">
									<noindex>
										<div class="popular  i-bem popular_js_inited" data-widget="w-mbo-billboard" onclick="return {'popular':{}}">
											<div class="popular__wrapper">
													<div class="popular__row popular__row_pos_1">
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"left_top","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"left_bottom","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"left_bottom","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"center_top","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"center_bottom_left","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"center_bottom_right","NOINDEX"=>"Y"));?>
														</div>
														<div class="popular__item">
															<?Zend_Registry::get('BX_APPLICATION')->AddBufferContent('ShowBanner', array("TYPE"=>"right","NOINDEX"=>"Y"));?>
													</div>
												</div>
											</div>
										</div>
									</noindex>
								</div>
							</div>
						</div>
					</div>
					<div id="tabs-2">
						<div id="shop_categories" class="row">
						<?
							$out = '';
							function getTree($arr){
								static $out; 
								foreach($arr as $k=>$v){
									$out .= '<div class="p_cat">';
									$out .= '<div class="head"><h3 class="name_p_cat"><span class="chypalo" style="background: url('.$v->PICTURE .') no-repeat;"></span><a href="/shop/'.$v->ID .'
									">'.$v->NAME .'</a></h3></div>';
									if(!empty($v->CHILD)){
										$out .= '<ul class="ch_cat">';
										foreach($v->CHILD as $child){
											$out .= '<li><a class="under-link" href="/shop/'.$child->ID .'">'.$child->NAME .'</a></li>';
										}
										$out .= '</ul>';
									}
									
									$out .= '<div class="clear"></div><a class="under-link all_category" href="/shop/'.$v->ID .'">Все категории &gt </a></div>';
								}
								return $out;
							}
							echo getTree($categories, 1);
						?>				
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-container">		
			<div class="clear"></div>
			<div class="product">
				<div id="pop" class="list-goods">
					<h2>Популярные товары</h2>
					<?= $this->render('shop/shop-pop-list.phtml') ?>
				</div>
				<?= $this->render('shop/shop-discount-list.phtml') ?>	
			</div>
		</div>
		<?= $this->render('shop/shop-my-show-list.phtml') ?>
	</div>