<?
	$designOptions = $this->designOptions;
	$designFlat	   = $this->designFlat;
	$option 	   = $this->option;
?>
<style>
.complex-detail-plan-page .feature-list .out-feature-item {
    height: 400px;
    padding: 0 10px;
}
.complex-detail-plan-page .feature-list .out-feature-item img{
	max-height:241px;
}
.complex-detail-plan-page .feature-list {
    text-align: center;
}
.preview360-gallery, .preview360-gallery > img {
  height: 238px;
  width: 238px;
}
.preview360-gallery {
    height: 238px;
    width: 238px;
    position: relative;
}
.preview360-gallery > img {
    height: 238px;
    width: 238px;
    left: 0;
    position: absolute;
}


.preview360-hide {
  z-index:9;
}
</style>
<?if((int) $option > 0){?>
	<div class="design-options-block" style="display:none;">
		<h2 class="sub-title">Мы подобрали <?=$designOptions->pageData->totalItemsCount?> <?= EHelper::getWordForm($designOptions->pageData->totalItemsCount, ["готовый дизайн-проект", "готовых дизайн-проекта", "готовых дизайн-проектов"]); ?> для выбранного планировочного решения</h2>
		<?if($designOptions->pageData->totalItemsCount > 0){?>
			<div class="list-design js-list-design">
				<div class="feature-out">
					<div class="feature-list row">
						<?
						$i = 0;
						foreach($designOptions->items as $item){
							if($i == 0){$hint = true;}
							else{$hint = false;};
							
						?>
							<?=$this->partial("complex/partials/design-item_r.phtml", ["hint" => $hint, "item" => $item])?>
						<?
							$i+=1;
						}?>
						<!--<div class="col-xs-3 col-sm-3 col-md-3 design-item plan-offset">	
							<div class="design" data-id="1711">
								<div class="picture">
									<img src="/local/images/proomer2.png">
								</div>
								<div class="name">Данная квартира подходит прекрасно подойдет лорем ипсум чето там</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		<?}
		else{?>
			<?= $this->partial("_partials/not-found-status/plan.phtml", ["message" => " <p>К вашему планировочному решению нет готовых дизайн-проектов.</p>."]) ?>
		<?}?>
	</div>
	<div class="design-flat-block">
		<h2 class="sub-title">Мы подобрали <?=$designFlat->pageData->totalItemsCount?> <?= EHelper::getWordForm($designFlat->pageData->totalItemsCount, ["готовый дизайн-проект", "готовых дизайн-проекта", "готовых дизайн-проектов"]); ?> для вашей квартиры</h2>
		<?if($designFlat->pageData->totalItemsCount > 0){?>
		<div class="list-design js-list-plan">
			<div class="feature-out">
				<div class="feature-list row">
					<?
					foreach($designFlat->items as $item){
						$hint = false;
					?>
						<?=$this->partial("complex/partials/design-item_r.phtml", ["hint" => $hint,"item" => $item])?>
					<?
						
					}?>
					<div class="col-xs-3 col-sm-3 col-md-3 design-offset">
						<div class="design alien">
							<div class="design-inner">
								<span class="ask">Не можете определиться?<br/>А может ничего не нравится?</span>
								<span class="mess">
								Не нужно отчаиваться!
								Мы поможем вам найти
								действительно лучшее решение.</span>
								<div class="search-individual"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="/project/step1/?id_flat=<?=$this->options?>">
								Найти индивидуальное решение</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?}
		else{?>
			<?= $this->partial("_partials/not-found-status/plan.phtml", ["message" => " <p>К вашей квартире нет готовых дизайн-проектов.</p>.."]) ?>
		<?}?>
	</div>
<?}?>