
<h1>Оплата проведена успешно</h1>

<div class="content-container clearfix js-basket-content">

    <div class="basket-empty">
        <h3>Ваш заказ оплачен</h3>
        <p class="text">Все документы по проекту будут отправлены Вам на e-mail.</p>
    </div>
</div>