<?
	$noshow = $this->noshow;
?>
<?if(!$noshow){
?>
<div class="project-out preloaderController">
	<?= $this->partial('project/projectcart.ajax.phtml', array(
															'show_list_family' 		=> $this->show_list_family,
															'show_list_plan' 		=> $this->show_list_plan, 
															'show_plan' 			=> $this->show_plan, 
															'planOption' 			=> $this->planOption, 
															'access' 				=> $this->access, 
															'auth' 					=> $this->auth, 
															'starting_price' 		=> $this->starting_price, 
															'projectData' 			=> $this->projectData, 
															'url' 					=> $this->url, 
															'nextstep' 				=> $this->nextstep, 
															'nextstep_d' 			=> $this->nextstep_d, 
															'nextstepfile' 			=> $this->nextstepfile, 
															'PLAN_OPTION_SAVE'		=> $this->PLAN_OPTION_SAVE, 
															'PLAN_SAVE' 			=> $this->PLAN_SAVE,
															'PROJECT_FAMILY' 		=> $this->PROJECT_FAMILY,
															'PRICE_PROJECT'			=> $this->PRICE_PROJECT
															)
														) ?>
</div>
<?}?>
<!--<div class="help">
	<h2 class="title">Нужна помощь?</h2>
	<p style="text-align:center;">Наши специалисты помогут вам<br/> разобраться с сервисом</p>
	<span class="phone">+7 (975) 856-14-56</span>
	<span class="time_job">Работаем с 8:00 до 22:00</span>
</div>-->