<?
/**
 * @var $item Sibirix_Model_Complex_Row
 */
$plan = $this->plan;
$complex = $this->complex;
if (!empty($plan->PROPERTY_IMAGES_VALUE)) {
   $image = Resizer::resizeImage($plan->PROPERTY_IMAGES_VALUE, "PLAN_PREVIEW_PHOTO");
} else {
   $image = '/local/images/proomer2.png';
}
?>

<div class="col-xs-2 col-sm-2 col-md-2 plan-item plan-offset">
	<div class="plan_outer">
		<div class="plan js-select-item-plan link" data-link="<?= $this->url(['elementCode' => $complex->CODE, 'elementCode2' => $plan->ID], 'complex-detail-plan') ?>" data-id="<?if($plan->CODE){echo $plan->CODE;}else{echo $plan->ID;}?>">
			<div class="picture">
				<img src="<?=$image?>"/>
			</div>
			<div class="info">
			<?if($plan->PROPERTY_ROOM_VALUE){?>
				<p>Комнат: <span class="val"><?=$plan->PROPERTY_ROOM_VALUE?></span></p>
			<?}
			if($plan->PROPERTY_AREA_VALUE){?>
				<p>Площадь: <span class="val"><?=$plan->PROPERTY_AREA_VALUE?> м&#178;</span></p>
			<?}?>
			</div>
		</div>
	</div>
</div>