
<?if(isset($this->planList->items) || count($this->planList->items) > 0){?>
	<div class="content">
		<h2 class="page-title">Выбор планировки</h2>
	</div>
	<div id="select_plan" class="project-select">
			<div class="list-plan">
				<div class="row">
					<?if(count($this->planList->items) > 0){?>
							<?
							$i=0; 
							foreach($this->planList->items as $item): ?>
								<?
									if($i < 5){$class="show";}else{$class="hide";};
								?>
								<?=$this->partial("project/partials/plan-item-a.phtml", ["item" => $item,"class"=>$class]) ?>
							<?
							$i+=1;
							endforeach ?>	
					<?};?>
					<div class="col-xs-3 col-sm-3 col-md-3 plan-offset">
						<div class="plan_outer">
							<div class="plan alien note taupe">
								<a href="/plan/step1/?selected_plan=<?=$this->id_flat?>">
									<span class="ask">Не нашли нужную
									планировку?</span>
									<span class="mess">Закажите индивидуальную планировку прямо сейчас</span>
								</a>
								<div class="line_1"></div>
								<div class="line_2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<?}?>



