/*
 * Сброс CSS под единый стандарт виджета от proomer.ru
 * 
 * @author Роман Камлюк <roman@kamlyuk.com>
 */

#proomer-widget div,
#proomer-widget span,
#proomer-widget p,
#proomer-widget a,
#proomer-widget img,
#proomer-widget h1,
#proomer-widget h2,
#proomer-widget h3,
#proomer-widget h4,
#proomer-widget h5,
#proomer-widget h6,
#proomer-widget ul,
#proomer-widget li,
#proomer-widget form,
#proomer-widget label,
#proomer-widget table,
#proomer-widget tbody,
#proomer-widget tfoot,
#proomer-widget thead,
#proomer-widget tr,
#proomer-widget th,
#proomer-widget td,
#proomer-widget select,
#proomer-widget option,
#proomer-widget input,
#proomer-widget textarea {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
    background: transparent none repeat scroll 0 0;
    box-sizing: content-box;
    font-size: 100%;
    line-height: initial;
}

#proomer-widget ol,
#proomer-widget ul {
    list-style: none;
}

#proomer-widget label {
    display: block;
}

#proomer-widget table {
    border-collapse: collapse;
    border-spacing: 0;
}

#proomer-widget a {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}