
<div class="project-products-block">
    <div class="content-container">
        <h2>Товары и материалы в этом проекте</h2>
        <div class="product-slider js-slider">
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/slide21.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">198</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product2.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">19</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product3.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">24</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product4.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">8</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/slide21.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">198</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product2.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">19</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product3.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">24</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product4.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">8</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="design-products-block">
    <div class="content-container">
        <h2>Товары и материалы в стиле дизайна</h2>
        <div class="product-slider js-slider">
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/slide21.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">198</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product2.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">19</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product3.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">24</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product4.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">8</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/slide21.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">198</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product2.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">19</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product3.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">24</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="slide item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES ?>main/product4.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">8</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>