<?
	$step4Form = $this->step4Form;
	$item_save = $this->item_save;
	$nextstep = $this->nextstep;
	$nextstep_d = $this->nextstep_d;
	$itemList = $this->itemList;
	$image = '';

	if($itemList){
		if($itemList[1]->PROPERTY_IMAGES_VALUE){
			$image = Resizer::resizeImage($itemList[1]->PROPERTY_IMAGES_VALUE, "SERVICE_PLAN");
		}else{
			$image = '/local/images/proomer2.png';
			
		}
		$html .= '<li><div class="picture"><img src="'.$image.'"/></div></li>';
	}
?>

<div id="service-page">
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li><a class="under-link" href="/service/step1">Выбор планировки</a></li>
						<li><a class="under-link" href="/service/step2">Варианты планировок</a></li>
						<li><a class="under-link" href="/service/step3">Варианты дизайна</a></li>
						<li class="selected"><a href="/service/step4">Состав семьи</a></li>
						<li><a class="under-link" href="/service/step5">Настройка заказа</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content service-content">

		<div class="content-container">
			<h2 class="page-title">Создание семьи</h2>
			<div class="left_bn">
				<div class="help_bn">
					При проектировании дизайна вашего интерьера, очень важно учитывать всех членов семьи,
					которые будут проживать в квартире. Поэтому отнеситесь к этому блоку очень серьезно
				</div>
				<div class="row">
					<div class="select2_view_n1">
						<label class="type_family">Взрослые</label>
						<div class="list-item-family">
							<div class="item-family">
								<span class="icon_family"></span>
								<div class="select2-container select-container-age-1" style="position:relative">
									<label>Возраст</label>
									<select class="js-age-1" name="userLocation">
										<option value="18-23" selected>18-23</option>
										<option value="23-28">23-28</option>
										<option value="28-35">28-35</option>
										<option value="35-50">35-50</option>
										<option value="50-100">50-100</option>
									</select>
								</div>
							</div>
						</div>
						<div class="family-management btns">
							<div class="js-add-family add btn">
								<div class="item-family clone">
									<span class="icon_family"></span>
									<div class="select2-container select-container-age-1" style="position:relative">
										<label>Возраст</label>
										<select class="js-age-1" name="userLocation">
											<option value="18-23" selected>18-23</option>
											<option value="23-28">23-28</option>
											<option value="28-35">28-35</option>
											<option value="35-50">35-50</option>
											<option value="50-100">50-100</option>
										</select>
									</div>
								</div>
							</div>
							<div class="js-remove-family remove btn"></div>
						</div>
					</div>
				</div>
				<hr class="line-service-page-family"/>
				<div class="row">
					<div class="select2_view_n1">
						<label class="type_family">Дети до 18</label>
						<div class="list-item-family">
							<div class="item-family">
								<span class="icon_family"></span>
								<div class="select2-container select-container-age-1" style="position:relative">
									<label>Возраст</label>
									<select class="js-age-1" name="userLocation">
										<option value="0-3" selected>0-3</option>
										<option value="3-7">3-7</option>
										<option value="7-12">7-12</option>
										<option value="12-14">12-14</option>
										<option value="14-17">14-17</option>
									</select>
								</div>
							</div>
						</div>
						<div class="family-management btns">
							<div class="js-add-family add btn">
								<div class="item-family clone">
									<span class="icon_family"></span>
									<div class="select2-container select-container-age-1" style="position:relative">
										<label>Возраст</label>
										<select class="js-age-1" name="userLocation">
											<option value="0-3" selected>0-3</option>
											<option value="3-7">3-7</option>
											<option value="7-12">7-12</option>
											<option value="12-14">12-14</option>
											<option value="14-17">14-17</option>
										</select>
									</div>
								</div>
							</div>
							<div class="js-remove-family remove btn"></div>
						</div>
					</div>
				</div>			
				<hr class="line-service-page-family"/>
				<div class="row">
					<div class="select2_view_n2">
						<label class="type_family">Домашние животные</label>
						<div class="list-item-family">
								<div class="item-family">
								<div class="select2-container select-container-age-1" style="position:relative">
									<select class="js-age-1" name="userLocation">
										<option value="Кошка" selected>Кошка</option>
										<option value="Собака">Собака</option>
										<option value="Шиншила">Шиншила</option>
										<option value="Мышка">Мышка</option>
										<option value="Хомячок">Хомячок</option>
									</select>
								</div>
							</div>
						</div>
						<div class="family-management btns">
							<div class="js-add-family add btn">
								<div class="item-family clone">
									<div class="select2-container select-container-age-1" style="position:relative">
										<select class="js-age-1" name="userLocation">
											<option value="Кошка" selected>Кошка</option>
											<option value="Собака">Собака</option>
											<option value="Шиншила">Шиншила</option>
											<option value="Мышка">Мышка</option>
											<option value="Хомячок">Хомячок</option>
										</select>
									</div>
								</div>
							</div>
							<div class="js-remove-family remove btn"></div>
						</div>
					</div>
				</div>
				<div id="layout">
					<img src="<?=$image?>"/>
					<?
						$i = 1;
						foreach($itemList[1]->PROPERTY_COORDS_VALUE as $marker){
							$coords = explode(",", $marker);
					?>
							<div class="mark" style="left:<?=$coords[0]?>px; top:<?=$coords[1]?>px;">Комната №<?=$i?></div>
					<?
							$i+=1;
						};
					?>
				</div>
			</div>
				<div class="right_bn">
				<?= $this->partial('service/partials/right_bn.phtml', array('nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'item_save' => $item_save)) ?>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
