<?
	$itemList = $this->itemList;
	$PLAN_SAVE = $this->PLAN_SAVE;
	$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;
	$projectData = $this->projectData;
	$starting_price = $this->starting_price;
	$step = $this->step;
	$nextstep = $this->nextstep;
	$url = $this->url;
	$nextstep_d = $this->nextstep_d;
	$uploadItemList = $this->uploadItemList;
	$step = $this->step;
	$cityModel    = new Sibirix_Model_City();
	$nextstepfile = true;
	$PLAN_ARR = $this->PLAN_ARR;
	$auth = $this->auth;
	$access = $this->access;
	
?>

<div id="service-page">
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта готовой планировки</h2>
				<div id="service_menu">
					<ul>
						<li><a  class="under-link" href="/plan/step1/">Выбор планировки</a></li>
						<li><a class="under-link" href="/plan/step2/">Состав семьи</a></li>
						<li class="selected"><a href="/plan/step3/">Настройки заказа</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content service-content">
		<div class="content-container">
			<div class="left_bn">
				<div class="content">
				<h2 class="page-title">Настройка заказа</h2>
				<div class="form-content">
					<form enctype="application/x-www-form-urlencoded" class="js-order-settings-form ordersettings formTabber" action="/service/savestep5" method="post" novalidate="novalidate">
						<input type="hidden" id="layout" value="<?=$layout?>"/>
						<div class="input-out">	
							<div class="input-row">
								<div class="final">
									<p><span class="big">Стоимость: <span id="result_price"><?=$starting_price;?></span> &#8381;</span>
									<span class="brackets">&nbsp;&nbsp;}&nbsp;&nbsp;</span>
									<span class="formula">(300 &#8381; * 76 м&#178;) +  850 &#8381;(21% комиссия за пользование системы)</span></p>
								</div>
							</div>
						</div>
						<div class="input-out">	
							<div class="input-row">
								<label for="comments" class="required">Ваши пожелания к будущему дизайну</label>
								<textarea name="comments" id="comments" value="" class="required" maxlength="1024" rows="10" placeholder=""><?=$projectData -> PROPERTY_SUGGEST['TEXT']?></textarea>
								<span class="js-error error-message"></span>
							</div>
							<div class="help_bn">
								Обратите внимание!</br>
								Тут необходимо расписать как необходимо заполнять пожелания к дизайну
							</div>
						</div>
						<!--<div class="input-out">
							<div class="input-row">
								<label for="comments" class="required">Прикрепите файл</label>
								<div class="upload-area js-docs-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите файлы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div></div>
								<p class="i file_res">Для загрузки допускаются файлы до 2Мб, форматов: jpg, png, jpeg, gif, bmp, doc, docx, xls, xlsx, pdf, rar, tar, zip</p>
							</div>
						</div>-->
						<div class="input-out">	
							<div class="input-row">
								<label for="slider_time" class="required">Срок исполнения проекта</label>
								<input type="text" name="slider_time" id="slider_time" class="required view_n2" maxlength="100" value="<?if(!empty($projectData -> PROPERTY_TIME_VALUE)){echo $projectData -> PROPERTY_TIME_VALUE;}else{echo "7 дней";};?>" placeholder="">
								<span class="js-error error-message"></span>
								<div class="slider slider_time"></div>
								<p class="count left">
									<span class="b">Мало</span>
								</p>
								<p class="count center">
									<span class="b">Нормально</span>
								</p>
								<p class="count right">
									<span class="b">Самое то!</span>
								</p>
								<div id="slider-result"></div>  
							</div>
						</div>
						<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
						<!--<div class="step active" id="deneg_day">
							<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
						</div>-->	
						<div class="step active" id="deneg_day">
							<a id="nextstep" class="js-submit btn" href="/basket">Перейти к оплате</a>
						</div>						
					</form>
				</div>
				</div>
			</div>
			<div class="right_bn">
				<div class="right_bn_inner">
					<input type="hidden" id="select_step_1" class="select_val" value="<?if(!empty($projectData -> PROPERTY_ID_FLAT_VALUE)){echo $projectData -> PROPERTY_ID_FLAT_VALUE;};?>"/>
					<input type="hidden" id="id_order" value="<?if(!empty($projectData -> ID)){echo $projectData -> ID;};?>"/>
					<?= $this->partial('plan/partials/right_bn.phtml', array('access' => $access, 'auth' => $auth, 'starting_price' => $starting_price, 'projectData' => $projectData, 'url' => $url, 'nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'nextstepfile' => $nextstepfile, 'PLAN_SAVE' => $PLAN_SAVE, 'PLAN_OPTION_SAVE' => $PLAN_OPTION_SAVE)) ?>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$( ".price_square" ).slider({
		animate: true,
		range: "min",
		value: 50,
		min: 100,
		max: 1000,
		step: 10,
		//Получаем значение и выводим его на странице
		slide: function( event, ui ) {
		var val = $(' <span class="rur"> &#8381;<span>')
			$("#price_square").attr("value",ui.value + val.text());
			var price_cube = ui.value * $("#layout").val();
			var percent = price_cube/100 * 20;
			var price = price_cube + percent;
			$("#result_price").html(price);
			$(".right_bn .prop .price .summ").html(price);
		},
		//Обновляем скрытое поле формы, так что можно передать данные с помощью формы
		/*change: function(event, ui) { 
			$('#hidden').attr('value', ui.value);
		}*/
	});
	$(".slider_time").slider({
		animate: true,
		range: "min",
		value: 50,
		min: 1,
		max: 365,
		step: 1,
		//Получаем значение и выводим его на странице
		slide: function( event, ui ) {
			var val = ' дней';
			$("#slider_time").attr("value",ui.value + val);
		},
		//Обновляем скрытое поле формы, так что можно передать данные с помощью формы
		/*change: function(event, ui) { 
			$('#hidden').attr('value', ui.value);
		}*/
	});


</script>

<script>
	$(function() {
		var offset = $(".right_bn_inner").offset();
		
		var offset_footer = $("footer").offset();
		var topPadding = 15;
		
		$(window).scroll(function() {
			if(offset_footer.top != $("footer").offset().top){
				offset_footer = $("footer").offset();
				console.log(offset_footer)
			
			}
			if ($(window).scrollTop() > offset.top) {
				if($(window).scrollTop() < offset_footer.top - ($(".right_bn_inner").height() + 150)){
					$(".right_bn_inner").stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding}, 0);
				}
			}
			else {	
				$(".right_bn_inner").stop().animate({marginTop: 0}, 0);
			};
			});
	});
</script>
