<style>
    .proomer-widget {
        display: none;
    }
</style>
<div id="proomer-widget" class="proomer-widget">
    <!-- @author Роман Камлюк <roman@kamlyuk.com> -->
    <div class="proomer-widget-modal">
        <div class="proomer-widget-modal-window-wrapper">
            <div class="proomer-widget-modal-background"></div>
            <div class="proomer-widget-modal-padding">
                <div class="proomer-widget-modal-window">
                    <div class="proomer-widget-modal-header">Выбор дизайн-проекта</div>
                    <a class="proomer-widget-modal-close"></a>
                    <div class="proomer-widget-modal-steps">
                        <a class="proomer-widget-modal-step proomer-widget-modal-step-1 proomer-widget-active" data-step="1"><span class="proomer-widget-modal-step-number">1</span>Выбор жилого комплекса</a><!--
                        --><a class="proomer-widget-modal-step proomer-widget-modal-step-2 proomer-widget-disable" data-step="2"><span class="proomer-widget-modal-step-number">2</span>Выбор дома</a><!--
                        --><a class="proomer-widget-modal-step proomer-widget-modal-step-3 proomer-widget-disable" data-step="3"><span class="proomer-widget-modal-step-number">3</span>Выбор квартиры</a><!--
                        --><a class="proomer-widget-modal-step proomer-widget-modal-step-4 proomer-widget-disable" data-step="4"><span class="proomer-widget-modal-step-number">4</span>Выбор дизайнов</a>
                    </div>
                    <div class="proomer-widget-modal-body">
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-1 proomer-widget-hidden" data-content="1">
                            <div class="proomer-widget-modal-search">
                                <label class="proomer-widget-modal-search-label">
                                    <input class="proomer-widget-modal-search-input" placeholder="Укажите жилой комплекс или улицу" type="text">
                                    <div class="proomer-widget-modal-search-input-left"></div>
                                    <a class="proomer-widget-modal-search-button">найти</a>
                                </label>
                            </div>
                            <div class="proomer-widget-modal-complexes"></div>
                            <div class="proomer-widget-modal-footer">
                                <a class="proomer-widget-modal-footer-button-right proomer-widget-disable">Следующий этап</a>
                            </div>
                        </div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-2 proomer-widget-hidden" data-content="2">
                            <div class="proomer-widget-modal-complex-big">
                                <img class="proomer-widget-modal-complex-big-photo" width="887px">
                                <div class="proomer-widget-modal-complex-big-points"></div>
                            </div>
							<div class="proomer-widget-modal-right-column-background"></div>
							<div class="proomer-widget-modal-right-column">
								<a class="proomer-widget-modal-right-column-close"></a>
                                <div class="proomer-widget-modal-title">Параметры поиска квартиры</div>
                                <form class="proomer-widget-modal-form">
									<select class="proomer-widget-modal-form-select" name="house">
										<option class="proomer-widget-modal-form-option" selected >Выберите дом</option>
									</select>
                                    <label class="proomer-widget-modal-form-label">
                                        <span class="proomer-widget-modal-form-label-text">Подъезд</span>
                                        <select class="proomer-widget-modal-form-select" name="entrance">
                                            <option class="proomer-widget-modal-form-option" selected >Выберите подъезд</option>
                                        </select>
                                    </label>
                                    <label class="proomer-widget-modal-form-label">
                                        <span class="proomer-widget-modal-form-label-text">Этаж</span>
                                        <select class="proomer-widget-modal-form-select" name="floor">
                                            <option class="proomer-widget-modal-form-option" selected >Выберите этаж</option>
                                        </select>
                                    </label>
                                </form>
                                <div class="proomer-widget-modal-footer">
                                    <a class="proomer-widget-modal-footer-button-left" target="_blank">Смотреть проекты</a>
                                    <a class="proomer-widget-modal-footer-button-right proomer-widget-disable">Следующий этап</a>
                                </div>
                            </div>
                        </div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-3 proomer-widget-hidden" data-content="3">
                            <div class="proomer-widget-modal-floor">
                                <img class="proomer-widget-modal-floor-photo" width="500px">
                                <div class="proomer-widget-modal-floor-points"></div>
                            </div>
                            <div class="proomer-widget-modal-floor-selector">
								<a class="proomer-widget-modal-floor-selector-prev"></a>
								<div class="proomer-widget-modal-floor-selector-content">
									<div class="proomer-widget-modal-floor-selector-content-value" data-id=""></div>
									<div class="proomer-widget-modal-floor-selector-content-text">этаж</div>
								</div>
								<a class="proomer-widget-modal-floor-selector-next"></a>
							</div>
							<div class="proomer-widget-modal-entrance-selector">
								<a class="proomer-widget-modal-entrance-selector-prev"></a>
								<div class="proomer-widget-modal-entrance-selector-content">
									<div class="proomer-widget-modal-entrance-selector-content-value" data-id=""></div>
									<div class="proomer-widget-modal-entrance-selector-content-text">подъезд</div>
								</div>
								<a class="proomer-widget-modal-entrance-selector-next"></a>
							</div>
							<div class="proomer-widget-modal-right-column">
                                <div class="proomer-widget-modal-label">Жилой комплекс</div>
                                <div class="proomer-widget-modal-title"></div>
                                <div class="proomer-widget-modal-separator"></div>
                                <table class="proomer-widget-modal-info">
                                    <tr class="proomer-widget-modal-info-row">
                                        <td class="proomer-widget-modal-info-cell">Улица</td>
                                        <td class="proomer-widget-modal-info-cell" data-street></td>
                                    </tr>
                                    <tr class="proomer-widget-modal-info-row">
                                        <td class="proomer-widget-modal-info-cell">Дом</td>
                                        <td class="proomer-widget-modal-info-cell" data-house></td>
                                    </tr>
                                    <tr class="proomer-widget-modal-info-row">
                                        <td class="proomer-widget-modal-info-cell">Подъезд</td>
                                        <td class="proomer-widget-modal-info-cell" data-entrance></td>
                                    </tr>
                                    <tr class="proomer-widget-modal-info-row">
                                        <td class="proomer-widget-modal-info-cell">Этаж</td>
                                        <td class="proomer-widget-modal-info-cell" data-floor></td>
                                    </tr>
                                </table>
                                <div class="proomer-widget-modal-separator"></div>
                                <form class="proomer-widget-modal-form">
                                    <label class="proomer-widget-modal-form-label">
                                        <span class="proomer-widget-modal-form-label-text">Этаж</span>
                                        <select class="proomer-widget-modal-form-select" name="floor">
                                            <option class="proomer-widget-modal-form-option" selected >Выберите этаж</option>
                                        </select>
                                    </label>
                                    <label class="proomer-widget-modal-form-label">
                                        <span class="proomer-widget-modal-form-label-text">Квартира</span>
                                        <select class="proomer-widget-modal-form-select" name="apartment">
                                            <option class="proomer-widget-modal-form-option" selected >Выберите квартиру</option>
                                        </select>
                                    </label>
                                </form>
                                <div class="proomer-widget-modal-footer">
                                    <a class="proomer-widget-modal-footer-button-center">Следующий этап</a>
                                </div>
                            </div>
                        </div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-4 proomer-widget-hidden" data-content="4">
                            <div class="proomer-widget-modal-info" data-design-more="1">
								<div class="proomer-widget-modal-info-title"></div>
								<div class="proomer-widget-modal-info-container">
									<a class="proomer-widget-modal-info-close" data-design-hide="1"></a>
									<div class="proomer-widget-modal-info-column owl-theme"></div><!--
									--><div class="proomer-widget-modal-info-column">
										<table class="proomer-widget-modal-info-table">
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell proomer-widget-modal-info-cell-head">Площадь:</td>
												<td class="proomer-widget-modal-info-cell proomer-widget-modal-info-cell-head"><span data-square></span> м<sup>2</sup></td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Мебель:</td>
												<td class="proomer-widget-modal-info-cell"><span data-furniture></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Свет:</td>
												<td class="proomer-widget-modal-info-cell"><span data-light></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Сантехника:</td>
												<td class="proomer-widget-modal-info-cell"><span data-plumbing></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Электроника:</td>
												<td class="proomer-widget-modal-info-cell"><span data-electronics></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Текстиль:</td>
												<td class="proomer-widget-modal-info-cell"><span data-materials></span> р.</td>
											</tr>
										</table>
										<table class="proomer-widget-modal-info-table">
											<tr class="proomer-widget-modal-info-row-footer">
												<td class="proomer-widget-modal-info-cell-footer">
													<div class="proomer-widget-modal-info-cell-footer-text">Цена комплектации</div>
													<div class="proomer-widget-modal-info-cell-footer-number"><span data-sum></span> р.</div>
												</td>
												<td class="proomer-widget-modal-info-cell-footer">
													<a class="proomer-widget-modal-info-button">Скачать дизайн-проект</a>
												</td>
											</tr>
										</table>
									</div>
								</div>
                            </div>
                            <div class="proomer-widget-modal-designs"></div>
                        </div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-one-design proomer-widget-hidden" data-content="4">
							<div class="proomer-widget-modal-info" data-design-more="1">
								<div class="proomer-widget-modal-info-title"></div>
								<div class="proomer-widget-modal-info-container">
									<a class="proomer-widget-modal-info-close" data-design-hide="1"></a>
									<a class="proomer-widget-modal-info-column"></a><!--
									--><div class="proomer-widget-modal-info-column">
										<table class="proomer-widget-modal-info-table">
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell proomer-widget-modal-info-cell-head">Площадь:</td>
												<td class="proomer-widget-modal-info-cell proomer-widget-modal-info-cell-head"><span data-square></span> м<sup>2</sup></td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Мебель:</td>
												<td class="proomer-widget-modal-info-cell"><span data-furniture></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Свет:</td>
												<td class="proomer-widget-modal-info-cell"><span data-light></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Сантехника:</td>
												<td class="proomer-widget-modal-info-cell"><span data-plumbing></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Электроника:</td>
												<td class="proomer-widget-modal-info-cell"><span data-electronics></span> р.</td>
											</tr>
											<tr class="proomer-widget-modal-info-row">
												<td class="proomer-widget-modal-info-cell">Текстиль:</td>
												<td class="proomer-widget-modal-info-cell"><span data-materials></span> р.</td>
											</tr>
										</table>
										<table class="proomer-widget-modal-info-table">
											<tr class="proomer-widget-modal-info-row-footer">
												<td class="proomer-widget-modal-info-cell-footer">
													<div class="proomer-widget-modal-info-cell-footer-text">Цена комплектации</div>
													<div class="proomer-widget-modal-info-cell-footer-number"><span data-sum></span> р.</div>
												</td>
												<td class="proomer-widget-modal-info-cell-footer">
													<a class="proomer-widget-modal-info-button">Скачать дизайн-проект</a>
												</td>
											</tr>
										</table>
									</div>
								</div>
                            </div>
                        </div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-loading"></div>
                        <div class="proomer-widget-modal-content proomer-widget-modal-content-not-found proomer-widget-hidden">
                            <div class="proomer-widget-modal-content-text">
                                Мы не нашли подходящих для вас готовых дизайн-проектов.<br>
                                Но вы можете заказать индидуальное решение на <a href="https://proomer.ru" target="_blank">proomer.ru</a> прямо сейчас.
                            </div>
                            <div class="proomer-widget-modal-footer">
                                <a class="proomer-widget-modal-footer-button-center" href="https://proomer.ru/project/step1/" target="_blank">Заказать дизайн-проект</a>
                            </div>
                        </div>
                    </div>
                    <div class="proomer-widget-modal-footer-menu">
                        <a class="proomer-widget-modal-footer-menu-ask-question">
                            <svg class="proomer-widget-modal-footer-menu-ask-question-icon" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
                                <path class="proomer-widget-svg-fill" d="m 5.0237608,16.002552 0,-4.08 a 6,6 0 0 1 1,-11.92000046 l 4.0000002,0 a 6.0025515,6.0025515 0 0 1 0.35,12.00000046 z m 1,-14.0000005 a 4,4 0 1 0 0,8.0000005 l 1,0 0,2 2.67,-2 0.3300002,0 a 4,4 0 0 0 0,-8.0000005 l -4.0000002,0 z"/>
                            </svg><!--
                            --><span class="proomer-widget-modal-footer-menu-ask-question-text">Задать вопрос</span>
                        </a>
                        <a class="proomer-widget-modal-footer-menu-order-design">
                            <svg class="proomer-widget-modal-footer-menu-order-design-icon" xmlns="http://www.w3.org/2000/svg" width="14px" height="16px">
                                <path class="proomer-widget-svg-fill" d="M8.41,0H0V16H13V4.59ZM11,14H2V2H7.59L8,2.41V5h2.59L11,5.41V14Z"/>
                            </svg><!--
                            --><span class="proomer-widget-modal-footer-menu-order-design-text">Заказать дизайн-проект</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="proomer-widget-modals-wrapper">
		<div class="proomer-widget-modals">
			<form class="proomer-widget-modals-window" data-modals="close" method="POST">
				<input type="hidden" name="developer_id">
				<input type="hidden" name="bank_id">
				<input type="hidden" name="site_name">
				<input type="hidden" name="form" value="close">
				<a class="proomer-widget-modals-close"></a>
				<div class="proomer-widget-modals-header">
					<p class="proomer-widget-modals-title">Не нашли, что искали?</p>
					<p class="proomer-widget-modals-description">Расскажите что Вы искали, мы обязательно поможем Вам</p>
				</div>
				<label>
					<span class="proomer-widget-modals-input-text">Ваше имя</span>
					<input class="proomer-widget-modals-input" type="text" name="name">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Телефон</span>
					<input class="proomer-widget-modals-input proomer-widget-required" type="text" name="phone">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Что искали</span>
					<textarea class="proomer-widget-modals-input" type="text" name="comment"></textarea>
				</label>
				<a class="proomer-widget-modals-button">Отправить</a>
				<p class="proomer-widget-modals-footer">
					Ваши контактные данные никогда не будут<br>
					переданы третьим лицам
				</p>
			</form>
			<form class="proomer-widget-modals-window" data-modals="question" method="POST">
				<input type="hidden" name="developer_id">
				<input type="hidden" name="bank_id">
				<input type="hidden" name="site_name">
				<input type="hidden" name="form" value="question">
				<a class="proomer-widget-modals-close"></a>
				<div class="proomer-widget-modals-header">
					<p class="proomer-widget-modals-title">Есть вопрос?</p>
					<p class="proomer-widget-modals-description">Напишите его нам, мы обязательно Вам ответим</p>
				</div>
				<label>
					<span class="proomer-widget-modals-input-text">Ваше имя</span>
					<input class="proomer-widget-modals-input" type="text" name="name">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Телефон</span>
					<input class="proomer-widget-modals-input proomer-widget-required" type="text" name="phone">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Ваш вопрос</span>
					<textarea class="proomer-widget-modals-input" type="text" name="question"></textarea>
				</label>
				<a class="proomer-widget-modals-button">Отправить</a>
				<p class="proomer-widget-modals-footer">
					Ваши контактные данные никогда не будут<br>
					переданы третьим лицам
				</p>
			</form>
			<form class="proomer-widget-modals-window" data-modals="design" method="POST">
				<input type="hidden" name="developer_id">
				<input type="hidden" name="bank_id">
				<input type="hidden" name="site_name">
				<input type="hidden" name="form" value="design">
				<input type="hidden" name="design_id">
				<a class="proomer-widget-modals-close"></a>
				<div class="proomer-widget-modals-header">
					<p class="proomer-widget-modals-title">Понравился проект?</p>
					<p class="proomer-widget-modals-description">Получите спецификацию</p>
				</div>
				<label>
					<span class="proomer-widget-modals-input-text">Ваше имя</span>
					<input class="proomer-widget-modals-input" type="text" name="name">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Телефон</span>
					<input class="proomer-widget-modals-input proomer-widget-required-one" type="text" name="phone">
				</label>
				<label>
					<span class="proomer-widget-modals-input-text">Электронная почта</span>
					<input class="proomer-widget-modals-input proomer-widget-required-one" type="text" name="email">
				</label>
				<a class="proomer-widget-modals-button">Отправить</a>
				<p class="proomer-widget-modals-footer">
					Ваши контактные данные никогда не будут<br>
					переданы третьим лицам
				</p>
			</form>
			<div class="proomer-widget-modals-window proomer-widget-margin-small" data-modals="image">
				<div class="proomer-widget-modals-window-pre-wrapper">
					<div class="proomer-widget-modals-window-wrapper"></div>
				</div>
				<a class="proomer-widget-modals-close"></a>
			</div>
			<div class="proomer-widget-modals-background"></div>
		</div>
	</div>
	<div class="proomer-widget-modals-wrapper-inform">
		<div class="proomer-widget-modals">
			<div class="proomer-widget-modals-window" data-modals="success">
				<a class="proomer-widget-modals-close"></a>
				<div class="proomer-widget-modals-header">
					<p class="proomer-widget-modals-title">Сообщение успешно отправлено</p>
					<p class="proomer-widget-modals-description">Мы ответим Вам в ближайшее время.</p>
				</div>
			</div>
			<div class="proomer-widget-modals-window" data-modals="error">
				<a class="proomer-widget-modals-close"></a>
				<div class="proomer-widget-modals-header">
					<p class="proomer-widget-modals-title">Сообщение не отправлено</p>
					<p class="proomer-widget-modals-description">Проверьте интернет-соединение и попробуйте отправить ещё раз.</p>
				</div>
			</div>
			<div class="proomer-widget-modals-background"></div>
		</div>
	</div>
	<div class="proomer-widget-loading"></div>
    <a class="proomer-widget-button">
        <span class="proomer-widget-button-info">
            <span class="proomer-widget-button-info-text"></span>
            <span class="proomer-widget-button-info-shadow"></span>
        </span>
        <span class="proomer-widget-button-wave"></span>
        <span class="proomer-widget-button-circle">
            <span class="proomer-widget-button-circle-icon"></span>
            <span class="proomer-widget-button-circle-cell"></span>
        </span>
    </a>