<?
	$user = $this->user;
	$arrSale = $this->arrSale;
?>
<?=$this->partial("_partials/profile/provider/subsidebar.phtml",['type'=> $type])?>
<?=$this->partial("_partials/profile/provider/head_market.phtml",['user'=> $user])?>

<style>
	.profile-inner-page .design-list .item {
		margin: 0 27px 29px 0;
	}
	.profile-inner-page .design-list .item:nth-child(3n) {
		margin: 0 0 29px 0;
	}
	.profile-inner-page .design-list .item{
		width:245px;
		height:390px;
	}
	.profile-inner-page .design-list .item.disabled{
		display:none;
	}
	.profile-inner-page .feature-list{
		position: relative;
	}
	.profile-inner-page .design-list .item {
		margin: 0 27px 29px 0;
	}
	.profile-inner-page .design-list .item:nth-child(3n) {
		margin: 0 0 29px 0;
	}			
	.profile-inner-page .design-list .out-feature-item {
		height: 400px;
		padding: 0 10px 0 0;
	}
	.profile-inner-page .design-list .out-feature-item.disabled{
		display:none;
	}
	.profile-inner-page .design-list .out-feature-item{
		padding:0 10px;
	}
	.profile-inner-page .design-list .feature-item{
		border: 1px solid rgba(1, 1, 1, 0.05);
		box-sizing: border-box;
		margin-bottom: 18px;
		overflow: hidden;
		padding: 20px 20px;
		position: relative;
		background:#fff;
	}
	.profile-inner-page .design-list .out-feature-item img{
		max-height:241px;
		width:100%;
	}
	.profile-inner-page .design-list {
		text-align: center;
	}
	.profile-inner-page .preview360-gallery, .profile-inner-page .preview360-gallery > img {
	  height: 238px;
	  width: 238px;
	}
	.profile-inner-page .preview360-gallery {
		height: 238px;
		width: auto;
		position: relative;
	}
	.profile-inner-page .preview360-gallery > img {
		height: 238px;
		width: 238px;
		left: 0;
		position: absolute;
	}
	.profile-inner-page .preview360-hide {
	  z-index:9;
	}
	.profile-menu li{
		display:inline-block;
		margin-right:40px;
		height:40px;
	}
	.profile-menu li a.active{
		border-bottom: 3px solid #00bbe4;
		color: #252525;
	}
	.profile-menu{
		margin-bottom:-1px;
	}
	.profile-menu li a{
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#a4a4a4;
		height: 40px;
		margin-bottom: -1px;
	}
	.profile-inner-page .results .design-list{
		margin:0 -10px;
	}
	.profile-inner-page .top{
		border-bottom:1px solid #e2e2e2;
		margin-bottom:30px;
		padding-top:5px;
	}
	.profile-inner-page .profile-content{
		padding: 15px 0 100px 0px;
		margin-left: 30px;
	}
	.orders{
		width:100%;
	}
	.orders thead th{
		font: 600 10px 'PTSansBold',sans-serif;
		color:#a6a6a6;
		text-transform:uppercase;
		padding:14px 30px;
	}
	.wrap_orders{
		background:#f7f7f7;
	}

	.orders tbody tr{
		background:#fff;
		border: 1px solid #ededed;
	}
	.orders tbody tr td{
		padding:24px 30px;
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#252525;
	}
	.orders tbody tr a{
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#077fed;
		text-decoration:underline;
	}
	.orders tbody tr a:hover{
		text-decoration:none;
	}
	.orders tbody tr td.status{
		text-transform:lowercase;
		font: 400 13px 'PTSansRegular',sans-serif;
		color:#fff;
	}
	.orders tbody tr td.status.open span{
		background:#9ec63d;
		padding:3px 11px;
		border-radius:3px;
	}
	.orders tbody tr td.status.finished span{
		background:#dc6878;
		padding:3px 11px;
		border-radius:3px;
	}
	.orders tbody tr td.plan{
		font: 400 15px 'PTSansRegular',sans-serif;
		text-transform:lowercase;
		position:relative;
	}
	.orders tbody tr td.plan::before{
		content: " ";
		background: url(/local/images/sprite_r.png) -360px -349px no-repeat;
		width: 14px;
		height: 18px;
		position: absolute;
		left: 9px;
		bottom: -3px;
		top: 0;
		margin: auto;
	}
	.orders tbody tr td.delete{
		padding:30px 0;
	}
	.orders tbody tr td.delete span{
		background: url(/local/images/sprite_r.png) -384px -349px no-repeat;
		width: 15px;
		height: 15px;
		display: block;
		margin:0 auto;
		cursor:pointer;
	}
	.wrap_orders .menu{
		background:#fff;
		border-right: 1px solid #ededed;
		border-left: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
	}
	.wrap_orders .menu ul li{
		display:inline-block;
		padding:11px 0;
		margin-bottom:-1px;
	}
	.wrap_orders .menu ul li a{
		font: 400 17px 'PTSansRegular',sans-serif;
		display:inline-block;
		padding:14px 30px;
		color#a6a6a6;
		border-right:1px solid #ededed;
	}
	.wrap_orders .menu ul li.last a{
		border-right:none;
	}
	.wrap_orders .menu ul li.ui-tabs-active{
		border-bottom:3px solid #3fb1da;
	}
	.wrap_orders .menu ul li.ui-tabs-active a{
		font: 600 17px 'PTSansBold',sans-serif;
	}
	.wrap_orders .menu ul li a .count{
		font: 400 7px 'PTSansRegular',sans-serif;
		color:#a4a4a4;
		vertical-align:top;
	}
</style>
<div class="content-container">
	<h2>Заявки</h2>
	<div class="results">
		<div class="wrap_orders">
			<div id="tabs">
				<div class="menu">
					<ul>
						<li class="active"><a href="#open">Текущие <span class="count"></span></a></li>
						<li class="last"><a href="#finished">Завершенные <span class="count"></span></a></li>
					</ul>
				</div>
				<table class="orders">
					<thead>
						<tr>
							<th>
								<input id="tbl_sale_pay_system_check_all" class="adm-checkbox adm-designed-checkbox" type="checkbox" title="Отметить все/Снять отметку у всех" onclick="tbl_sale_pay_system.SelectAllRows(this); return BX.eventCancelBubble(event);">
								<label class="adm-designed-checkbox-label" for="tbl_sale_pay_system_check_all"></label>
							</th>
							<th>Дата</th>
							<th>Контрагент</th>
							<th>Наименование товара</th>
							<th>Стоимость</th>
							<th>Статус</th>
						</tr>
					</thead>
					<tbody id="open">
						<?foreach($arrSale as $sale){?>
							<tr class="competition" data-id-competition="">
								<td>								
									<input id="tbl_sale_pay_system_check_all" class="adm-checkbox adm-designed-checkbox" type="checkbox" title="Отметить все/Снять отметку у всех" onclick="tbl_sale_pay_system.SelectAllRows(this); return BX.eventCancelBubble(event);">
									<label class="adm-designed-checkbox-label" for="tbl_sale_pay_system_check_all"></label>
								</td>
								<td><?=$sale['DATE_INSERT']?></td>
								<td><a href=""></a></td>
								<td class="">Заказ №<?=$sale['ORDER_ID']?>
									<?foreach($sale['PRODUCT'] as $product){?>
										<div><img class="ico" src="<?=$product['ICON']?>"/><?=$product['NAME']?></div>
									<?}?>
								</td>
								<td><br/>
									<?foreach($sale['PRODUCT'] as $product){?>
										<div><?=$product['PRICE']?></div>
									<?}?>
								</td>
								<td></td>
							</tr>
						<?}?>
					</tbody>
					<!--<tbody id="finished">
						<tr class="competition" data-id-competition="">
							<td><a href=""></a></td>
							<td> Р/м&#178;</td>
							<td class="finished status"><span>Завершен</span></td>
							<td class="plan"><a href="" download>Планировка</a></td>
							<td class="delete js-cancel-part"><span title="Отменить участие"></span></td>
						</tr>
					</tbody>-->
				</table>
			</div>
		</div>
	</div>
</div>