<?
    $designs = $this->itemList;
?>

<? if (!empty($designs)) { ?>
    <div class="design-list">
        <? foreach ($designs as $item) { ?>
            <? $item->STATUS = $this->status[$item->PROPERTY_STATUS_ENUM_ID]['XML_ID'] ?>
            <?= $this->partial("design/partials/design-item.phtml", ["item" => $item, "designer" => false, "profile" => true]) ?>
        <? } ?>
    </div>

    <?= $this->paginationControl(
        $this->paginator,
        'Sliding',
        '_partials/paginator_r.phtml'
    ); ?>
<? } else { ?>
    <?= $this->partial("_partials/not-found-status/design.phtml", ["message" => "<p>Вы ещё не добавили дизайн-проекты на proomer.ru.</p><p>Сделайте это прямо сейчас.</p>"]) ?>
<? } ?>