
<?
    $designs = $this->itemList;
?>


			<style>
			.profile-inner-page .design-list .item {
				margin: 0 27px 29px 0;
			}
			.profile-inner-page .design-list .item:nth-child(3n) {
				margin: 0 0 29px 0;
			}
			.profile-inner-page .design-list .item{
				width:245px;
				height:390px;
			}
			.profile-inner-page .design-list .item.disabled{
				display:none;
			}
			.profile-inner-page .feature-list{
				position: relative;
			}
			.profile-inner-page .design-list .item {
				margin: 0 27px 29px 0;
			}
			.profile-inner-page .design-list .item:nth-child(3n) {
				margin: 0 0 29px 0;
			}			
			.profile-inner-page .design-list .out-feature-item {
				height: 400px;
				padding: 0 10px 0 0;
			}
			.profile-inner-page .design-list .out-feature-item.disabled{
				display:none;
			}
			.profile-inner-page .design-list .out-feature-item{
				padding:0 10px;
			}
			.profile-inner-page .design-list .feature-item{
				border: 1px solid rgba(1, 1, 1, 0.05);
				box-sizing: border-box;
				margin-bottom: 18px;
				overflow: hidden;
				padding: 20px 20px;
				position: relative;
				background:#fff;
			}
			.profile-inner-page .design-list .out-feature-item img{
				max-height:241px;
				width:100%;
			}
			.profile-inner-page .design-list {
				text-align: center;
			}
			.profile-inner-page .preview360-gallery, .profile-inner-page .preview360-gallery > img {
			  height: 238px;
			  width: 238px;
			}
			.profile-inner-page .preview360-gallery {
				height: 238px;
				width: auto;
				position: relative;
			}
			.profile-inner-page .preview360-gallery > img {
				height: 238px;
				width: 238px;
				left: 0;
				position: absolute;
			}
			.profile-inner-page .preview360-hide {
			  z-index:9;
			}
			.profile-menu li{
				display:inline-block;
				margin-right:40px;
				height:40px;
			}
			.profile-menu li a.active{
				border-bottom: 3px solid #00bbe4;
				color: #252525;
			}
			.profile-menu{
				margin-bottom:-1px;
			}
			.profile-menu li a{
				font: 400 15px 'PTSansRegular',sans-serif;
				color:#a4a4a4;
				height: 40px;
				margin-bottom: -1px;
			}
			.profile-inner-page .results .design-list{
				margin:0 -10px;
			}
			.profile-inner-page .top{
				border-bottom:1px solid #e2e2e2;
				margin-bottom:30px;
			}
			.profile-inner-page .profile-content{
				display: inline-block;
				vertical-align: top;
				/* width: 100%; */
				width: 898px;
			}
			.profile-inner-page .profile-content{
				padding: 0 0 100px 0px;
				margin-left: 30px;
			}
			</style>

<div class="content-container">
    <?= EZendManager::profileSidebar() ?>
	
    <div class="profile-content">
		<div class="top">
			<?= EZendManager::profileMenu() ?>
			<!--<h2>Мои дизайн-проекты</h2>-->
			<a href="<?= $this->url([], 'profile-design-add')?>" class="add-project">Добавить новый проект</a>

			<!--<div class="filter-form js-profile-filter-form">
				<div class="js-form-wrapper">
				<?= $this->filter ?>
				</div>
				<a href="javascript:void(0);" class="js-switcher-filter switcher active under-link">Свернуть фильтр</a>
			</div>-->
		</div>
        <div class="results">
			<? $url = Zend_Registry::get("BX_APPLICATION")->GetCurPage(); ?>		
            <!--<div class="filter"<?= (empty($designs))? ' style="visibility:hidden"' : '' ?>>
                <?//= EZendManager::sorting("design") ?>
                <?//= EZendManager::elementCntList(true) ?>
            </div>-->

            <div class="js-ajax-list-content">
                <?= $this->render('profile/design.ajax.phtml') ?>				
            </div>
        </div>
    </div>
</div>