a.bx-prev {
  height: 16px;
}
a.bx-next {
  height: 16px;
}


.bxslider-room-control {
  width: 32px;
  height: 16px;
}
  .bxslider-room-control {
    width: 32px;
    height: 16px;
  }
  .bxslider-room-control a {
    width: 32px;
    height: 16px;
    background-image: url('/local/images/slider-pager.png');
    background-repeat:no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }
  .bxslider-room-control-prev a{
    width: 32px;
    height: 16px;
    background-position: 0 0;
  }
  .bxslider-room-control-prev a:hover {
    width: 32px;
    height: 16px;
    background-position: 0 -19px;
  }
  .bxslider-room-control-next a {
    width: 32px;
    height: 16px;
    background-position: -34px 1px;
  }
  .bxslider-room-control-next a:hover {
    width: 32px;
    height: 16px;
    background-position: -34px -18px;
  }

  .bx-pager {
    margin: 0 !important;
  }

.design-styles{
  -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background-color: transparent;
     border-color: #252525 transparent #252525 #252525;
     border-image: none;
     border-style: solid;
     border-width: 1px;
     box-sizing: border-box;
     color: #252525;
     display: inline-block;
     font: 400 13px "RobotoRegular",sans-serif;
     height: 30px;
     margin: 0 15px 5px 0;
     padding: 5px 14px 21px 8px;
     position: relative;
     transition: all 0.3s ease 0s;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}

.design-styles:before {
 transition: all .3s ease;
 content: "";
 position: absolute;
 right: -30px;
 opacity: 0;
}

.design-styles:after {
  border-right: 1px solid #252525;
  border-top: 1px solid #252525;
  border-top-right-radius: 5px;
     content: "";
     height: 22px;
     position: absolute;
     right: -11px;
     top: 3px;
     transform: rotate(45deg);
     width: 20px;
}

/* 360 Preview */
.preview360-gallery-d {
  height: 800px;
  width: 800px;
  position: relative;
}
.preview360-gallery-d > img {
  height: 800px;
  width: 800px;
  position: absolute;
}
.preview360-hide {
  z-index: 9;
}
.preview360-background-d {
  background-color: #fafafa;
  height: 800px;
  opacity: 1;
  position: absolute;
  width: 800px;
  z-index: 11;
}

.product-btn-basket {
    background-color: #4ebde3;
    border-bottom-left-radius: 12%;
    border-top-left-radius: 12%;
    bottom: 15px;
    height: 35px;
    position: absolute;
    right: 0;
    width: 50px;
}

.basket-detail {
    background: rgba(0, 0, 0, 0) url("/local/images/sprite_r.png") no-repeat scroll -5px -109px;
    bottom: 16px;
    height: 15px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    transition: box-shadow 0.3s ease 0s;
    width: 15px;
}
