<?
	$complexList = $this->complexList;
	$builder = $this->builder;
?>
<div class="content-container">
	<div class="builder-left-block">
		<div  class="logo_builder"><img class="picture" alt="" src="<?=$builder->PREVIEW_PICTURE?>"/></div>
		<div class="builder-center-office builder-props">
			<h3 class="sub-title">Центральный офис</h3>
			<div class="props">
				<ul>
					<li class="locality"><?=$builder->PROPERTY_ADDRESS_CENTER_VALUE?></li>
					<li class="phone"><?
										$total = count($builder->PROPERTY_NUMBER_CENTER_VALUE);
										$counter = 0;
										foreach($builder->PROPERTY_NUMBER_CENTER_VALUE as $value){
											$counter++;
											if($counter == $total){
												echo $value;
											}
											else{
												echo $value.', ';
											}
										}			
									?>
					</li>
					<li class="site"><a target="_blank" class="under-link blue" href="<?=$builder->PROPERTY_SITE_VALUE?>"><?=$builder->PROPERTY_SITE_VALUE?></a></li>
					<!--<li class="map"><a class="under-link blue" href="">Найти на карте</a></li>-->
				</ul>
			</div>
		</div>
		<div class="builder-sale-office builder-props">
			<h3 class="sub-title">Офис продаж</h3>
			<div class="props">
				<ul>
					<li class="locality"><?echo print_r($builder->PROPERTY_ADDRESS_SALE_VALUE)?></li>
					<li class="phone"><?
										$total = count($builder->PROPERTY_NUMBER_SALE_VALUE);
										$counter = 0;
										foreach($builder->PROPERTY_NUMBER_SALE_VALUE as $value){
											$counter++;
											if($counter == $total){
												echo $value;
											}
											else{
												echo $value.', ';
											}
										}			
									?></li>
			
					<!--<li class="map"><a href="">Найти на карте</a></li>-->
				</ul>
			</div>
		</div>
		<div class="builder-sale-office builder-props">
			<h3 class="sub-title">Если у вас есть вопросы к застройщику:</h3>
			<div class="btn-wrapper">
				<a href="#feedbackbuilder" class="btn blue waves-effect view_n3 js-fancybox fancyboxLink">Задать вопрос</a>
			</div>
		</div>
	</div>

	<div class="builder-right-block">
		<div class="builder-head-block">
			<div class="builder-title-block">
				<h1 class="main-title"><?=$builder->NAME?></h1>
			</div>
			<div class="bread_crumbs">
				
			</div>
			<div class="navi js-complex-detail-nav">
				<ul>
					<li><a href="/#builder-catalog-block" class="linkblock selected" data-for="builder-catalog-block">Жилые комплексы</a></li>
					<li><a href="/#builder-about-block" class="linkblock" data-for="builder-about-block">О компании</a></li>
				</ul>
			</div>
		</div>	
		<div class="block builder-catalog-block" id="builder-catalog-block">
			<h2 class="title">Жилые комплексы</h2>	
			
				
				<? if (count($complexList->pageData->totalItemsCount) > 0): ?>
				<div class="complex-list">
				<? foreach ($complexList->items as $item): ?>
				<?= $this->partial("builder/partials/complex-item.phtml", ["item" => $item]) ?>
				<? endforeach ?>
				</div>

				<? else: ?>
				<?= $this->partial("_partials/not-found-status/complex.phtml", ["message" => " <p>Ничего не найдено.</p>"]) ?>
				<? endif ?>

			
					<div class="clearfix"></div>
				
		</div>
		<div class="block builder-search-home-block disabled" id="builder-search-home-block">
			<h2 class="title">Поиск дома</h2>
		</div>
		<div class="block builder-about-block disabled" id="builder-about-block">
			<h2 class="title">О компании</h2>
			<div class="disc">
				<?=$builder->DETAIL_TEXT?>
			</div>
		</div>
</div>