<? 

if (count($this->itemList) > 0): ?>
    <div class="design-list">
        <? foreach ($this->itemList as $item): ?>
            <?= $this->partial("project/partials/plan-item-profile.phtml", ["item" => $item, "designer" => true]) ?>
        <? endforeach ?>
    </div>
<? else: ?>
    <?= $this->partial("_partials/not-found-status/design.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]) ?>
<? endif ?>
