<div class="list-plan">
	<div class="row">
	<?if(count($this->PLAN_OPTION_ARR) > 0){?>
			<?
			
			foreach ($this->PLAN_OPTION_ARR as $item): ?>
				<?= $this->partial("design/partials/plan-item.phtml", ["item" => $item, "designer" => true]) ?>
			<?
			
			endforeach ?>	

	<?};?>
	</div>
</div>