<?
    $designer = $this->designer;
    $designs = $this->designs;
	
	$type = $designer->getType();
	$abr = substr($designer->NAME, 0, 1).substr($designer->LAST_NAME, 0, 1);
?>

<div class="content-container">
	
<div class="sidebar js-sidebar">

	<?
        if (!empty($designer->PERSONAL_PHOTO)) {
            $image = Resizer::resizeImage($designer->PERSONAL_PHOTO, "PROFILE_AVATAR");
        } else {
            $image = Resizer::resizeImage(Settings::getOptionFile('defaultAvatar'), 'PROFILE_AVATAR');
        }
		
		if($designer->UF_IMAGE_BACKGROUND){
			$designer->UF_IMAGE_BACKGROUND = Resizer::resizeImage($designer->UF_IMAGE_BACKGROUND, 'PROFILE_BACKGROUND_USER');
		}
		else{
			$designer->UF_IMAGE_BACKGROUND = false;
		}
    ?>
	
	<!--========================================================-->
	<div class="head">
		<div class="ph" style="background-image:url(<?=$designer->UF_IMAGE_BACKGROUND?>);">
			<div class="avatar" style="background-image: url('<?= $image ?>')">
				<?if(!$image){?><span><?=$abr?></span><?}?>
			</div>
		</div>
		<div class="name_user"><?=$designer->getFullName()?></div>
		<div class="group_user">
		
			<?if($type == DESIGNER_TYPE_ID){
				echo 'Дизайнер';
			}
			else if($type == PROVIDER_TYPE_ID){
				echo 'Поставщик';
			}
			else if($type == SELLER_TYPE_ID){
				echo 'Продавец'; 
			}
			else if($type == CLIENT_TYPE_ID){
				echo 'Клиент'; 
			}
			
			?>
		
		</div>
		<a class="edit_profile" href=""></a>
	</div>
	<div class="content">
		<? $time = $designer->onSiteTime(); ?>
		<div class="contacts">
		<? if (!empty($time)) { ?>
			<div class="on-site-time">
				<p class="prop">На сайте: <span class="val"><?= $time ?></span></p>
			</div>
			<?if($designs->pageData->totalItemsCount > 0){?>
				<div class="count-finished-job">
					<p class="prop">Выполнено работ:<span class="val"> <?echo $designs->pageData->totalItemsCount;?></span></p>
				</div>
			<?}?>
		<? } ?>
		</div>
		<div class="contacts">
			<?if($designer->WORK_COMPANY){?>
				<p class="prop">Компания<span class="val"><?=$designer->WORK_COMPANY?></span></p>
			<?}?>
			<?if($designer->PERSONAL_MOBILE){?>
				<p class="prop">Телефон<span class="val"><?=$designer->PERSONAL_MOBILE?></span></p>
			<?}?>
			<?if($designer->EMAIL){?>
				<p class="prop">Эл.почта<span class="val"><?=$designer->EMAIL?></span></p>
			<?}?>
			<?if($designer->PERSONAL_CITY){?>
				<p class="prop">Город<span class="val"><?=$designer->PERSONAL_CITY?></span></p>
			<?}?>
		</div>
		<div class="about">
			<?if($designer->WORK_PROFILE){?>
				<p class="prop">Обо мне <span class="val"><?=$designer->WORK_PROFILE?></span></p>
			<?}?>
			<?if($type == DESIGNER_TYPE_ID && $designer->UF_STYLES){?>		
				<p class="prop">Стиль работ</p>
				<?foreach($designer->UF_STYLES as $style){?>
					<div class="design-styles" style="font: 400 15px 'PTSansRegular',sans-serif; color:#252525;">
						<?=$style?>
					</div>
				<?}?>
			<?}?>
		</div>
		
		<div class="btn-wrap">
			<a class="btn blue waves-effect js-fancybox" id="write-mess" href="#messDesigner">Написать сообщение</a>
		</div>
		
	</div>
</div>










<style>

	
	.designer-page .design-list {
		text-align: center;
	}
	.designer-page .design-list .item:nth-child(3n) {
		margin: 0 0 29px 0;
	}
	.designer-page .design-list .item{
		width:245px;
		height:390px;
	}
	.designer-page .design-list .item.disabled{
		display:none;
	}
	.designer-page .feature-list{
		position: relative;
	}
	.designer-page .design-list .item {
		margin: 0 27px 29px 0;
	}
	.designer-page .design-list .item:nth-child(3n) {
		margin: 0 0 29px 0;
	}			
	.designer-page .design-list .out-feature-item {
		height: 400px;
		padding: 0 10px 0 0;
	}
	.designer-page .design-list .out-feature-item.disabled{
		display:none;
	}
	.designer-page .design-list .out-feature-item{
		padding:0 10px;
	}
	.designer-page .design-list .feature-item{
		border: 1px solid rgba(1, 1, 1, 0.05);
		box-sizing: border-box;
		margin-bottom: 18px;
		overflow: hidden;
		padding: 20px 20px;
		position: relative;
		background:#fff;
	}
	.designer-page .design-list .out-feature-item img{
		max-height:241px;
		width:100%;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	

	.sidebar .ph{
		position: relative;
		height: 130px;
		/* Для хороших браузеров */
		-moz-border-radius: 2px; /* Firefox */
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-khtml-border-radius: 2px; /* KHTML */
		border-radius: 2px; /* CSS3 */
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #475258;
	}
	.sidebar .content{
		padding:0 20px;
	}
	.sidebar .content .prop{
		font: 400 12px 'PTSansRegular',sans-serif;
		margin-bottom: 12px;
		color:#b1b1b1;
	}
	.sidebar .content .money{
		padding: 25px 0 0 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .money .prop .val{
		font: 600 21px 'RobotoSlabBold',sans-serif;
		color:#252525;
	}
	.sidebar .content .contacts{
		padding: 25px 0 0 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .about{
		padding: 23px 0 12px 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .prop .val{
		display:block;
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#252525;
	}
	.sidebar .ph .avatar{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-size: cover;
		margin: 0 auto;
		position: relative;
		left: 0;
		right: 0;
		bottom: -65px;
	}
	.sidebar .name_user{
		margin-top: 75px;
		text-align: center;
		font: 600 17px 'RobotoSlabBold',sans-serif;
		color:#252525;
	}
	.sidebar .group_user{
		text-align:center;
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#848484;
		margin-top:10px;
	}
	.sidebar .button_change_phone:hover{
		background: rgba( 255, 255, 255, 0.4);
	}
	.sidebar .button_change_phone{
		position:absolute;
		top:15px;
		left:15px;
		color:#fff;
		background: rgba( 255, 255, 255, 0.3);
		padding:10px 15px;
		border-radius: 15px;
		cursor:pointer;
		-webkit-transition-property: background;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease;
	}
	.sidebar .button_edit_profile{
		width: 33px;
		height: 33px;
		background: #fff url(/local/images/icons/Edit.svg);
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
		border-radius: 50%;
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: 50%;
		cursor:pointer;
	}
	.sidebar .head{
		padding:3px;
	}
	.sidebar{
		border: 1px solid #f1f2f3;
	}
	.sidebar .ph .avatar{
		background-repeat: no-repeat;
		background-size: 100%;
		border: 1px solid #f0f2f2;
	}
	.design-styles:after {
		border-right: 1px solid #dddddd;
		border-top: 1px solid #dddddd;
		border-top-right-radius: 5px;
		content: "";
		height: 22px;
		position: absolute;
		right: -11px;
		top: 3px;
		transform: rotate(45deg);
		width: 20px;
	}
	.design-styles {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: transparent;
		border-color: #dddddd transparent #dddddd #dddddd;
		border-image: none;
		border-style: solid;
		border-width: 1px;
		box-sizing: border-box;
		color: #252525;
		display: inline-block;
		font: 400 13px "RobotoRegular",sans-serif;
		height: 30px;
		margin: 0 15px 10px 0;
		padding: 5px 14px 21px 8px;
		position: relative;
		transition: all 0.3s ease 0s;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.profile-inner-page .sidebar{
		margin:0;
	}
	.profile-inner-page .sidebar .avatar span {
		background-color: #3fb1da;
		font: 400 15px 'PTSansRegular',sans-serif;
		text-align: center;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		line-height: 120px;
		font: 400 30px 'PTSansRegular',sans-serif;
		color: #fff;
		line-height:120px;
	}
	.panel{
		border:none;
	}
	.sidebar .content .on-site-time .prop .val{
		font: 600 15px 'RobotoSlabBold',sans-serif;
		color:#3fb1da;
		display: inline;
	}
	.sidebar .content .count-finished-job .prop .val{
		font: 600 15px 'RobotoSlabBold',sans-serif;
		color:#3fb1da;
		display: inline;
	}
	#write-mess{
		padding: 0 30px 0 0;
		height: 50px;
		width: 220px;
		font: 400 14px/50px 'PTSansRegular',sans-serif;
		border-radius: 3px;
		margin: 0 auto;
		display: block;
		text-align:right;
	}
	#write-mess::before {
		content: " ";
		display: block;
		position: absolute;
		background-image: url(/local/images/sprite_r.png);
		background-position: -407px -346px;
		width: 20px;
		height: 20px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		left: 18px;
	}
	
</style>
    <div class="profile-content">
        <div class="js-ajax-list-content">
            <?= $this->render('designer/detail.ajax.phtml') ?>
        </div>
    </div>
</div>