<?
	$designers = $this->itemList;
	
?>
<div class="designer_content">
<div class="content-container">
	<h1 class="mainTitle">Поиск дизайнера</h1>
	<div class="form-q">
		<div class="content-container">
			<form class="form_search js-search-form-catalog" action="" method="post">
				<div class="input-row wrap_form_search_q">
					<div class="wrap_search_input">
						<div class="search_ico"><div class="ico"></div></div>
						<input id="form_search_q" type="text" name="q" value="" placeholder="Укажите любые данные об исполнителе">
						<a class="js-search-form btn blue waves-effect">найти</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="filter">
		<?//= EZendManager::sorting("shop") ?>
		<?//= EZendManager::elementCntList() ?>	
		<div class="js-sort sort">
			<span>Сортировать по:</span>
			<!--<a class="under-link" data-type="popular" data-method="">популярности</a>-->
			<a class="under-link" data-type="reviews" data-method="">отзывам</a>
			<a class="under-link" data-type="price" data-method="">цене</a>
			<!--<a class="under-link" data-type="size" data-method="">размеру</a>-->
		</div>		
	</div>
	<div class="js-ajax-list-content">
		<?= $this->render('designer/list.ajax.phtml') ?>
	</div>
</div>
<div style="clear:both;"></div>
</div>