<?
	$designers = $this->itemList;
	$ARR_COUNTER = GetCountryArray();
?>
<?if (count($designers) > 0): ?>
<?foreach ($designers as $designer):?>
	<div class="designer_item">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2">
				<div class="designer_photo">
					<img class="designer_photo_inner" src="<?=$designer->PERSONAL_PHOTO?>">
					<div class="rating">
						<span class="n">&#9733;</span>
						<span class="n">&#9733;</span>
						<span class="n">&#9733;</span>
						<span class="n">&#9733;</span>
						<span class="n">&#9733;</span>
					</div>
					<div class="reviews">
						нет отзывов
					</div>
					<?if(CUser::IsOnLine($designer->ID)) {
					?>
						<div class="status online">
							<span>Онлайн</span>
						</div>
					<?}
					else{
					?>
						<div class="status offline">
							<span>Не в сети</span>
						</div>
					<?}?>
					<!--<div class="status offline">
						<span>Не в сети</span>
					</div>
					<div class="status busy">
						<span>Занят</span>
					</div>
					<div class="status online">
						<span>Онлайн</span>
					</div>
					<div class="status our">
						<span>Свой статус</span>
					</div>-->
				</div>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10">
				<div class="designer_data">
					<div class="designer_top_data">
						<div class="designer_name">
							<a href="/designer/<?=$designer->ID?>/"><?=$designer->NAME?> <?=$designer->LAST_NAME?></a>
						</div>
						<div class="designer_price">
						 0Р/час
						</div>
					</div>
					<div class="designer_location">
						<?=$designer->PERSONAL_CITY?>
						<?foreach($ARR_COUNTER['reference'] as $key_counter => $counter){
							if($key_counter == $designer->PERSONAL_COUNTRY){
								if($designer->PERSONAL_CITY){
									echo ', ';
								}
								echo $counter;
							}
						}?>
					</div>
					<? $time = $designer->onSiteTime(); ?>
					<div class="designer_on_site_time">
						<? if (!empty($time)){echo $time;}?> в сервисе
					</div>
					<?if($designer->WORK_PROFILE){?>
						<div class="designer_discription">
							<?=$designer->WORK_PROFILE?>			
						</div>
					<?}?>
					<div class="designer_projects">						
						<div class="feature-out">
							<div class="feature-list row">
							<?foreach($designer->DESIGN as $design){?>
								<div class="out-feature-item col-xs-4 col-sm-4 col-md-4">
									<div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
										<div style="padding-bottom: 10px;">
										<?if (isset($design->GALLERY3D)) {
											$preview_360_one = $design->GALLERY3D[0];
											unset($design->GALLERY3D[0]);
											$preview_360_json = json_encode($design->GALLERY3D);
											?>
											<div class="preview360-gallery" data-json='<?=$preview_360_json;?>'>
												<img style="width:100%;" src="<?=$preview_360_one;?>" class="preview360">
											</div>
										<?} else{?>
											<img style="width:100%;" src="<?=$design->MAIN_IMAGE;?>">
										<?} ?>					  
										</div>
										<div style="position: relative; min-height: 60px">
											<?
												$personal_photo_resize = CFile::ResizeImageGet($design->DESIGNER->PERSONAL_PHOTO, array('width'=>47, 'height'=>47), BX_RESIZE_IMAGE_EXACT, true);
												$personal_photo = $personal_photo_resize ? $personal_photo_resize['src'] : '/local/images/no-avatar-small.png'; // фото дизайнера
											?>
											<img src="<?=$personal_photo?>" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">
										</div>
										<div>
											<span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;">Proomer </span>
										</div>
										<div style="height: 70px;">
											<a href="<?if($design->PROPERTY_STATUS_ENUM_ID == DESIGN_STATUS_PUBLISHED){echo $this->url(['elementCode' => $design->CODE], 'design-detail');}else{echo '/profile/design/edit/'.$design->ID;}?>" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px; color:#333;"><?=$design->NAME?></a>
										</div>
										<div style="padding: 15px 0">
											<hr style="position: relative; top: 2px">
											<div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
												<span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span><?=(int) $design->PROPERTY_VIEW_COUNT_VALUE; ?></p>
											</div>
											<div class="col-md-6">
												<p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;"><?=$design->PRICES['PRICE']?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
											</div>
										</div>
									</div>
								</div>
							<?}?>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<?endforeach; ?>
<?= $this->paginationControl(
        $this->paginator,
        'Sliding',
        '_partials/paginator_r.phtml'
    ); ?>
<? else: ?>
    <?= $this->partial("_partials/not-found-status/design.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]) ?>
<? endif ?>