<?
/**
 * @var $item Sibirix_Model_Complex_Row
 */
$item = $this->item;
$class = $this->class;
if (!empty($item->PROPERTY_IMAGES_VALUE)) {
    $image = Resizer::resizeImage($item->PROPERTY_IMAGES_VALUE, "PLAN_PREVIEW_PHOTO");
} else {
   // $image = Resizer::resizeImage(Settings::getOptionFile('defaultComplexImage'), 'COMPLEX_LIST');
   $image = '/local/images/proomer2.png';
}
?>

<div class="col-xs-3 col-sm-3 col-md-3 plan-item plan-offset">
	<div class="plan_outer">
		<div class="plan <?=$class?>" data-id="<?=$item->ID?>">
			<div class="picture">
				<img src="<?=$image?>"/>
			</div>
			<div class="info">
				<?if($item->PROPERTY_ROOM){
				?>
				<p>Комнат: <span class="val"><?=$item->PROPERTY_ROOM?></span></p>
				<?}?>
				<?if($item->PROPERTY_AREA){
				?>
				<p>Площадь: <span class="val"><?=$item->PROPERTY_AREA?> м&#178;</span></p>
				<?}?>
			</div>
		</div>
	</div>
</div>