<?
    $user = $this->user;
	$type = $user->getType();
	$abr = substr($user->NAME, 0, 1).substr($user->LAST_NAME, 0, 1);
?>

<div class="sidebar js-sidebar">
    <?
        if (!empty($user->PERSONAL_PHOTO)) {
            $image = Resizer::resizeImage($user->PERSONAL_PHOTO, "PROFILE_AVATAR");
        } else {
            $image = Resizer::resizeImage(Settings::getOptionFile('defaultAvatar'), 'PROFILE_AVATAR');
        }
    ?>
   <!-- <div class="avatar" style="background-image: url('<?= $image ?>')">
        <div class="panel">
            <? if(!empty($user->PERSONAL_PHOTO)) { ?>
                <div><span class="upload under-link js-upload-avatar">загрузить новое фото</span></div>
                <div><span class="delete under-link js-remove-avatar">удалить фото</span></div>
            <? } else { ?>
                <div><span class="upload under-link js-upload-avatar">загрузить фото</span></div>
            <? } ?>
            <div class="image-wrapper">
                <form id="upload-image" action="<?= $this->url([], 'profile-upload-photo');?>" method="POST" enctype="multipart/form-data">
                    <input type="file" accept="image/jpeg,image/png" class="image js-image" name="avatar">
                </form>
            </div>
        </div>
    </div>-->

    <?// $url = Zend_Registry::get("BX_APPLICATION")->GetCurPage(); ?>
    <!--<ul class="profile-menu">
        <?// if (!empty($this->menu)) { ?>
            <?// foreach ($this->menu as $ind => $item) { ?>
                <?// $image = Resizer::resizeImage($item->PREVIEW_PICTURE, "PROFILE_MENU")?>
                <li>
                    <a href="<?//= $item->PROPERTY_LINK_VALUE ?>" class="waves-effect<?//= ($item->PROPERTY_LINK_VALUE == $url)?' active':''?>">
                       <!-- <span class="icon" style="background:url('<?//= $image ?>') no-repeat;"></span>-->
                        <!--<span><?//= $item->NAME ?></span>
                    </a>
                </li>
            <?// } ?>
        <?// } ?>
    </ul>-->
	
	<!--========================================================-->
	<div class="head">
		<div class="ph" style="background-image:url(<?=$user->UF_IMAGE_BACKGROUND?>);">
			<div class="avatar" style="background-image: url('<?= $image ?>')">
				<?if(!$user->PERSONAL_PHOTO || !$image){?><span><?=$abr?></span><?}?>
			</div>
			<div class="panel">
				<?if(!empty($user->UF_IMAGE_BACKGROUND)){?>
					<a class="js-upload-avatar button_change_phone">сменить фон</a>
				<?}else{?>
					<a class="js-upload-avatar button_change_phone">добавить фон</a>
				<?}?>
				<div class="image-wrapper" style="display:none;">
					<form id="upload-image" action="<?= $this->url([], 'profile-upload-background');?>" method="POST" enctype="multipart/form-data">
						<input type="file" accept="image/jpeg,image/png" class="image js-image-background" name="avatar">
					</form>
				</div>
			</div>
			<a class="button_edit_profile" href="/profile/"></a>
		</div>
		<div class="name_user"><?=$user->getFullName()?></div>
		<div class="group_user">
		
			<?if($type == DESIGNER_TYPE_ID){
				echo 'Дизайнер';
			}
			else if($type == PROVIDER_TYPE_ID){
				echo 'Поставщик';
			}
			else if($type == SELLER_TYPE_ID){
				echo 'Продавец'; 
			}
			else if($type == CLIENT_TYPE_ID){
				echo 'Клиент'; 
			}
			
			?>
		
		</div>
		<a class="edit_profile" href=""></a>
	</div>
	<div class="content">
		<div class="money">
			<p class="prop">На счету<span class="val"><?=str_replace(',', ' ', number_format($user->BUDGET['CURRENT_BUDGET']))?><span class="ruble"></span></span></p>
		</div>
		<div class="contacts">
			<?if($user->WORK_COMPANY){?>
				<p class="prop">Компания<span class="val"><?=$user->WORK_COMPANY?></span></p>
			<?}?>
			<?if($user->PERSONAL_MOBILE){?>
				<p class="prop">Телефон<span class="val"><?=$user->PERSONAL_MOBILE?></span></p>
			<?}?>
			<?if($user->EMAIL){?>
				<p class="prop">Эл.почта<span class="val"><?=$user->EMAIL?></span></p>
			<?}?>
			<?if($user->PERSONAL_CITY){?>
				<p class="prop">Город<span class="val"><?=$user->PERSONAL_CITY?></span></p>
			<?}?>
		</div>
		<div class="about">
			<?if($user->WORK_PROFILE){?>
				<p class="prop">Обо мне <span class="val"><?=$user->WORK_PROFILE?></span></p>
			<?}?>
			<?if($type == DESIGNER_TYPE_ID && $user->UF_STYLES){?>		
				<p class="prop">Стиль работ</p>
				<?
					//Получаем стили
					if (!empty($user->UF_STYLES)) {
						$styleList = Sibirix_Model_Reference::getReference(HL_STYLE, array("UF_NAME"), "ID");
						$propertyStylesValue = array();
						foreach ($user->UF_STYLES as $key => $stylesValue) {
							$propertyStylesValue[$key] = $styleList[$stylesValue];
						}
						$user->UF_STYLES = $propertyStylesValue;
					}
				?>
				<?foreach($user->UF_STYLES as $style){?>
					<div class="design-styles" style="font: 400 15px 'PTSansRegular',sans-serif; color:#252525;">
						<?=$style?>
					</div>
				<?}?>
			<?}?>
			
		
			<p class="prop">В соцсетях</p>
			<div class="social_wrap">
				<ul>
					<?if($user->UF_SOCIAL_VK){
					?>
						<a class="social vk" target="_blank" href="<?=$user->UF_SOCIAL_VK?>"></a>
					<?}?>
					<?if($user->UF_SOCIAL_FB){
						/*if(iconv_strlen('www.facebook.com/'.$user->UF_SOCIAL_FB) > 20){
							$ch = iconv_strlen('www.facebook.com/'.$user->UF_SOCIAL_FB) - 20;
							$fb = substr_replace('www.facebook.com/'.$user->UF_SOCIAL_FB,'...',-$ch);
						}
						else{
							$fb = 'www.facebook.com/'.$user->UF_SOCIAL_FB;
						}	*/				
					?>
						<a class="social fb" target="_blank" href="<?=$user->UF_SOCIAL_FB?>"></a>
					<?}?>
					<?if($user->UF_SOCIAL_TWITTER){
						/*if(iconv_strlen('www.twitter.com/'.$user->UF_SOCIAL_TWITTER) > 20){
							$ch = iconv_strlen('www.twitter.com/'.$user->UF_SOCIAL_TWITTER) - 20;
							$twitter = substr_replace('www.twitter.com/'.$user->UF_SOCIAL_TWITTER,'...',-$ch);
						}
						else{
							$twitter = 'www.twitter.com/'.$user->UF_SOCIAL_TWITTER;
						}*/					
					?>
						<a class="social twitter" target="_blank" href="<?=$user->UF_SOCIAL_TWITTER?>"></a>
					<?}?>
					<?if($user->UF_SOCIAL_CLASSM){
						/*if(iconv_strlen('www.ok.ru/'.$user->UF_SOCIAL_CLASSM) > 20){
							$ch = iconv_strlen('www.ok.ru/'.$user->UF_SOCIAL_CLASSM) - 20;
							$twitter = substr_replace('www.ok.ru/'.$user->UF_SOCIAL_CLASSM,'...',-$ch);
						}
						else{
							$twitter = 'www.ok.ru/'.$user->UF_SOCIAL_CLASSM;
						}*/
					?>
						<a class="social classm" target="_blank" href="<?=$user->UF_SOCIAL_CLASSM?>"></a>
					<?}?>
				</ul>
			</div>
		</div>
	</div>
</div>











<style>
	.sidebar .ph{
		position: relative;
		height: 130px;
		/* Для хороших браузеров */
		-moz-border-radius: 2px; /* Firefox */
		-webkit-border-radius: 2px; /* Safari, Chrome */
		-khtml-border-radius: 2px; /* KHTML */
		border-radius: 2px; /* CSS3 */
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #475258;
	}
	.sidebar .content{
		padding:0 20px;
	}
	.sidebar .content .prop{
		font: 400 12px 'PTSansRegular',sans-serif;
		margin-bottom: 12px;
		color:#b1b1b1;
	}
	.sidebar .content .money{
		padding: 25px 0 0 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .money .prop .val{
		font: 600 21px 'RobotoSlabBold',sans-serif;
		color:#252525;
		position:relative;
	}
	.sidebar .content .money .prop .val .ruble{
		background-image: url(/local/images/sprite_r.png);
		background-position: -253px -409px;
		width: 14px;
		height: 16px;
		margin: auto 0 auto 5px;
	}
	.sidebar .content .contacts{
		padding: 25px 0 0 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .about{
		padding: 23px 0 12px 0;
		border-top:1px solid #ebebeb;
		margin:25px 0;
	}
	.sidebar .content .prop .val{
		display:block;
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#252525;
	}
	.sidebar .ph .avatar{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-size: cover;
		margin: 0 auto;
		position: relative;
		left: 0;
		right: 0;
		bottom: -65px;
	}
	.sidebar .name_user{
		margin-top: 75px;
		text-align: center;
		font: 600 17px 'RobotoSlabBold',sans-serif;
		color:#252525;
	}
	.sidebar .group_user{
		text-align:center;
		font: 400 15px 'PTSansRegular',sans-serif;
		color:#848484;
		margin-top:10px;
	}
	.sidebar .button_change_phone:hover{
		background: rgba( 255, 255, 255, 0.4);
	}
	.sidebar .button_change_phone{
		position:absolute;
		top:15px;
		left:15px;
		color:#fff;
		background: rgba( 255, 255, 255, 0.3);
		padding:10px 15px;
		border-radius: 15px;
		cursor:pointer;
		-webkit-transition-property: background;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease;
	}
	.sidebar .button_edit_profile{
		width: 33px;
		height: 33px;
		background: #fff url(/local/images/icons/Edit.svg);
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
		border-radius: 50%;
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: 50%;
		cursor:pointer;
	}
	.sidebar .head{
		padding:3px;
	}
	.sidebar{
		border: 1px solid #f1f2f3;
	}
	.sidebar .ph .avatar{
		background-repeat: no-repeat;
		background-size: 100%;
		border: 1px solid #f0f2f2;
	}
	.design-styles:after {
		border-right: 1px solid #dddddd;
		border-top: 1px solid #dddddd;
		border-top-right-radius: 5px;
		content: "";
		height: 22px;
		position: absolute;
		right: -11px;
		top: 3px;
		transform: rotate(45deg);
		width: 20px;
	}
	.design-styles {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: transparent;
		border-color: #dddddd transparent #dddddd #dddddd;
		border-image: none;
		border-style: solid;
		border-width: 1px;
		box-sizing: border-box;
		color: #252525;
		display: inline-block;
		font: 400 13px "RobotoRegular",sans-serif;
		height: 30px;
		margin: 0 15px 10px 0;
		padding: 5px 14px 21px 8px;
		position: relative;
		transition: all 0.3s ease 0s;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.profile-inner-page .sidebar{
		margin:0;
	}
	.profile-inner-page .sidebar .avatar span {
		background-color: #3fb1da;
		font: 400 15px 'PTSansRegular',sans-serif;
		text-align: center;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		line-height: 120px;
		font: 400 30px 'PTSansRegular',sans-serif;
		color: #fff;
		line-height:120px;
	}
	.panel{
		border:none;
	}
	.social_wrap li{
		position:relative;
	}
	.social_wrap li a{
		text-decoration:underline;
	}
	.social_wrap li a:hover{
		text-decoration:none;
	}
	.social.vk {
		background-position: -98px -5px;
		width: 28px;
		height: 23px;
	}	
	.social.fb {
		background-position: -66px -5px;
		width: 28px;
		height: 23px;
	}
	.social.twitter{
		background-position: -35px -5px;
		width: 28px;
		height: 23px;
	}
	.social.classm {
		background-position: -164px -5px;
		width: 28px;
		height: 23px;
	}
	.social{
		font: 400 15px/30px 'PTSansRegular',sans-serif;
		color: #252525;
		padding-left: 30px;
	}
	.social {
		content: " ";
		background-image: url(/local/images/social-icons.png);
		margin: auto 0;
		display:inline-block;
	}
</style>