<? 

if ($this->ARR_BUILDER->pageData->totalItemsCount > 0): ?>
    <div class="builder-list">
        <? foreach ($this->ARR_BUILDER->items as $item): ?>
            <?= $this->partial("builder/partials/builder-item.phtml", ["item" => $item]) ?>
        <? endforeach ?>
    </div>

    <?= $this->paginationControl(
        $this->paginator,
        'Sliding',
        '_partials/paginator_r.phtml'
    ); ?>

<? else: ?>
    <?= $this->partial("_partials/not-found-status/builder.phtml", ["message" => " <p>Ничего не найдено.</p><p>Попробуйте изменить параметры поиска.</p>"]) ?>
<? endif ?>
