.builder-detail-page .props a.blue{
	color:#077fed;
}
.builder-list-page .list-builder-block{
	padding-bottom: 40px;
}
.builder-list-page .builder-title-block{
	padding:60px 0 30px 0;
}
.builder-list-page .builder-title-block h1{
	font: 400 3.6em 'RobotoSlabRegular',sans-serif;
}
.builder-list-page .form-q .ico-search{
    position: absolute;
    left: 10px;
    display: block;
    width: 24px;
    height: 20px;
    background: url(../images/sprite_r.png) -140px -350px no-repeat;
    top: 15px;
    border: none !important;
}
.builder-list-page .logotip{
	width: 100%;
    height: 125px;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.builder-list-page .logotip img{
	display: block;
	margin: 0 auto;
	box-shadow: -0 30px 50px -35px #555;
}
.builder-list-page .builder{
	padding: 30px 30px 30px 0;
    background: #fff;
	margin-bottom:12px;
}
.builder-list-page .builder h2{
	font: 600 1.7em 'PTSansBold',sans-serif;
	color:#3fb1da;
}
.builder-list-page .builder .meta{
	color:#878787;
	font: 400 1.4em/30px 'PTSansRegular',sans-serif;
	margin:10px 0;
}
.builder-list-page .builder .meta .location{
	margin-right:100px;
	position:relative;
	padding-left: 17px;
}
.builder-list-page .builder .meta .location::before{
	content:"";
	width:13px;
	height:15px;
	background-image:url(../images/sprite_r.png);
	background-position:-83px -162px;
	background-repeat:no-repeat;
	position:absolute;
	position: absolute;
	top: 1px;
	left:0;
}
.builder-list-page .builder .disc{
	font: 400 1.5em 'PTSansRegular',sans-serif;
	color:#252525;
	margin-bottom: 35px;
}
.builder-list-page .builder .list-complex{
	margin-top:30px;
	margin:0 -10px;
}

.builder-list-page .builder .list-complex .complex{
	border: 1px solid #f9f9f9;
	box-shadow: 0px 2px 2px #ebeded;
	margin-bottom: 20px;
	height: 270px;
	overflow: hidden;
}
.builder-list-page .builder .list-complex .complex .picture{
	background-color:#823e3e;
	height:178px;
	width:100%;
}
.builder-list-page .builder .logotip .linkItem{
	display:block;
	width:100%;
	height:100%;
}
.builder-list-page .builder .list-complex .complex .picture .linkItem{
	display:block;
	width:100%;
	height:100%;
}
.builder-list-page .builder .list-complex .complex .name{
	font: 600 1.5em 'RobotoSlabBold',sans-serif;
	padding: 28px 15px;
}

.builder-list-page .builder .list-complex .offset{
	padding:0 10px;
}
.builder-list-page .form-q #q{
    transition: all .3s ease;
    height: 47px;
    width: 100%;
    border: none;
    background: white;
    border: 1px solid #cbcbcb;
    color: #686868;
    padding: 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font: 400 14px 'PTSansRegular',sans-serif;
    padding: 0 15px 0 45px;
}
.builder-list-page .builder-list{
	margin-bottom: 30px;
}

.builder-detail-page .builder-left-block{ 
	width:278px;
	float:left;
}
.builder-detail-page .builder-props .props .locality:before{
	content: "";
	position: absolute;
	background-image: url(../images/sprite_r.png);
	background-position: -788px -88px;
	background-repeat: ;
	width: 16px;
	height: 16px;
	left: 0;
}
.builder-detail-page .builder-props .props .phone:before{
	    content: "";
    position: absolute;
    background-image: url(../images/sprite_r.png);
    background-position: -756px -88px;
    background-repeat: ;
    width: 16px;
    height: 16px;
    left: 0;
}
.builder-detail-page .builder-props .props .map:before{
	    content: "";
    position: absolute;
    background-image: url(../images/sprite_r.png);
    background-position: -726px -88px;
    background-repeat: ;
    width: 16px;
    height: 16px;
    left: 0;
}
.builder-detail-page .builder-props .props .site:before{
	    content: "";
    position: absolute;
    background-image: url(../images/sprite_r.png);
    background-position: -699px -88px;
    background-repeat: ;
    width: 16px;
    height: 16px;
    left: 0;
}
.builder-detail-page .builder-right-block{ 
	margin-left:300px;
	margin-top: 63px;
}
.builder-detail-page .builder-left-block .logo_builder{
	margin-bottom:43px;
}
.builder-detail-page .builder-props .sub-title{
	font: 400 15px 'RobotoSlabBold',sans-serif;
	color:#252525;
	margin:20px 0;
}
.builder-detail-page .builder-props{
	margin-bottom:55px;
}
.builder-detail-page .builder-props .props ul li{
	margin:10px 0;
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#252525;
	margin-left:30px;
}
.builder-detail-page .builder-props{
	
}
.builder-detail-page .btn-wrapper{
	text-align:left;
}
.builder-detail-page .btn.view_n3{
	text-transform: none;
}
.builder-detail-page .main-title{
	font: 400 25px 'RobotoSlabRegular',sans-serif;
}
.builder-detail-page .builder-title-block{
	width: 576px;
}
.builder-detail-page .title{
	font: 400 21px 'RobotoSlabRegular',sans-serif;
	margin: 33px 0;
}
.builder-detail-page .navi{
	margin:45px 0;
	border-bottom: 1px solid #e2e2e2;
}
.builder-detail-page .navi li {
    display: inline-block;
    height: 35px;
	margin-bottom:-1px;
	margin-right:50px;
}
.builder-detail-page .navi li a.selected {
    border-bottom: 5px solid #3fb1da;
    color: #252525;
}
.builder-detail-page .navi li a {
    font: 400 1.5em 'PTSansRegular',sans-serif;
    color: #a4a4a4;
    display: block;
    height: 100%;
}
.builder-detail-page .complex-list{
	margin-top:33px;
}
.builder-detail-page .complex-list .complex_outer{
	height:635px;
	box-sizing: border-box;
	float: left;
	margin: 0 27px 27px 0;
}
.builder-detail-page .complex-list .item {
	margin-top:6px;
	webkit-transition-property: margin;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
}
.builder-detail-page .complex-list .complex_outer:nth-child(3n) {
    margin: 0 0 27px;
}
.builder-detail-page .complex-item .content .title{
	font: 400 15px 'RobotoSlabBold',sans-serif;
}
.builder-detail-page .complex-item .content .description{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#858585;
}
.builder-detail-page .complex-item .content .builder .info .label{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#858585;
}
.builder-detail-page .complex-item .content .builder .info .name{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#077fed;
	display: inline;
	vertical-align: bottom;
}
.builder-detail-page .builder-about-block .disc{
	font: 400 15px 'PTSansRegular',sans-serif;
	margin:30px 0;
}
.builder-detail-page .builder-right-block .disabled {
    display: none;
}
.builder-detail-page .complex-list .item:hover {
    box-shadow: 0px 20px 24px -10px #999;
    margin-top: 0;
}

