.designer_content {
	background-color: #fafafa;
	width: 100%;
	padding-top: 60px;
	padding-left: 25px;
	height: 100%;
	margin-bottom: 86px;
}
.designer_item {
	box-sizing: border-box;
	background-color: #fff;
	color: #FFF;
	box-shadow: 0px 0px 4px 0px rgba(1, 1, 1, 0.2);
	margin: 0 0 15px 0;
} 
.designer_photo {
	width: 200px;
	display: inline-block;
    vertical-align: top;
	margin-top: 35px;
	margin-bottom: 35px;
}
.designer_photo_inner {
	width: 100px;
	border-radius: 50%;
	height: 100px;
	margin: 0 auto;
    display: block;
}
.designer_data{
	display: inline-block;
    vertical-align: top;
	margin-top: 35px;
	width:100%;
	padding-right:30px;
	margin-bottom:35px;
}
.designer_top_data:after{
	content: '';
	clear: both;
	display: table;
}
.designer_name {
	height: 30px;
	float:left;
}
.designer_price{
	float:right;
	color: #077fed;
	font: 600 17px 'RobotoSlabBold',sans-serif;
}
.designer_name a{
	transition: all .3s ease;
	border-bottom: 1px solid transparent;
	color: #077fed;
	font: 600 17px 'RobotoSlabBold',sans-serif;
}
.designer_location{
	color:#878787;
	font: 400 14px 'RobotoSlabBold',sans-serif;
	display:inline-block;
	margin-right:70px;
}
.designer_location:before{
	content:" ";
	background: url(../images/sprite_r.php) no-repeat -82px -450px;
}
.designer_on_site_time{
	color:#878787;
	font: 400 14px 'RobotoSlabBold',sans-serif;
	display:inline-block;
}
.designer_discription{
	font: 400 14px 'PTSansRegular',sans-serif;
	color: #252525;
	margin-top:27px;
}
.designer_item .feature-list .out-feature-item {
    padding: 0 10px;
}
.designer_item .feature-list .out-feature-item{
	padding: 0 10px;
}
.designer_item .feature-list {
    text-align: center;
	margin:0 -10px;
}
.designer_projects{
	margin-top:25px;
}
.designer_item .rating{
	text-align:center;
	margin-top:20px;
}
.designer_item .rating .y{
	color:#ffc600;
}
.designer_item .rating .n{
	color:#ececec;
}
.designer_item .reviews{
	text-align:center;
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#077fed;
	margin-top:3px;
}
.designer_item .status{
	text-align:center;
	margin-top:25px;
	text-transform:lowercase;
}
.designer_item .status span{
	border-radius:10px;
	color:#fff;
	font: 400 14px 'PTSansRegular',sans-serif;
	padding: 3px 12px;
}
.designer_item .status.online span{
	background:#55b15a;
}
.designer_item .status.offline span{
	background:#b14343;
}
.designer_item .status.busy span{
	background:#c98c3d;
}
.designer_item .status.our span{
	background:#3fb1da;
}
.designer_content h1 {
    font: 400 36px 'RobotoSlabLight',sans-serif;
    color: #252525;
    text-align: left;
    margin-bottom: 15px;
}
.designer_content .filter a {
    position: relative;
    margin: 0 10px 0 15px;
    color: #077fed;
    border-color: #077fed;
    padding: 0;
}
.designer_content .form-q .ico-search {
    position: absolute;
    left: 10px;
    display: block;
    width: 24px;
    height: 20px;
    background: url(/local/css/../images/sprite_r.png) -140px -350px no-repeat;
    top: 15px;
    border: none !important;
}
.designer_content .form-q #q {
    transition: all .3s ease;
    height: 47px;
    width: 100%;
    border: none;
    background: white;
    border: 1px solid #cbcbcb;
    color: #686868;
    padding: 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font: 400 14px 'PTSansRegular',sans-serif;
    padding: 0 15px 0 45px;
}
.designer_content .form-q{
	margin-top:35px;
}
.designer_content .form_search .wrap_search_input {
    position: relative;
}
.designer_content .search_ico {
    width: 55px;
    height: 55px;
    border-right: 1px solid #cbcbcb;
    position: absolute;
    left: 0;
    top: 0;
}
.designer_content .form_search .wrap_form_search_q .ico {
    width: 19px;
    height: 19px;
    background-image: url(/local/images/sprite_r.png);
    background-position: -153px -194px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
}
.designer_content .form_search #form_search_q {
    height: 55px;
    padding: 0 89px 0 72px;
}
.designer_content .form_search .wrap_form_search_q .js-search-form {
    position: absolute;
    right: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 32px;
    font: 400 13px/32px 'PTSansRegular',sans-serif;
    padding: 0 17px;
}
.designer_content .form_search #form_search_q {
    height: 55px;
    padding: 0 89px 0 72px;
}
.designer_content .designer_location:before{
    content: " ";
    background: url(/local/images/sprite_r.png) no-repeat -81px -205px;
    width: 13px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}
.designer_content .designer_on_site_time:before{
	content: " ";
	background: url(/local/images/sprite_r.png) no-repeat -81px -189px;
	width: 15px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 3px;
}