<?
    $orders = $this->itemList;
?>

<? if (!empty($orders)) { ?>
    <div class="design-list">
        <? foreach ($orders as $item) { ?>
            <? $item->STATUS = $this->status[$item->PROPERTY_STATUS_ENUM_ID]['XML_ID'] ?>
            <?= $this->partial("project/partials/plan-item-profile.phtml", ["item" => $item]) ?>
        <? } ?>
    </div>

<? } else { ?>
    <?= $this->partial("_partials/not-found-status/design.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]) ?>
<? } ?>