
<style>
.preview360-gallery {
  height: 238px;
  width: 238px;
  position: relative;
}

.preview360-gallery > img {
  height: 238px;
  width: 238px;
  left: 0;
  position: absolute;
}
.preview360-hide {
  z-index: 9;
}
</style>

<div class="about-block" style="background-color: #fafafa; margin: 80px 0;">
    <div class="content-container">

		<h2 class="product-title" style="color: #252525; font: 400 4em 'RobotoSlabLight',sans-serif; margin-bottom: 15px; text-align: center;">Каталог дизайн-проектов</h2>
    <div class="subtitle" style="color: #252525; font: 300 1.7em 'PTSansRegular',sans-serif; margin: 0 0 44px; text-align: center;">Просто выберите дизайн по вашем вкусу, купите онлайн и получите готовый проект</div>

			<div class="feature-out">
				<div class="feature-list row">
          <?php foreach ($this->rand_design as $randDesign) { ?>
            <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                  <?php if (isset($randDesign['GALLERY3D'][0])) {
                    $preview_360_one = $randDesign['GALLERY3D'][0];
                    unset($randDesign['GALLERY3D'][0]);
                    $preview_360_json = json_encode($randDesign['GALLERY3D'], JSON_HEX_QUOT);
                  ?>
                    <div class="preview360-gallery" data-json='<?php echo $preview_360_json;?>'>
                      <img src="<?php echo $preview_360_one; ?>" class="preview360">
                    </div>
                  <?php } else { ?>
                    <img src="<?php echo $randDesign['MAIN_IMAGE']; ?>">
                  <?php } ?>

                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px"/>
                  <img src="<?php echo $randDesign['PERSONAL_PHOTO']; ?>" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;"><?php echo $randDesign['DESIGNER_NAME']; ?></span>
                </div>
                <div style="height: 70px;">
                  <a href="<?= $this->url(['elementCode' => $randDesign['CODE']], 'design-detail')?>" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;"><?php echo $randDesign['NAME']; ?></a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px"/>
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> <?php echo $randDesign['VIEW_COUNT']; ?>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;"><?php echo round($randDesign['PRICE']); ?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
          <?php } ?>
				</div>
			</div>
      <div class="clear"></div>
      <div class="btn-wrapper" style="padding-top: 40px; padding-bottom: 120px">
            <a class="btn blue waves-effect view_n3" href="/design/">Смотреть все проекты</a>
        </div>

    </div>
</div>
