<?foreach($this->designList->items as $item){?>

	<div class="out-feature-item col-xs-4 col-sm-4 col-md-4" style="height: 520px;" data-competition="<?=$element?>" data-id="<?=$item->ID?>">
	<?foreach($this->myDesignList->items as $myItem){
		if($myItem->ID == $item->ID){?>
			<div class="js-hide-design"><a style="position:absolute;right:17px;top: 10px;z-index: 2;font: 400 17px 'PTSansBold',sans-serif;" href="" title="Убрать">X</a></div>
		<?}
	}?>
	
	  <div class="feature-item">
		<div style="padding-bottom: 10px; height:246px;">
	
		  <?if (isset($item->GALLERY3D)) {
			$preview_360_one = $item->GALLERY3D[0];
			unset($design->GALLERY3D[0]);
			$preview_360_json = json_encode($item->GALLERY3D);
		  ?>
			<div class="preview360-gallery" data-json='<?=$preview_360_json;?>'>
			  <img src="<?=$preview_360_one;?>" class="preview360">
			</div>
		  <?} else{?>
			<img src="<?=$item->MAIN_IMAGE;?>">
		  <?} ?>

		</div>	
		<div style="position: relative; min-height: 60px">
		  <hr style="position: relative; top: 25px"/>
		  <img src="<?=$item->PERSONAL_PHOTO?>" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">
		</div>
		<div>
		  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;"><?=$item->DESIGNER->NAME ." ". $item->DESIGNER->LAST_NAME?></span>
		</div>
		<div style="height: 70px;">
		  <a href="<?= $this->url(['elementCode' => $item->CODE], 'design-detail')?>" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;"><?=$item->NAME?></a>
		</div>
		<div style="padding: 15px 0">
		  <hr style="position: relative; top: 2px"/>
		  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
		</div>
		
		<div class="row">
		  <div class="col-xs-6 col-sm-6 col-md-6">
			<p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
			  <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> <?=(int) $item->PROPERTY_VIEW_COUNT_VALUE; ?>
			</p>
		  </div>
		</div>
	  </div>
	</div>
<?}?>