<?if(count($this->result->items) > 0){?>
	<ul class="order-list">
	
	<?
		foreach($this->result->items as $item){?>
		<li class="order">
			<div class="row">
				<div class="col-xs-1-5 col-sm-1-5 col-md-1-5">
					<div class="picture">
						<img src="<?=$item->IMG?>" alt=""/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<h2 class="title_order"><a href="/competition/<?=$item->ID?>"><?=$item->NAME?></a></h2>
					<p class="disc_project"><?=$item->PREVIEW_TEXT?></p>
					<div class="order-meta">
						<span class="view"><span class="val"><?=(int) $item->SHOW_COUNTER;?></span> <?echo EHelper::getWordForm((int) $item->SHOW_COUNTER, [" просмотр", " просмотра", " просмотров"]);?></span>
						<span class="decision"><span class="val"><?echo (int) count($item->PROPERTY_OFFERS_VALUE)?></span> <?echo EHelper::getWordForm(count($item->PROPERTY_OFFERS_VALUE), [" конкурсная работа", " конкурсных работы", " конкурсных работ"]);?></span>
						<span class="time"><span class="val"><?echo (int) $item->PROPERTY_TIME_VALUE; echo EHelper::getWordForm((int) $item->PROPERTY_TIME_VALUE, [" день", " дня", " дней"]);?></span>
					</div>
					<div class="more"></div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
					<div class="price_order"><span class="text"><span class="price"><?=$item->PRICE_VALUE['PRICE']?> &#8381;</span>за проект</span></div>
				</div>
			</div>
		</li>
	<?}?>
	</ul>
<?/*= $this->paginationControl(
$this->paginator,
'Sliding',
'_partials/paginator.phtml'
); */
}
else{
?>
	<div class="not-found plan">
		<div class="not-found-message">
			<p class="big">По вашему запросу не нашлось вариантов квартир</p><br/>
			<p class="little">Тем не менее, вы можете вызвать замерщика. Это совершенно бесплатно.</p><br/>
			<div class="call-super-man"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
			ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
		</div>
		<div class="not-found-icon"></div>
	</div>
<?
};
?>

