/*========================================================
			SHOP
========================================================*/
#shop{
	
}
.shop-page h1{
	margin: 0 0 25px;
    font: 400 36px 'RobotoSlabRegular',sans-serif;
    color: #252525;
	padding: 0;
    margin: 0;
}
.shop-page h2 {
    font: 400 25px 'RobotoSlabRegular',sans-serif;
    color: #252525;
	margin: 30px 0;
}
.shop-page .top-block{
	background:white;
	border-bottom: 1px solid #e6e8e9;
	box-shadow: 1px 1px 1px #e6e8e9;
}
.shop-page .tabs-menu li a{
	font: 400 36px 'RobotoSlabRegular',sans-serif;
	color: #252525;
	-webkit-transition: color .15s ease-out;
	transition: color .15s ease-out;
}
.shop-page .tabs-menu li:hover a{
	color: #3fb1da;
}
.shop-page .tabs-menu li{
	display:inline-block;
	margin-right:150px;
}
.shop-page .tabs-menu li .sub_txt{
	display:block;
	color:#b1b1b1;
	font: 400 14px 'PTSansRegular',sans-serif;
	margin-top:10px;
}
.shop-page .form_search{
	margin-top:35px;
}
.shop-page .form_search .wrap_search_input{
	position:relative;
}
.shop-page .form_search #form_search_q{
	height:55px;
	padding: 0 89px 0 72px;
}
.shop-page .form_search .wrap_form_search_q .ico{
	width: 19px;
	height: 19px;
	background-image: url(/local/images/sprite_r.png);
	background-position: -153px -194px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	top: 0;
}
.shop-page .form_search .wrap_form_search_q .js-search-form{
	position: absolute;
    right: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
	height:32px;
	font: 400 13px/32px 'PTSansRegular',sans-serif;
	padding: 0 17px;
}
.shop-page .search_ico{
	width:55px;
	height:55px;
	border-right: 1px solid #cbcbcb;
	position:absolute;
	left:0;
	top:0;
}
.shop-page .pageTitle {
    margin: 20px 0;
    font: 400 36px 'RobotoSlabRegular',sans-serif;
    color: #252525;
	padding: 0;
}
.shop-page h1{
	margin: 0 0 25px;
    font: 400 36px 'RobotoSlabRegular',sans-serif;
    color: #252525;
	padding: 0;
    margin: 0;
}
.shop-page .list-goods{
	margin-bottom:10px;
	padding-bottom: 55px;
}
.shop-page .top-block{
	padding-top: 43px;
}
.shop-page .lets_go{
    position: relative;
    color: #4584ac;
}
.shop-page .lets_go span{
    cursor:pointer;
}
.shop-page .list_cat{
	margin-top:45px;
	position:relative;
}
.shop-page .list_cat .block-cat{
	position:absolute;
}
.shop-page .list_cat .block-cat:hover{
	opacity:0.8;
}
.shop-page .list_cat .block-cat a{
	font: 300 36px 'fira_sanslight',sans-serif;
	position:absolute;
}
.shop-page .list_cat .block-cat p{
	font: 300 18px 'fira_sanslight',sans-serif;
	position:absolute;
}
.shop-page .list_cat .block-cat img{
	display:block
}
.shop-page .list_cat .block-n-1 img{
	margin:0 auto;
}
.shop-page .c_left_bn{
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 65px;
	position: relative;
	padding-right: 120px;
}
.shop-page .c_left_bn .left_item{
	border-bottom:1px solid #e9e9e9;
	padding:23px 0;
	width:100%;
}
.shop-page .c_left_bn #shop_categories .p_cat ul li{float:none;display:block;line-height:24px;}
.shop-page .right_bn{
	display: inline-block;
	vertical-align: top;
	width:894px;
}
.shop-page .right_bn .list_cat{
	padding-top:47px;
	margin-bottom:25px;
}
.shop-page .right_bn .list_cat .items{
	border:1px solid #e9e9e9;
	width: 280px;
	height:280px;
	float:left;
    vertical-align: top;
	margin-bottom: 20px;
	padding:20px;
	box-sizing: border-box;
	overflow: hidden;
}
.shop-page .right_bn  .list_cat > .row .items+.items{
	margin: 0 0 20px 10px!important;
}
.shop-page .right_bn .items h3{
	font: 300 24px 'fira_sanslight',sans-serif;
	color: #5e6e7e;
	text-align: center;
}
.shop-page .right_bn .items h3:hover{
	font: 400 24px 'fira_sanslight',sans-serif;
}
.shop-page h2.night {
    font: 300 48px 'fira_sanslight',sans-serif;
    color: #fff;
	margin: 0 0 22px 0;
	text-transform:uppercase;
}
.shop-page .main-tabs__text{
	font: 300 36px 'fira_sanslight',sans-serif;
	color:#3d6593;
	margin:0;
	text-transform:none;
	cursor:pointer;
}
.shop-page .active .main-tabs__text{
	font: 300 36px 'fira_sanslight',sans-serif;
	color:#5e6e7e;
	margin:0;
	text-transform:none;
}
.shop-page .right_bn .items a img{
	margin: 0 auto;
	display: block;
	width: 100%;
}
.shop-page .left_bn h2{
	font: 400 30px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
}
.shop-page .left_bn .list_cat li{
	cursor:pointer;
}
.shop-page .left_bn .list_cat li a{
	font: 400 18px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
}
.shop-page .left_bn .list_cat > li > a{
	font: 400 24px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
}
.shop-page .goods-item .image > a{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10;
}
.shop-page .main_picture{
	margin-top:40px;
	min-height:400px;
}
.shop-page .data-product{
	margin-left:20px;
}
.shop-page .product .goods-item:nth-child(4n){
	margin: 0 0px 20px 0;
}
.shop-page .right_bn .goods-item:nth-child(3n){
	margin: 0 0px 20px 0;
}
.shop-page .right_bn .goods-item:nth-child(4n){
	margin: 0 20px 20px 0;
}

.shop-page .slide .goods-item{
	position:relative;
	height:auto;
	margin-bottom:20px;
	box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
}
.shop-page .slide .goods-item:hover{
	outline: 1px solid #ccc;
}
.shop-page .my_see  .goods-item:hover{
	outline: 1px solid #ccc;
}
.shop-page .product .goods-item:hover{
	box-shadow: 0px 17px 25px #d3d6d8;
	margin-top:-6px;
	vertical-align: top;
}
.shop-page .goods-item .category_item{
	font: 400 13px 'PTSansRegular',sans-serif;
	color:#a4a4a4;
}	
.shop-page .product .goods-item{
	height:auto;
	margin: 0 20px 20px 0;
	width:284px;
	box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
	position:relative;
	border:1px solid #f2f3f4;
	box-shadow:none;
	display:inline-block;
	margin-left: -.36em !important;
	background:white;
	transition: all .3s ease;
	vertical-align:top;
}
.shop-page .my_see .goods-item{
	position:relative;
	height:auto;
	margin:0 20px 20px 0;
	box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
}

.shop-page .goods-item .image{
	position: relative;
	width: 100%;
	height: 187px;
	background-size: cover;
	opacity: 1;
	cursor:pointer;
}
.shop-page .goods-item .fast_view{
	display:none;
	text-align:center;
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
}
.shop-page .goods-item .fast_view span{
	background: rgba(71, 82, 88, 0.7);
    color: white;
    font: 400 12px/35px 'PTSansRegular',sans-serif;
    height: 35px;
    text-align: center;
	padding:15px 15px 15px 38px;
	position:relative;
	border-radius: 3px;
}
.shop-page .goods-item .fast_view span::before{
	content: " ";
    position: absolute;
    background-image: url(/local/images/sprite_r.png);
    background-position: -151px -238px;
    width: 22px;
    height: 13px;
    background-position: -95px -108px;
    left: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.shop-page .goods-item .content{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height:auto;
	padding: 0;
}
.shop-page .goods-item .content .top{padding:20px;}
.shop-page .goods-item .content .bottom .old_price{text-decoration:line-through;color: #00a0e3;}
.shop-page .goods-item .content .bottom .old_price span{color: #5e6e7e;font-weight:500;}
.shop-page .goods-item .content .bottom{border-top:1px solid #f2f3f4;padding:20px;font: 400 13px 'PTSansRegular',sans-serif;color: #5e6e7e;position: relative;z-index:11;}
.shop-page .goods-item .content .bottom .line{    
	width: 50px;
    height: 3px;
    background: #3fb1da;
    position: absolute;
    top: -2px;}
.shop-page .goods-item .content .bottom .price {
	font: 400 13px 'RobotoSlabRegular',sans-serif;
    color: #252525;
    text-align: left;
	position:relative;
	display:inline-block;
}
.shop-page .goods-item .content .bottom .new_price {
	font: 600 18px 'RobotoSlabBold',sans-serif;
    color: #4cb6dc;
    text-align: left;
	margin-right:0;
	position:relative;
	display:inline-block;
}
.shop-page .goods-item .content .bottom .old_price .ruble {
    width: 8px;
    height: 11px;
}

.shop-page .goods-item .content .bottom .ruble{
	content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -291px -366px;
    width: 14px;
    height: 16px;
    margin: auto;
}
.shop-page .goods-item .content .bottom .ruble2{
	content: " ";
	background-image: url(/local/images/sprite_r.png);
	background-position: -261px -426px;
	display:inline-block;
	width: 10px;
	height: 11px;
	margin: auto;
}
.shop-page .goods-item .content .bottom .disc{
	font: 400 13px 'PTSansRegular',sans-serif;
	color:#a4a4a4;
	margin-top:20px;
}
.shop-page .goods-item .wrap__btn_basket{
	margin-top:20px;
}
.shop-page .goods-item .content .casper{
	display:none;
	z-index:1;
	left:0;
	padding:0 20px 20px 20px;
	width:100%;
}
.shop-page .goods-item:hover .content .casper{
	display:block;
	position:absolute;
	background:white;
	box-shadow: 0px 17px 25px #d3d6d8;
}
.shop-page .goods-item:hover .fast_view{
	display:block;
}
.shop-page .goods-item .content .basket, .shop-page .goods-item .content .edit, .shop-page .goods-item .content .gift, .shop-page .goods-item .content .to-basket{
	font: 400 13px/37px 'PTSansRegular',sans-serif;
	color: #fff;
	position: relative;
	transition: all .3s ease;
	border-radius: inherit;
	border-radius: 3px;
	padding: 10px 20px 10px 40px;
	text-align: right;
	background: #4cb6dc;
}
.shop-page .goods-item .content .to-basket:hover{
	background-color: #2c8fb3;
}
.shop-page .goods-item .content .to-basket::after {
	content: " ";
	background-image: url(/local/images/sprite_r.png);
	background-position: -131px -238px;
	position: absolute;
	width: 19px;
	height: 19px;
	left: 10px;
	bottom: 0;
	top: 0;
	margin: auto;
}

.shop-page .goods-item .content .title{
    display: block;
    font: 600 15px 'RobotoSlabBold',sans-serif;
    color: #252525;
    margin-top: 10px;
    text-align: left;
}
.shop-page .goods-item .elected {
    position: absolute;
    left: 22px;
    top: 28px;
    z-index: 2;
}
.shop-page .elected .heart {
    position: absolute;
    display: block;
    width: 23px;
    height: 21px;
    background: url(../images/sprite.png) -101px -63px no-repeat;
    top: 0;
}
.shop-page .elected {
    position: relative;
    font: 500 16px 'Fira Sans',sans-serif;
    color: #fff;
}
.shop-page .goods-item .image:after{
	background-color: none !important;
}
.shop-page .goods-item .content .title{height:auto;}
.shop-page div.alien-bn{
	background:#f2f2f2;
	padding:20px 0;
}
.shop-page div.alien-bn .list-goods{
	margin-top:0;
	background:#f2f2f2;
}



.shop-page #item{margin-top:22px;}
.shop-page #item h1 {
    margin: 0 0 25px;
    font: 400 36px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.shop-page #item h2 {
    font: 300 48px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
    margin: 0 0 22px 0;
    text-transform: uppercase;
}
.shop-page #item .design-list .item {
    margin: 0 27px 29px 0;
}
.shop-page #item .design-list .item:nth-child(4n) {
    margin: 0 0 29px 0;
}
.shop-page #item #rt_bn .sv_va .old_price {
    color: #156596;
    font: 600 24px 'fira_sanslight',sans-serif;
	text-decoration: line-through;
}
.shop-page #item #rt_bn .sv_va .new_price {
    font: 600 18px 'fira_sanslight',sans-serif !important;
    font-weight: 400;
    color: #00a0e3 !important;
    text-align: left;
    margin-left: 8px;
    font-weight: 600;
}
.shop-page .tree-node,.tree-children,.tree-container-ul{display:block;margin:0;padding:0;list-style-type:none;list-style-image:none}
.shop-page .tree-node{white-space:nowrap}
.shop-page .tree-anchor{display:inline-block;color:#000;white-space:nowrap;padding:0 4px 0 1px;margin:0;vertical-align:top}
.shop-page .tree-anchor:focus{outline:0}
.shop-page .tree-anchor,.shop-page .tree-anchor:link,.shop-page .tree-anchor:visited,.shop-page .tree-anchor:hover,.shop-page .tree-anchor:active{text-decoration:none;color:inherit}
.shop-page .tree-icon{display:inline-block;text-decoration:none;margin:0;padding:0;vertical-align:top;text-align:center}
.shop-page .tree-icon:empty{display:inline-block;text-decoration:none;margin:0;padding:0;vertical-align:top;text-align:center}
.shop-page .tree-ocl{cursor:pointer}
.shop-page .tree-leaf>.tree-ocl{cursor:default}
.shop-page .tree .tree-open>.tree-children{display:block}
.shop-page .tree .tree-closed>.tree-children,
.shop-page .tree .tree-leaf>.tree-children{display:none}
.shop-page .tree-anchor>.tree-themeicon{margin-right:2px}
.shop-page .tree-no-icons .tree-themeicon,
.shop-page .tree-anchor>.tree-themeicon-hidden{display:none}
.shop-page .tree-hidden{display:none}
.shop-page .tree-rtl .tree-anchor{padding:0 1px 0 4px}
.shop-page .tree-rtl .tree-anchor>.tree-themeicon{margin-left:2px;margin-right:0}
.shop-page .tree-rtl .tree-node{margin-left:0}
.shop-page .tree-rtl .tree-container-ul>.tree-node{margin-right:0}
.shop-page .tree-wholerow-ul{position:relative;display:inline-block;min-width:100%}
.shop-page .tree-wholerow-ul .tree-leaf>.tree-ocl{cursor:pointer}
.shop-page .tree-wholerow-ul .tree-anchor,
.shop-page .tree-wholerow-ul .tree-icon{position:relative}
.shop-page .tree-wholerow-ul .tree-wholerow{width:100%;cursor:pointer;position:absolute;left:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.shop-page .vakata-context{display:none}.vakata-context,
.shop-page .vakata-context ul{margin:0;padding:2px;position:absolute;background:#f5f5f5;border:1px solid #979797;box-shadow:2px 2px 2px #999}
.shop-page .vakata-context ul{list-style:none;left:100%;margin-top:-2.7em;margin-left:-4px}
.shop-page .vakata-context .vakata-context-right ul{left:auto;right:100%;margin-left:auto;margin-right:-4px}
.shop-page .vakata-context li{list-style:none;display:inline}
.shop-page .vakata-context li>a{display:block;padding:0 2em;text-decoration:none;width:auto;color:#000;white-space:nowrap;line-height:2.4em;text-shadow:1px 1px 0 #fff;border-radius:1px}
.shop-page .vakata-context li>a:hover{position:relative;background-color:#e8eff7;box-shadow:0 0 2px #0a6aa1}
.shop-page .vakata-context li>a.vakata-context-parent{background-image:url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==);background-position:right center;background-repeat:no-repeat}
.shop-page .vakata-context li>a:focus{outline:0}
.shop-page .vakata-context .vakata-context-hover>a{position:relative;background-color:#e8eff7;box-shadow:0 0 2px #0a6aa1}
.shop-page .vakata-context .vakata-context-separator>a,
.shop-page .vakata-context .vakata-context-separator>a:hover{background:#fff;border:0;border-top:1px solid #e2e3e3;height:1px;min-height:1px;max-height:1px;padding:0;margin:0 0 0 2.4em;border-left:1px solid #e0e0e0;text-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent;border-radius:0}
.shop-page .vakata-context .vakata-contextmenu-disabled a,
.shop-page .vakata-context .vakata-contextmenu-disabled a:hover{color:silver;background-color:transparent;border:0;box-shadow:0 0 0}
.shop-page .vakata-context li>a>i{text-decoration:none;display:inline-block;width:2.4em;height:2.4em;background:0 0;margin:0 0 0 -2em;vertical-align:top;text-align:center;line-height:2.4em}
.shop-page .vakata-context li>a>i:empty{width:2.4em;line-height:2.4em}
.shop-page .vakata-context li>a .vakata-contextmenu-sep{display:inline-block;width:1px;height:2.4em;background:#fff;margin:0 .5em 0 0;border-left:1px solid #e2e3e3}
.shop-page .vakata-context .vakata-contextmenu-shortcut{font-size:.8em;color:silver;opacity:.5;display:none}
.shop-page .vakata-context-rtl ul{left:auto;right:100%;margin-left:auto;margin-right:-4px}
.shop-page .vakata-context-rtl li>a.vakata-context-parent{background-image:url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7);background-position:left center;background-repeat:no-repeat}
.shop-page .vakata-context-rtl .vakata-context-separator>a{margin:0 2.4em 0 0;border-left:0;border-right:1px solid #e2e3e3}
.shop-page .vakata-context-rtl .vakata-context-left ul{right:auto;left:100%;margin-left:-4px;margin-right:auto}
.shop-page .vakata-context-rtl li>a>i{margin:0 -2em 0 0}
.shop-page .vakata-context-rtl li>a .vakata-contextmenu-sep{margin:0 0 0 .5em;border-left-color:#fff;background:#e2e3e3}
.shop-page #tree-marker{position:absolute;top:0;left:0;margin:-5px 0 0 0;padding:0;border-right:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid;width:0;height:0;font-size:0;line-height:0}
.shop-page #tree-dnd{line-height:16px;margin:0;padding:4px}
.shop-page #tree-dnd .tree-icon,
.shop-page #tree-dnd .tree-copy{display:inline-block;text-decoration:none;margin:0 2px 0 0;padding:0;width:16px;height:16px}
.shop-page #tree-dnd .tree-ok{background:green}
.shop-page #tree-dnd .tree-er{background:red}
.shop-page #tree-dnd .tree-copy{margin:0 2px}
.shop-page .tree-default .tree-node,.tree-default .tree-icon{background-repeat:no-repeat;background-color:transparent}
.shop-page .tree-default .tree-anchor,.tree-default .tree-wholerow{transition:background-color .15s,box-shadow .15s}
.shop-page .tree-default .tree-hovered{}.tree-default .tree-clicked{border-radius:2px;}
.shop-page .tree-default .tree-no-icons .tree-anchor>.tree-themeicon{display:none}
.shop-page .tree-default .tree-disabled{background:0 0;color:#666}
.shop-page .tree-default .tree-disabled.tree-hovered{background:0 0;box-shadow:none}
.shop-page .tree-default .tree-disabled.tree-clicked{background:#efefef}
.shop-page .tree-default .tree-disabled>.tree-icon{opacity:.8;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'tree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#tree-grayscale");filter:gray;-webkit-filter:grayscale(100%)}
.shop-page .tree-default .tree-search{font-style:italic;color:#8b0000;font-weight:700}
.shop-page .tree-default .tree-no-checkboxes .tree-checkbox{display:none!important}
.shop-page .tree-default.tree-checkbox-no-clicked .tree-clicked{background:0 0;box-shadow:none}
.shop-page .tree-default.tree-checkbox-no-clicked .tree-clicked.tree-hovered{}.tree-default.tree-checkbox-no-clicked>.tree-wholerow-ul .tree-wholerow-clicked{background:0 0}
.shop-page .tree-default.tree-checkbox-no-clicked>.tree-wholerow-ul .tree-wholerow-clicked.tree-wholerow-hovered{background:#e7f4f9}
.shop-page .tree-default>.tree-striped{min-width:100%;display:inline-block;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat}
.shop-page .tree-default>.tree-wholerow-ul .tree-hovered,.tree-default>.tree-wholerow-ul .tree-clicked{background:0 0;box-shadow:none;border-radius:0}
.shop-page .tree-default .tree-wholerow{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.shop-page .tree-default .tree-wholerow-hovered{background:#e7f4f9}
.shop-page .tree-default .tree-wholerow-clicked{background:#beebff;background:-webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%);background:linear-gradient(to bottom,#beebff 0,#a8e4ff 100%)}
.shop-page .tree-default .tree-node{min-height:24px;line-height:24px;margin-left:24px;min-width:24px}
.shop-page .tree-default .tree-anchor{line-height:24px;height:24px}
.shop-page .tree-default .tree-icon{width:24px;height:24px;line-height:24px}
.shop-page .tree-default .tree-icon:empty{width:24px;height:24px;line-height:24px}
.shop-page .tree-default.tree-rtl .tree-node{margin-right:24px}
.shop-page .tree-default .tree-wholerow{height:24px}
.shop-page .tree-default .tree-node,.tree-default .tree-icon{background-image:url(../images/32px.png)}
.shop-page .tree-default .tree-node{background-position:-292px -4px;background-repeat:repeat-y}
.shop-page .tree-default .tree-last{background:0 0}
.shop-page .tree-default .tree-open>.tree-ocl{background-position:-132px -4px}
.shop-page .tree-default .tree-closed>.tree-ocl{background-position:-100px -4px}
.shop-page .tree-default .tree-leaf>.tree-ocl{background-position:-68px -4px}
.shop-page .tree-default .tree-themeicon{background-position:-260px -4px}
.shop-page .tree-default>.tree-no-dots .tree-node,.tree-default>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default>.tree-no-dots .tree-open>.tree-ocl{background-position:-36px -4px}
.shop-page .tree-default>.tree-no-dots .tree-closed>.tree-ocl{background-position:-4px -4px}
.shop-page .tree-default .tree-disabled{background:0 0}.tree-default .tree-disabled.tree-hovered{background:0 0}
.shop-page .tree-default .tree-disabled.tree-clicked{background:#efefef}
.shop-page .tree-default .tree-checkbox{background-position:-164px -4px}
.shop-page .tree-default .tree-checkbox:hover{background-position:-164px -36px}
.shop-page .tree-default.tree-checkbox-selection .tree-clicked>.tree-checkbox,
.shop-page .tree-default .tree-checked>.tree-checkbox{background-position:-228px -4px}
.shop-page .tree-default.tree-checkbox-selection .tree-clicked>.tree-checkbox:hover,
.shop-page .tree-default .tree-checked>.tree-checkbox:hover{background-position:-228px -36px}
.shop-page .tree-default .tree-anchor>.tree-undetermined{background-position:-196px -4px}
.shop-page .tree-default .tree-anchor>.tree-undetermined:hover{background-position:-196px -36px}
.shop-page .tree-default .tree-checkbox-disabled{opacity:.8;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'tree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#tree-grayscale");filter:gray;-webkit-filter:grayscale(100%)}
.shop-page .tree-default>.tree-striped{background-size:auto 48px}
.shop-page .tree-default.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);background-position:100% 1px;background-repeat:repeat-y}
.shop-page .tree-default.tree-rtl .tree-last{background:0 0}
.shop-page .tree-default.tree-rtl .tree-open>.tree-ocl{background-position:-132px -36px}
.shop-page .tree-default.tree-rtl .tree-closed>.tree-ocl{background-position:-100px -36px}
.shop-page .tree-default.tree-rtl .tree-leaf>.tree-ocl{background-position:-68px -36px}
.shop-page .tree-default.tree-rtl>.tree-no-dots .tree-node,
.shop-page .tree-default.tree-rtl>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default.tree-rtl>.tree-no-dots .tree-open>.tree-ocl{background-position:-36px -36px}
.shop-page .tree-default.tree-rtl>.tree-no-dots .tree-closed>.tree-ocl{background-position:-4px -36px}
.shop-page .tree-default .tree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.shop-page .tree-default>.tree-container-ul .tree-loading>.tree-ocl{background:url(throbber.gif) center center no-repeat}
.shop-page .tree-default .tree-file{background:url(32px.png) -100px -68px no-repeat}
.shop-page .tree-default .tree-folder{background:url(../images/32px.png) -260px -4px no-repeat}
.shop-page .tree-default>.tree-container-ul>.tree-node{margin-left:0;margin-right:0}
.shop-page #tree-dnd.tree-default{line-height:24px;padding:0 4px}
.shop-page #tree-dnd.tree-default .tree-ok,
.shop-page #tree-dnd.tree-default .tree-er{background-image:url(../images/32px.png);background-repeat:no-repeat;background-color:transparent}
.shop-page #tree-dnd.tree-default i{background:0 0;width:24px;height:24px;line-height:24px}
.shop-page #tree-dnd.tree-default .tree-ok{background-position:-4px -68px}
.shop-page #tree-dnd.tree-default .tree-er{background-position:-36px -68px}
.shop-page .tree-default.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==)}
.shop-page .tree-default.tree-rtl .tree-last{background:0 0}
.shop-page .tree-default-small .tree-node{min-height:18px;line-height:18px;margin-left:18px;min-width:18px}
.shop-page .tree-default-small .tree-anchor{line-height:18px;height:18px}
.shop-page .tree-default-small .tree-icon{width:18px;height:18px;line-height:18px}
.shop-page .tree-default-small .tree-icon:empty{width:18px;height:18px;line-height:18px}
.shop-page .tree-default-small.tree-rtl .tree-node{margin-right:18px}
.shop-page .tree-default-small .tree-wholerow{height:18px}
.shop-page .tree-default-small .tree-node,
.shop-page .tree-default-small .tree-icon{background-image:url(../images/32px.png)}
.shop-page .tree-default-small .tree-node{background-position:-295px -7px;background-repeat:repeat-y}
.shop-page .tree-default-small .tree-last{background:0 0}
.shop-page .tree-default-small .tree-open>.tree-ocl{background-position:-135px -7px}
.shop-page .tree-default-small .tree-closed>.tree-ocl{background-position:-103px -7px}
.shop-page .tree-default-small .tree-leaf>.tree-ocl{background-position:-71px -7px}
.shop-page .tree-default-small .tree-themeicon{background-position:-263px -7px}
.shop-page .tree-default-small>.tree-no-dots .tree-node,
.shop-page .tree-default-small>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-small>.tree-no-dots .tree-open>.tree-ocl{background-position:-39px -7px}
.shop-page .tree-default-small>.tree-no-dots .tree-closed>.tree-ocl{background-position:-7px -7px}
.shop-page .tree-default-small .tree-disabled{background:0 0}
.shop-page .tree-default-small .tree-disabled.tree-hovered{background:0 0}
.shop-page .tree-default-small .tree-disabled.tree-clicked{background:#efefef}
.shop-page .tree-default-small .tree-checkbox{background-position:-167px -7px}
.shop-page .tree-default-small .tree-checkbox:hover{background-position:-167px -39px}
.shop-page .tree-default-small.tree-checkbox-selection .tree-clicked>.tree-checkbox,
.shop-page .tree-default-small .tree-checked>.tree-checkbox{background-position:-231px -7px}
.shop-page .tree-default-small.tree-checkbox-selection .tree-clicked>.tree-checkbox:hover,
.shop-page .tree-default-small .tree-checked>.tree-checkbox:hover{background-position:-231px -39px}
.shop-page .tree-default-small .tree-anchor>.tree-undetermined{background-position:-199px -7px}
.shop-page .tree-default-small .tree-anchor>.tree-undetermined:hover{background-position:-199px -39px}
.shop-page .tree-default-small .tree-checkbox-disabled{opacity:.8;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'tree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#tree-grayscale");filter:gray;-webkit-filter:grayscale(100%)}
.shop-page .tree-default-small>.tree-striped{background-size:auto 36px}
.shop-page .tree-default-small.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);background-position:100% 1px;background-repeat:repeat-y}
.shop-page .tree-default-small.tree-rtl .tree-last{background:0 0}
.shop-page .tree-default-small.tree-rtl .tree-open>.tree-ocl{background-position:-135px -39px}
.shop-page .tree-default-small.tree-rtl .tree-closed>.tree-ocl{background-position:-103px -39px}
.shop-page .tree-default-small.tree-rtl .tree-leaf>.tree-ocl{background-position:-71px -39px}
.shop-page .tree-default-small.tree-rtl>.tree-no-dots .tree-node,
.shop-page .tree-default-small.tree-rtl>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-small.tree-rtl>.tree-no-dots .tree-open>.tree-ocl{background-position:-39px -39px}
.shop-page .tree-default-small.tree-rtl>.tree-no-dots .tree-closed>.tree-ocl{background-position:-7px -39px}
.shop-page .tree-default-small .tree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.shop-page .tree-default-small>.tree-container-ul .tree-loading>.tree-ocl{background:url(throbber.gif) center center no-repeat}
.shop-page .tree-default-small .tree-file{background:url(../images/32px.png) -103px -71px no-repeat}
.shop-page .tree-default-small .tree-folder{background:url(../images/32px.png) -263px -7px no-repeat}
.shop-page .tree-default-small>.tree-container-ul>.tree-node{margin-left:0;margin-right:0}
.shop-page #tree-dnd.tree-default-small{line-height:18px;padding:0 4px}
.shop-page #tree-dnd.tree-default-small .tree-ok,
.shop-page #tree-dnd.tree-default-small .tree-er{background-image:url(../images/32px.png);background-repeat:no-repeat;background-color:transparent}
.shop-page #tree-dnd.tree-default-small i{background:0 0;width:18px;height:18px;line-height:18px}
.shop-page #tree-dnd.tree-default-small .tree-ok{background-position:-7px -71px}
.shop-page #tree-dnd.tree-default-small .tree-er{background-position:-39px -71px}
.shop-page .tree-default-small.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAACAQMAAABv1h6PAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMHBgAAiABBI4gz9AAAAABJRU5ErkJggg==)}
.shop-page .tree-default-small.tree-rtl .tree-last{background:0 0}
.shop-page .tree-default-large .tree-node{min-height:32px;line-height:32px;margin-left:32px;min-width:32px}
.shop-page .tree-default-large .tree-anchor{line-height:32px;height:32px}
.shop-page .tree-default-large .tree-icon{width:32px;height:32px;line-height:32px}
.shop-page .tree-default-large .tree-icon:empty{width:32px;height:32px;line-height:32px}
.shop-page .tree-default-large.tree-rtl .tree-node{margin-right:32px}
.shop-page .tree-default-large .tree-wholerow{height:32px}
.shop-page .tree-default-large .tree-node,
.shop-page .tree-default-large .tree-icon{background-image:url(../images/32px.png)}
.shop-page .tree-default-large .tree-node{background-position:-288px 0;background-repeat:repeat-y}
.shop-page .tree-default-large .tree-last{background:0 0}
.shop-page .tree-default-large .tree-open>.tree-ocl{background-position:-128px 0}
.shop-page .tree-default-large .tree-closed>.tree-ocl{background-position:-96px 0}
.shop-page .tree-default-large .tree-leaf>.tree-ocl{background-position:-64px 0}
.shop-page .tree-default-large .tree-themeicon{background-position:-256px 0}
.shop-page .tree-default-large>.tree-no-dots .tree-node,
.shop-page .tree-default-large>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-large>.tree-no-dots .tree-open>.tree-ocl{background-position:-32px 0}
.shop-page .tree-default-large>.tree-no-dots .tree-closed>.tree-ocl{background-position:0 0}
.shop-page .tree-default-large .tree-disabled{background:0 0}
.shop-page .tree-default-large .tree-disabled.tree-hovered{background:0 0}
.shop-page .tree-default-large .tree-disabled.tree-clicked{background:#efefef}
.shop-page .tree-default-large .tree-checkbox{background-position:-160px 0}
.shop-page .tree-default-large .tree-checkbox:hover{background-position:-160px -32px}
.shop-page .tree-default-large.tree-checkbox-selection .tree-clicked>.tree-checkbox,
.shop-page .tree-default-large .tree-checked>.tree-checkbox{background-position:-224px 0}
.shop-page .tree-default-large.tree-checkbox-selection .tree-clicked>.tree-checkbox:hover,
.shop-page .tree-default-large .tree-checked>.tree-checkbox:hover{background-position:-224px -32px}
.shop-page .tree-default-large .tree-anchor>.tree-undetermined{background-position:-192px 0}
.shop-page .tree-default-large .tree-anchor>.tree-undetermined:hover{background-position:-192px -32px}
.shop-page .tree-default-large .tree-checkbox-disabled{opacity:.8;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'tree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#tree-grayscale");filter:gray;-webkit-filter:grayscale(100%)}
.shop-page .tree-default-large>.tree-striped{background-size:auto 64px}
.shop-page .tree-default-large.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);background-position:100% 1px;background-repeat:repeat-y}
.shop-page .tree-default-large.tree-rtl .tree-last{background:0 0}
.shop-page .tree-default-large.tree-rtl .tree-open>.tree-ocl{background-position:-128px -32px}
.shop-page .tree-default-large.tree-rtl .tree-closed>.tree-ocl{background-position:-96px -32px}
.shop-page .tree-default-large.tree-rtl .tree-leaf>.tree-ocl{background-position:-64px -32px}
.shop-page .tree-default-large.tree-rtl>.tree-no-dots .tree-node,
.shop-page .tree-default-large.tree-rtl>.tree-no-dots .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-large.tree-rtl>.tree-no-dots .tree-open>.tree-ocl{background-position:-32px -32px}
.shop-page .tree-default-large.tree-rtl>.tree-no-dots .tree-closed>.tree-ocl{background-position:0 -32px}
.shop-page .tree-default-large .tree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.shop-page .tree-default-large>.tree-container-ul .tree-loading>.tree-ocl{background:url(throbber.gif) center center no-repeat}
.shop-page .tree-default-large .tree-file{background:url(../images/32px.png) -96px -64px no-repeat}
.shop-page .tree-default-large .tree-folder{background:url(../images/32px.png) -256px 0 no-repeat}
.shop-page .tree-default-large>.tree-container-ul>.tree-node{margin-left:0;margin-right:0}
.shop-page #tree-dnd.tree-default-large{line-height:32px;padding:0 4px}
.shop-page #tree-dnd.tree-default-large .tree-ok,
.shop-page #tree-dnd.tree-default-large .tree-er{background-image:url(../images/32px.png);background-repeat:no-repeat;background-color:transparent}
.shop-page #tree-dnd.tree-default-large i{background:0 0;width:32px;height:32px;line-height:32px}
.shop-page #tree-dnd.tree-default-large .tree-ok{background-position:0 -64px}
.shop-page #tree-dnd.tree-default-large .tree-er{background-position:-32px -64px}
.shop-page .tree-default-large.tree-rtl .tree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAACAQMAAAAD0EyKAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjgIIGBgABCgCBvVLXcAAAAABJRU5ErkJggg==)}
.shop-page .tree-default-large.tree-rtl .tree-last{background:0 0}
@media (max-width:768px){.shop-page #tree-dnd.tree-dnd-responsive{line-height:40px;font-weight:700;font-size:1.1em;text-shadow:1px 1px #fff}
.shop-page #tree-dnd.tree-dnd-responsive>i{background:0 0;width:40px;height:40px}
.shop-page #tree-dnd.tree-dnd-responsive>.tree-ok{background-image:url(40px.png);background-position:0 -200px;background-size:120px 240px}
.shop-page #tree-dnd.tree-dnd-responsive>.tree-er{background-image:url(40px.png);background-position:-40px -200px;background-size:120px 240px}
.shop-page #tree-marker.tree-dnd-responsive{border-left-width:10px;border-top-width:10px;border-bottom-width:10px;margin-top:-10px}}
@media (max-width:768px){.shop-page .tree-default-responsive .tree-icon{background-image:url(40px.png)}
.shop-page .tree-default-responsive .tree-node,
.shop-page .tree-default-responsive .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-responsive .tree-node{min-height:40px;line-height:40px;margin-left:40px;min-width:40px;white-space:nowrap}
.shop-page .tree-default-responsive .tree-anchor{line-height:40px;height:40px}
.shop-page .tree-default-responsive .tree-icon,
.shop-page .tree-default-responsive .tree-icon:empty{width:40px;height:40px;line-height:40px}
.shop-page .tree-default-responsive>.tree-container-ul>.tree-node{margin-left:0}
.shop-page .tree-default-responsive.tree-rtl .tree-node{margin-left:0;margin-right:40px}
.shop-page .tree-default-responsive.tree-rtl .tree-container-ul>.tree-node{margin-right:0}
.shop-page .tree-default-responsive .tree-ocl,
.shop-page .tree-default-responsive .tree-themeicon,
.shop-page .tree-default-responsive .tree-checkbox{background-size:120px 240px}
.shop-page .tree-default-responsive .tree-leaf>.tree-ocl{background:0 0}
.shop-page .tree-default-responsive .tree-open>.tree-ocl{background-position:0 0!important}
.shop-page .tree-default-responsive .tree-closed>.tree-ocl{background-position:0 -40px!important}
.shop-page .tree-default-responsive.tree-rtl .tree-closed>.tree-ocl{background-position:-40px 0!important}
.shop-page .tree-default-responsive .tree-themeicon{background-position:-40px -40px}
.shop-page .tree-default-responsive .tree-checkbox,
.shop-page .tree-default-responsive .tree-checkbox:hover{background-position:-40px -80px}
.shop-page .tree-default-responsive.tree-checkbox-selection .tree-clicked>.tree-checkbox,
.shop-page .tree-default-responsive.tree-checkbox-selection .tree-clicked>.tree-checkbox:hover,
.shop-page .tree-default-responsive .tree-checked>.tree-checkbox,
.shop-page .tree-default-responsive .tree-checked>.tree-checkbox:hover{background-position:0 -80px}
.shop-page .tree-default-responsive .tree-anchor>.tree-undetermined,
.shop-page .tree-default-responsive .tree-anchor>.tree-undetermined:hover{background-position:0 -120px}
.shop-page .tree-default-responsive .tree-anchor{font-weight:700;font-size:1.1em;text-shadow:1px 1px #fff}
.shop-page .tree-default-responsive>.tree-striped{background:0 0}
.shop-page .tree-default-responsive .tree-wholerow{border-top:1px solid rgba(255,255,255,.7);border-bottom:1px solid rgba(64,64,64,.2);background:#ebebeb;height:40px}
.shop-page .tree-default-responsive .tree-wholerow-hovered{}.tree-default-responsive .tree-wholerow-clicked{background:#beebff}
.shop-page .tree-default-responsive .tree-children .tree-last>.tree-wholerow{box-shadow:inset 0 -6px 3px -5px #666}
.shop-page .tree-default-responsive .tree-children .tree-open>.tree-wholerow{box-shadow:inset 0 6px 3px -5px #666;border-top:0}
.shop-page .tree-default-responsive .tree-children .tree-open+.tree-open{box-shadow:none}
.shop-page .tree-default-responsive .tree-node,
.shop-page .tree-default-responsive .tree-icon,
.shop-page .tree-default-responsive .tree-node>.tree-ocl,
.shop-page .tree-default-responsive .tree-themeicon,
.shop-page .tree-default-responsive .tree-checkbox{background-image:url(40px.png);background-size:120px 240px}
.shop-page .tree-default-responsive .tree-node{background-position:-80px 0;background-repeat:repeat-y}
.shop-page .tree-default-responsive .tree-last{background:0 0}
.shop-page .tree-default-responsive .tree-leaf>.tree-ocl{background-position:-40px -120px}
.shop-page .tree-default-responsive .tree-last>.tree-ocl{background-position:-40px -160px}
.shop-page .tree-default-responsive .tree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.shop-page .tree-default-responsive .tree-file{background:url(40px.png) 0 -160px no-repeat;background-size:120px 240px}
.shop-page .tree-default-responsive .tree-folder{background:url(40px.png) -40px -40px no-repeat;background-size:120px 240px}
.shop-page .tree-default-responsive>.tree-container-ul>.tree-node{margin-left:0;margin-right:0}}
.shop-page .tree-default .tree-anchor{float:left;}
.shop-page .tree-default .tree-node, .tree-default .tree-icon{}
.shop-page .tree-default .tree-themeicon{background-position:0 0;}
.shop-page .tree-default .tree-closed>.tree-ocl{background-position: -136px -67px;}
.shop-page .tree-default .tree-open>.tree-ocl {
    background-position: -120px -67px;
}
.shop-page .tree-default .tree-container-ul .tree-children li a{font: 400 18px 'Fira Sans',sans-serif;
    color: #5e6e7e;}
.shop-page .tree-default .tree-container-ul li a{font: 400 24px 'Fira Sans',sans-serif;
    color: #5e6e7e;}
.shop-page .tree-hovered{background:none;}
.shop-page .tree-default>.tree-container-ul>.tree-node{margin-bottom:10px;}
.shop-page .tree .tree-open>.tree-children{margin-top:15px;}

.shop-page #shop_categories{
	margin: 40px -10px 25px -10px;
}
.shop-page #shop_categories .p_cat{
	margin-bottom:65px;
	padding:0 10px;
	display:inline-block;
	vertical-align: top;
	width:305px;
}
.shop-page #shop_categories ul li.hidden{
	display:none !important;
}
.shop-page .catalog-menu__list_type_more{
	width:auto !important;
	display:none;
}
.shop-page #shop_categories .p_cat .all_category{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#aaaaaa;
	margin-top:25px;
}
.shop-page #shop_categories .ch_cat{
	margin-top:25px;
}
.shop-page #shop_categories .ch_cat li{
	float:left;
}
.shop-page #shop_categories .ch_cat li:after{
	content: " ";
    width: 3px;
    height: 3px;
    background: #b9b9b9;
    float: right;
    margin: 0 5px;
    margin-top: 7px;
	border-radius: 3px;
}
.shop-page #shop_categories .ch_cat li:last-child:after{
	display:none;
}
.shop-page #shop_categories .ch_cat li a{
	position: relative;
    color: #063f74;
    padding: 0;
	font: 400 14px 'PTSansRegular',sans-serif;
}
.shop-page .c_left_bn #shop_categories .p_cat:nth-child(3n + 2){
	margin-left:0;
	margin-right:0;
}
.shop-page #shop_categories .p_cat .name_p_cat a {
    font: 600 17px/35px 'PTSansBold',sans-serif;
    color: #252525;
    margin-bottom: 8px;
	display: block;
	margin-left: 47px;
}
.shop-page #shop_categories .p_cat .name_p_cat span.chypalo{
	background: url(../images/sprite.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position: 460px 174px;
	vertical-align:middle;
	margin-right: 15px;
	float:left;
}
.shop-page #shop_categories .p_cat .head{
	border-bottom:1px solid #ebebeb;
	padding-bottom:20px;
	margin-bottom:-15px;
}
.shop-page #shop_categories #shop_categories_children{
	box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
	margin-bottom:-50px;
}
.shop-page .show_yet{display:table; text-align:center;margin:0 auto; margin-bottom:20px;}
.shop-page #shop_categories .two li a{
	font: 400 18px 'Fira Sans',sans-serif;
    color: #3b424a;
}
.shop-page #shop_categories_children{border-top:1px solid #e9e9e9;padding: 16px 0;}
.shop-page #shop_categories > ul li{display:inline-block; margin:0 23px;}
.shop-page #shop_categories_children > ul li{display:inline-block; margin:0 16px;}
.shop-page #shop_categories > ul{
	width: 1202px;
    margin: 0 auto;
	padding:43px 0 0 0;
}
.shop-page #shop_categories_children > ul{
	width: 1202px;
    margin: 0 auto;
}
.shop-page #shop_categories > ul li a{
	font: 400 24px 'Fira Sans',sans-serif;
    color: #3b424a;
}
.shop-page #shop_categories_children{
	font: 400 24px 'Fira Sans',sans-serif;
    color: #3b424a;
}
.shop-page #shop_categories #shop_categories_children > ul li a{
	font: 400 18px 'Fira Sans',sans-serif;
    color: #3b424a;
}
.shop-page #shop_categories > ul li a:hover{
    color: #156596;
	
}
.shop-page #shop_categories #shop_categories_children > ul li a:hover{
	color: #156596;
}
.shop-page .right_bn div.control{padding:15px 0;}
.shop-page .filter{color:#a4a4a4;font: 400 13px 'PTSansRegular',sans-serif; padding-top:40px; height:80px;}
.shop-page .filter a{    
	position: relative;
    margin: 0 10px 0 15px;
    color: #077fed;
    border-color: #077fed;
    padding: 0;
}
.shop-page .filter a.active {
    font-weight: 600;
	color: #252525;
}
.shop-page .filter a.active::after {
    border:none;
}
.shop-page .filter .sort{width:465px;}
.shop-page .c_left_bn .name_field{
	font: 400 24px 'Fira Sans',sans-serif;
    color: #3b424a;
}
.shop-page #price_start, .shop-page #price_end{width:52px;}
.shop-page #field_prices label{vertical-align:super;color:#156596;float:right; padding: 0 3px 0 6px;}
.shop-page #field_prices input{height:24px;vertical-align:top;border:1px solid #dfe3e6; color:#156596;float:right;padding:0 5px;}

.shop-page .color-choose span{    width: 16px;
    height: 16px;
    margin: 2px 7px 2px 2px;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    position: relative;
    background: url('../images/color.png') left top no-repeat;}
.shop-page .color-choose span.red {
    background-position: 0 0;
}
.shop-page .color-choose span.orange {
    background-position: -30px 0;
}
.shop-page .color-choose span.yellow {
    background-position: -60px 0;
}
.shop-page .color-choose span.green {
    background-position: -90px 0;
}
.shop-page .color-choose span.blue {
    background-position: -120px 0;
}
.shop-page .color-choose span.blue_2 {
    background-position: -150px 0;
}
.shop-page .color-choose span.blue_dark {
    background-position: -180px 0;
}
.shop-page .color-choose span.purpure {
    background-position: -210px 0;
}
.shop-page .color-choose span.black {
    background-position: -240px 0;
}
.shop-page .color-choose span.white {
    background-position: -270px 0;
}
.shop-page  .filter-form .input-cell{
	
}
.shop-page .filter-form .input-cell label {
    font: 400 24px 'Fira Sans',sans-serif;
    color: #3b424a;
	position:absolute;
}
.shop-page .select2-container--default .select2-selection--multiple{
	background:none;
}
.shop-page .select2-container--below{
	cursor:auto;
}
.shop-page .select2-container--default .select2-selection--multiple, .shop-page .select2-container--default .select2-selection--single{
	border-bottom:none;
}
.shop-page .select2-multi-results{min-height:inherit;}
.shop-page .select2-container--default .select2-selection--multiple:after{     width: 7px; 
     height: 6px; 
     background: url(../images/sprite.png) -121px -42px no-repeat; }
.shop-page .select-multi .placeholder:after{
	content: "";
    position: absolute;
    width: 9px;
    height: 6px;
    background: url(../images/sprite.png) -121px -50px no-repeat;
    border: none;
    margin: -4px -25px 0 50px;
    top: 18px;
    right: 1px;
}
.shop-page .select-multi .placeholder{
	width: auto;
    z-index: 0;
	float:right;
	font: 400 24px 'Fira Sans',sans-serif;
    color: #3b424a;
    position: absolute;
    left: 0;
}
.shop-page #shop > div.list{
	display:inline-block;
	margin-right:165px;
}
.shop-page .crumbs{
	color:#156596;
	margin-bottom:22px;
	margin-top:40px;
}
.shop-page .crumbs a.arrow:before{
	content: " ";
	position: absolute;
	width: 7px;
	height: 10px;
	left: -17px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(/local/images/sprite_r.png);
	background-position: -85px -178px;
}
.shop-page .crumbs a{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#858585;
	margin-right:25px;
	position:relative;
}

.shop-page .crumbs a:hover {
    color: #252525;
}
.shop-page #main_ph{overflow:hidden;width: 599px;margin-bottom: 7px;}
.shop-page #main_ph a img{margin:0 auto; display:block;width:600px;}
.shop-page #second_ph ul li.info_first{margin-left:0;}
.shop-page #second_ph ul li{margin-left:7px;float:left;width: 195px;overflow: hidden; margin-bottom:7px;}
.shop-page #second_ph ul li a img{width:100%;}
.shop-page #item #shop{padding-top:0;}
.shop-page #item #shop h2{margin: 0 0 22px 0;}
.shop-page #item #tp_bn{
	margin-top:0;
}
.shop-page #item #lf_bn{width:600px; float:left; margin-bottom:50px;}
.shop-page #item #rt_bn{margin-left:625px; margin-bottom:50px;}
.shop-page #item #rt_bn .btn-item{
	display:inline-block;
	vertical-align:middle;
	margin-bottom:5px;
}
.shop-page #item #rt_bn .row:after{
	clear:none;
}
.shop-page #item #rt_bn .add_favourite a{
	padding: 0;
    width: 200px;
    line-height: 50px;
    text-align: center;
}
.shop-page #item #rt_bn .bue_item a.btn, .shop-page #item #rt_bn .to-basket{
	position: relative;
    display: inline-block;
	vertical-align:middle;
}
.shop-page #item #rt_bn .to-basket{
	position: absolute;
	left:6px;
	top:4px;
    width: 43px;
    height: 43px;
    background: url(../images/sprite.png) -239px -90px no-repeat;
}
.shop-page #item #rt_bn .bue_item a.btn, 
.shop-page #item #rt_bn .add_favourite a > span.favourite{
	display: inline-block;
    vertical-align: middle;
}
.shop-page #item #rt_bn .add_favourite a > span.favourite{
	margin-right:10px;
}
.shop-page #item #rt_bn .add_favourite a  > span.my-favourite{
	background: url(../images/sprite.png) -350px -60px no-repeat;
}
.shop-page #item #rt_bn .sv_va p{
	font: 400 16px/32px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
    text-transform: uppercase;
}
.shop-page #item #rt_bn .disc{
	color: #3b424a;
    font: 300 18px 'Fira Sans',sans-serif;
	margin-top:1em;
}
.shop-page #item #rt_bn .sv_va p.price span{
	color: #156596;
    font: 300 24px 'Fira Sans',sans-serif;
}
.shop-page #item #rt_bn .sv_va p.color span{
	width:100px;
	height:20px;
	background:#5778a5;
	display:inline-block;
	vertical-align:middle;
}
.shop-page .crumbs span{cursor:pointer;}
.shop-page #item .slide{margin-bottom:31px;}

.shop-page .tree {
	font-size:1.5em;
}
.shop-page .tree,
.shop-page .tree ul,
.shop-page .tree li {
	list-style:none;
	margin:0;
	padding:0;
	zoom:1;
}
.shop-page .tree ul {
	margin-left:8px;
}
.shop-page .tree li a {
	color:#555;
	padding:.1em 1.5em .1em 0;
	text-decoration:none;
 
}
.shop-page .tree li a {font: 400 24px 'Fira Sans',sans-serif;}
.shop-page .tree li ul li a{font: 400 18px 'Fira Sans',sans-serif;}
.shop-page .tree li ul {
	color:#555;
	padding:.1em 1.5em .1em 0;
	text-decoration:none;
 
}
.shop-page .tree li span.tree-parent{
	background:url(../images/icon-folder-open.gif) 100% 50% no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.shop-page .tree li a.tree-parent {
	background:url(../images/icon-folder-open.gif) 100% 50% no-repeat;
}
.shop-page .tree li a.tree-parent-collapsed {
	background:url(../images/icon-folder.gif) 100% 50% no-repeat;
}
.shop-page .tree li a:hover,
.shop-page .tree li a.tree-parent:hover,
.shop-page .tree li a:focus,
.shop-page .tree li a.tree-parent:focus,
.shop-page .tree li a.tree-item-active {
	color:#000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.shop-page .tree ul.tree-group-collapsed {
	 display: none;
}

.shop-page .filter-form {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    width: 871px;
    height: auto;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
    margin: 7px 0 0 -30px;
    padding: 39px 29px;
}
.shop-page .filter-form .input-cell{
	position:relative;
}
.shop-page .filter-form .input-cell.input-tags .tags label {
    float: left;
    margin: 0 0 4px;
}
.shop-page .filter-form .input-cell.input-cell-2 {
    width: 530px;
}

.shop-page .filter-form .input-cell .tag input[type=checkbox] {
    display: none;
}

.shop-page .filter-form .input-cell .tag label:before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    top: -1px;
    right: -27px;
    border: 13px solid transparent;
    border-left: 13px solid #1d70a4;
    opacity: 0;
    border-radius: 0;
    left: auto;
}

.shop-page .filter-form .input-cell .tag label:after {
    transition: all .3s ease;
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-top: 1px solid rgba(1,1,1,.1);
    border-right: 1px solid rgba(1,1,1,.1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    right: -10px;
    background-color: transparent;
    border-radius: 0;
    left: auto;
}
.shop-page .filter-form .input-cell .tag label {
	float:left;
    transition: all .3s ease;
    box-sizing: border-box;
    height: 27px;
    position: relative;
    display: inline-block;
    margin: 0 15px 4px 0;
    padding: 5px 4px 5px 8px;
    border: 1px solid rgba(1,1,1,.1);
    border-right-color: transparent;
    font: 400 12px/16px 'fira_sanslight',sans-serif;
    color: #1d70a4;
    text-transform: uppercase;
    background-color: transparent;
    opacity: 1;
	cursor:pointer;
}
.shop-page .filter-form .input-cell.input-cell-2{
	color: #3b424a;
    font: 300 16px 'fira_sanslight',sans-serif;
	margin-bottom: 10px;
}
.shop-page .filter-form .input-cell.input-cell-2 span.up{
	width: 19px;
    height: 20px;
    background: url(/local/images/sprite.png) -480px -40px no-repeat;
    display: inline-block;
	cursor:pointer;
	vertical-align: middle;
}
.shop-page .filter-form .input-cell.input-cell-2 span.down{
	width: 19px;
    height: 20px;
    background: url(/local/images/sprite.png) -480px -19px no-repeat;
    display: inline-block;
	cursor:pointer;
	vertical-align: middle;
}
.shop-page .filter-form .input-cell.input-cell-2 span.vote{
	font: 600 16px/16px 'fira_sanslight',sans-serif;
    color: #1d70a4;
    vertical-align: middle;
	padding:0 10px;
}
.shop-page .filter-form .input-cell .tag label:before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    top: -1px;
    right: -27px;
    border: 13px solid transparent;
    border-left: 13px solid #1d70a4;
    opacity: 0;
    border-radius: 0;
    left: auto;
}
.shop-page .filter-form .input-cell.disabled{
    opacity:.5;
}
.shop-page .filter-form .input-cell.disabled .overlap{
    position:absolute;
	height:100%;
	width:100%;
	z-index:10;
	cursor: not-allowed;
}
.shop-page .filter-form .input-cell .tag.N{
	opacity:.5;
}
.shop-page .filter-form .input-cell .tag.N label{
	cursor: not-allowed;
}
.shop-page .filter-form .input-cell .tag.Y{
	opacity: 1;
}
.shop-page .filter-form .input-cell .tag input[type=radio]:checked+label:before {
    opacity: 1;
}
.shop-page .filter-form .input-cell .tag input[type=radio]:checked+label {
    opacity: 1;
    background-color: #1d70a4;
    color: #fff;
}
.shop-page .filter-form {
    transition: box-shadow .3s linear;
}
.shop-page .filter-form .form-clear {
    transition: all .3s ease;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/sprite.png) -100px -40px no-repeat;
    top: 22px;
    right: 20px;
    left: auto!important;
}
.shop-page .filter-form .input-cell {
    box-sizing: border-box;
	float:left;
}
.shop-page .filter-form .input-cell label {
    font: 400 16px/32px 'fira_sanslight',sans-serif;
    color: #5e6e7e;
    text-transform: uppercase;
}
.shop-page .filter-form .input-cell .range-wrapper {
    color: #5e6e7e;
    text-align: right;
}
.shop-page .filter-form .input-cell input[type=text] {
    box-sizing: border-box;
    width: 62px;
    height: 29px;
    padding: 0 5px 0 7px;
    margin: 0 7px;
    border: 1px solid rgba(94,110,126,.2);
    font: 400 16px 'Fira Sans',sans-serif;
    color: #1d70a4;
}
.shop-page .filter-form .input-cell input[type=text]+input[type=text] {
    margin: 0 0 0 6px;
}
.shop-page .filter-form .input-cell input[type=text] {
    box-sizing: border-box;
    width: 76px;
    height: 29px;
    padding: 0 5px 0 7px;
    margin: 0 7px;
    border: 1px solid rgba(94,110,126,.2);
    font: 400 16px 'Fira Sans',sans-serif;
    color: #1d70a4;
}
.shop-page .filter-form .input-cell .ui-slider {
    margin: 17px 0 0;
}
.shop-page .ui-slider {
    position: relative;
    width: 100%;
    height: 18px;
    margin-top: 13px;
}
.shop-page .select-multi .select2-container {
    height: 32px;
    width:260px !important;
    position: relative;
    z-index: 2;
    margin: 0!important;
}
.shop-page .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.shop-page select-multi .placeholder:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 6px;
    background: url(../images/sprite.png) -121px -42px no-repeat;
    border: none;
    margin: -4px 0 0 -2px;
    top: 18px;
    right: 1px;
}
.shop-page .filter-form .input-cell .max-value, 
.shop-page .filter-form .input-cell .min-value {
    font: 700 12px 'Fira Sans',sans-serif;
    color: #1d70a4;
    margin: 0;
    cursor:pointer;
}
.shop-page .filter-form .input-cell .min-value {
    float: left;
}
.shop-page .filter-form .input-cell .max-value {
    float: right;
}
.shop-page .filter-form .input-cell .max-value, .shop-detail-page .filter-form .input-cell .min-value {
    font: 700 12px 'Fira Sans',sans-serif;
    color: #1d70a4;
    margin: 0;
}
.shop-page .not-found .not-found-message, .not-found-message p{
	text-align:center;
}
.shop-page .not-found.design{
	padding:45px 0;
}











.shop-page .box {
    position: relative;
    padding-bottom: 25px;
}
.shop-page .tabs-panes__pane_active_yes {
    display: block;
}
.shop-page .popular {
    margin: 0 -13px -13px 0;
}
.shop-page .popular__row {
    position: relative;
    margin: 0 0 13px;
    padding-bottom: calc(430*(100%/1160));
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(1) {
    left: 0;
    bottom: calc(100% - 136px);
}
.shop-page .popular__item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(25% - 20px);
    overflow: hidden;
	border: 1px solid #f0f0f0;
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(2) {
	top: calc(100% - 293px);
	bottom: calc(100% - 293px);
	left: 0;
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(3) {
    top: calc(100% - 136px);
    bottom: 0;
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(4) {
    left: 25%;
    width: calc(50% - 20px);
    height: calc(50% - 10px);
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(5) {
    left: 25%;
    width: calc(25% - 20px);
    height: calc(50% - 10px);
    top: calc(50% + 10px);
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(6) {
    left: 50%;
    width: calc(25% - 20px);
    height: calc(50% - 10px);
    top: calc(50% + 10px);;
}
.shop-page .popular__row.popular__row_pos_1 .popular__item:nth-child(7) {
    left: 75%;
    width: calc(25% - 20px);
    height: 100%;
    top: 0%;
}
.shop-page .popular__item .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 105%;
    max-height: 100%;
    margin: auto;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.shop-page .popular__item:hover{
	background-color:#97d5eb;
}
.shop-page .popular__item img{
	-webkit-transition: color .15s ease-out;
	transition: color .15s ease-out;
}
.shop-page .popular__item{
	font:400 14px 'PTSansRegular',sans-serif;
	color:#fff;
}
.shop-page .popular__item .item_info{
	position:absolute;
}
.shop-page .popular__item .title{
	font:600 21px 'RobotoSlabBold',sans-serif;
	color:#fff;
	display:block;
	margin-bottom:18px;
}
.shop-page .popular__item{
	font:400 14px 'PTSansRegular',sans-serif;
	color:#fff;
}
.shop-page .popular__item img{
	opacity:.8;
}
.shop-page .popular__item:hover img{
	opacity:.5;
}
.shop-page .popular__row.popular__row_pos_2 .popular__item:nth-child(1) {
    left: 0;
}
.shop-page .popular__row.popular__row_pos_2 .popular__item:nth-child(2) {
    bottom: calc(50% - -7px);
    left: 25%;
}
.shop-page .popular__row.popular__row_pos_2 .popular__item:nth-child(3) {
    top: calc(50% - -7px);
    left: 25%;
}
.shop-page .popular__row.popular__row_pos_2 .popular__item:nth-child(4) {
    left: 50%;
	width: calc(50% - 13px);
}
.shop-page .popular__row.popular__row_pos_2 .popular__item:nth-child(5) {
    left: 75%;
}

.shop-page .goods-item-discount{
	height: auto;
	margin: 0 20px 20px 0;
	width: 284px;
	box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
	position: relative;
	border: 1px solid #eceded;
	box-shadow: none;
	display: inline-block;
	margin-left: -.36em;
	background: white;
	transition: all .3s ease;
	padding:20px;
}
.shop-page .goods-item-discount:nth-child(4n) {
    margin: 0 0px 20px 0;
}
.shop-page .product .goods-item-discount:hover {
    box-shadow: 0px 17px 25px #d3d6d8;
}
.shop-page .goods-item-discount .content .title {
    display: block;
    font: 400 15px 'PTSansRegular',sans-serif;
    color: #252525;
    margin-top: 10px;
    text-align: left;
}
.shop-page .goods-item-discount .image {
    position: relative;
    width: 76px;
    height: 108px;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
	float:left;
}
.shop-page .goods-item-discount .image > a{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10;
}
.shop-page .goods-item-discount .content .bottom {
    padding: 20px 0;
    font: 400 13px 'PTSansRegular',sans-serif;
    color: #5e6e7e;
    position: relative;
    z-index: 11;
}
.shop-page .goods-item-discount .content .bottom .price{
	position:relative;
}
.shop-page .goods-item-discount .content .bottom .new_price {
    font: 600 15px 'RobotoSlabBold',sans-serif;
    color: #4cb6dc;
    text-align: left;
	display: inline-block;
	position: relative;
	margin-right:20px;
}
.shop-page .goods-item-discount .content .bottom .old_price {
	font: 400 13px 'RobotoSlabRegular',sans-serif;
    text-decoration: line-through;
    color: #252525;
	display: inline-block;
	position: relative;
}
.shop-page .goods-item-discount .content .bottom .ruble {
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -298px -382px;
    position: absolute;
    width: 11px;
    height: 12px;
    bottom: 0;
    top: 0;
    right: -13px;
    margin: auto;
}
.shop-page .goods-item-discount .content .bottom .ruble2 {
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -261px -426px;
    position: absolute;
    width: 10px;
    height: 11px;
    bottom: 0;
    top: 0;
    right: -11px;
    margin: auto;
}
.shop-page .goods-item-discount .content{
	width: 145px;
	float:right;
	vertical-align: top;
}
.shop-page .category_top{
	border-bottom: 1px solid #ebebeb;
}
.shop-page .popular__wrapper .titleBanner{
	font: 600 21px 'RobotoSlabBold',sans-serif;
	color:#fff;
	position: absolute;
	top: 20px;
	left: 20px;
	padding:0;
	margin:0;
}
.shop-page .popular__wrapper .discBanner{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding:0;
	margin:0;
}
.shop-page .list_shop_categories{
	padding-top:12px;
}
.shop-page .list_shop_categories .ch_cat a{
	font: 400 13px 'PTSansRegular',sans-serif;
	color: #063f74;
	display:block;
	margin-bottom:8px;
}
.shop-page .list_shop_categories .ch_cat a.disabled{
	display:none;
}
.shop-page .list_shop_categories .ch_cat a:hover{
	color:#858585;
}
.shop-page .list_shop_categories .ch_cat li{margin-bottom:12px;}
.shop-page .list_shop_categories .name_p_cat{
	font: 600 15px 'RobotoSlabBold',sans-serif;
	color: #252525;
}
.shop-page .list_shop_categories .name_p_cat:hover{
	color:#858585;
}
.shop-page .list_shop_categories .ch_cat{
	margin-top:12px;
}
.shop-page .list_shop_categories .ch_cat .all_category {
	border: 1px solid #cbcbcb;
	padding: 10px 30px 10px 10px;
	border-radius: 5px;
	color: #252525;
	position:relative;
	display:inline-block;
	margin:0;
}
.shop-page .list_shop_categories .ch_cat .all_category.bottom::after{
	content: " ";
	position: absolute;
	right: 7px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(/local/images/sprite_r.png);
	background-position: -82px -136px;
	width: 12px;
	height: 10px;
}
.shop-page .list_shop_categories .ch_cat .all_category.top::after{
	content: " ";
	position: absolute;
	right: 7px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(/local/images/sprite_r.png);
	background-position: -82px -149px;
	width: 12px;
	height: 10px;
}
.shop-page .top_category{
	height: 53px;
	border-bottom: 1px solid #ebebeb;
	box-shadow: 0 0px 1px 0 rgba(1,1,1,.2);
	background:#fff;
}
.shop-page .top_category li{
	display:inline-block;
	margin-right:45px;
	height: 52px;
}
.shop-page .top_category li a{
	font: 400 14px/53px 'PTSansRegular',sans-serif;
	color:#999999;
}
.shop-page .top_category li a:hover{
	color:#252525;
}
.shop-page .top_category li.active{
	border-bottom: 3px solid #3fb1da;
}
.shop-page .top_category li.active a{
	color: #252525;
}


/*Карточка товара*/
.shop-page .product_top{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
}
.shop-page .card_product{
	background: #fff;
	padding-bottom:55px;
}
.shop-page .status_product{
	display:inline-block;
}
.shop-page .delivery{
	display:inline-block;
	margin-left:20px;
	font: 400 14px 'PTSansRegular',sans-serif;
}
.shop-page .status_product .in_stock{
	background: #0bd695;
	font: 400 14px 'PTSansRegular',sans-serif;
	color: #fff;
	text-transform: lowercase;
	padding: 3px 20px;
	border-radius: 3px;
}
.shop-page .status_product .not_stock{
	background: #d60b31;
	font: 400 14px 'PTSansRegular',sans-serif;
	color: #fff;
	text-transform: lowercase;
	padding: 3px 20px;
	border-radius: 3px;
}
.shop-page .product_card{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#252525;
	margin-top: 35px;
}
.shop-page .status_product span{
	
}
.shop-page .character{
	display: block;
	margin-bottom:20px;
}
.shop-page .product-card__price-value{
	font: 400 31px 'RobotoRegular',sans-serif;
    color: #252525;
}
.shop-page .product-card__price-value .ruble2{
	content: " ";
	background-image: url(/local/images/sprite_r.png);
	background-position: -223px -386px;
	width: 20px;
	height: 22px;
	display: inline-block;
}
.shop-page .product-card__price-old{
	font: 400 14px 'PTSansRegular',sans-serif;
	color: #b1b1b1;
	margin-top: 15px;
	margin-bottom: 30px;
}
.shop-page .product-card__price-old .value{
	text-decoration: line-through;
}
.shop-page .product-card__price-old .value:after{
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -267px -436px;
    width: 10px;
    height: 11px;
    display: inline-block;
}
.shop-page .product-card__buy{
	margin:10px 0;
}
.shop-page .product-card__buy_in_credit{
	margin:10px 0;
}
.shop-page .product-card__buy_in_credit_price{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#858585;
}
.shop-page .product-card__buy .buy{
	transition: all .3s ease;
	font: 600 17px/38px 'PTSansBold',sans-serif;
    color: #fff;
    background-color: #3fb1da;
    width: 169px;
    height: 38px;
    display: block;
    text-align: center;
    border-radius: 3px;
	cursor:pointer;
	padding:0;
}
.shop-page .product-card__buy_in_credit .buy_in_credit{
	transition: all .3s ease;
	font: 400 14px/38px 'PTSansRegular',sans-serif;
    color: #252525;
    border:1px solid #cbcbcb;
    width: 169px;
    height: 38px;
    display: block;
    text-align: center;
    border-radius: 3px;
	cursor:pointer;
	position:relative;
	padding: 0 20px;
	text-align:right;
}

.shop-page .product-card__buy_in_credit .buy_in_credit:hover {
    border: 1px solid #728396;
	color: #858585;
}
.shop-page .product-card__buy_in_credit .buy_in_credit::after{
	content: " ";
	position: absolute;
	width: 16px;
	height: 12px;
	top: 0;
	bottom: 0;
	left: 12px;
	margin: auto;
	background-image: url(/local/images/sprite_r.png);
	background-position: -712px -118px;
}
.shop-page .product-card__buy_in_credit_price .buy_in_credit .value:after{
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -267px -436px;
    width: 10px;
    height: 11px;
    display: inline-block;
}
.shop-page .product-card__buy .buy:hover{
	background-color: #2c8fb3;
}
.shop-page .product-card__all_characteristics{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#b1b1b1;
	cursor:pointer;
}
.shop-page .product-card__all_characteristics:hover{
	color:#252525;
}
.shop-page .previews .preview{
	width:75px;
	height:50px;
	display:inline-block;
	overflow:hidden;
	margin-right:7px;
	margin-top:7px;
}
.shop-page .previews .preview img{
	display: block;
	margin: 0 auto;
}
.shop-page .product-favourite{
	font: 400 14px 'PTSansRegular',sans-serif;
	color:#3fb1da;
	position:relative;
	display:inline-block;
	cursor:pointer;
}
.shop-page .product-favourite .to-favourite:hover:after{
	background: url(/local/images/sprite_r.png) -672px -139px no-repeat;
}
.shop-page .product-favourite .to-favourite.my-favourite:after{
	background: url(/local/images/sprite_r.png) -672px -139px no-repeat;
}

.shop-page .product-favourite .to-favourite:after {
    content: "";
    width: 15px;
    height: 14px;
    background: url(/local/images/sprite_r.png) -672px -89px no-repeat;
	opacity:1;
	float: left;
	margin-right:12px;
}

.shop-page .product-card__color_value{
	display: inline-block;
	width: 30px;
	height: 15px;
	vertical-align: middle;
	margin: 0 5px;
	border: 1px solid #000;
}
.design-list .out-feature-item {
    padding: 0 10px;
}
.design-list .feature-item {
    border: 1px solid rgba(1, 1, 1, 0.05);
    box-sizing: border-box;
    margin-bottom: 18px;
    overflow: hidden;
    padding: 20px 20px;
    position: relative;
    background: #fff;
	z-index:1;
}
.preview360-gallery {
    height: 238px;
    width: 238px;
    position: relative;
}
.preview360-gallery, .preview360-gallery > img {
    height: 238px;
    width: 238px;
}
.preview360-gallery {
    height: 238px;
    width: auto;
    position: relative;
}
.preview360-gallery, .preview360-gallery > img {
    height: 238px;
    width: 238px;
}
.design-list .out-feature-item img {
    max-height: 241px;
    width: 100%;
}
.design-list {
    text-align: center;
	padding-bottom:30px;
	margin:0 -10px;
}


.arrow_prop {
    margin: 0;
}
.arrow_prop {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.arrow_prop{
    box-sizing: border-box;
    transition: all .3s ease;
    height: 26px;
    position: relative;
    display: inline-block;
    margin: 0 15px 5px 0;
    padding: 3px 4px 5px 8px;
    border: 1px solid rgba(1,1,1,.1);
    border-right-color: transparent;
    font: 400 13px 'PTSansItalic',sans-serif;
    color: #252525;
    background-color: transparent;
}
.arrow_prop{
	font: 400 14px 'PTSansRegular',sans-serif;
    color: #858585;
}
.arrow_prop:before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    right: -27px;
    opacity: 0;
}
.arrow_prop:after {
    border-top-right-radius: 3px;
}
.arrow_prop:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-top: 1px solid rgba(1,1,1,.1);
    border-right: 1px solid rgba(1,1,1,.1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    right: -10px;
}
