.wrap-data{
	width: 100%;
	position: relative;
	margin-top: 30px;
}
.profile-inner-page .wrapper{
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
-ms-flex-direction:column;
flex-direction:column}
.profile-inner-page main{
background-color:#fafbfd}

.profile-inner-page .sidebar{
width:268px;
margin:0 30px 0 0;
padding:0 0 30px;
background:#fff;
display: inline-block;}
.profile-inner-page .sidebar .avatar{
width:100%;
height:250px;
position:relative;
overflow:hidden;
background:50% 50% no-repeat;
background-size:cover}
.profile-inner-page .sidebar .avatar .panel{
transition:all .3s ease;
position:absolute;
bottom:-77px;
left:0;
right:0;
padding:17px 45px 12px 75px;
box-sizing:border-box;
background:rgba(35,45,55,.7);
color:#fff;
font:14px/18px 'PTSansRegular',sans-serif}
.profile-inner-page .sidebar .avatar .panel .image-wrapper{
visibility:hidden;
height:0}
.profile-inner-page .sidebar .avatar span{
position:relative;
display:inline-block;
cursor:pointer;
margin:3px 0}
.profile-inner-page .sidebar .avatar span:before{
content:"";
position:absolute;
width:12px;
height:14px;
background:url(../images/sprite.png) -220px -40px no-repeat;
top:1px;
left:-30px}
.profile-inner-page .sidebar .avatar .delete:before{
width:10px;
height:10px;
top:5px;
background-position:-240px -40px}
.profile-inner-page .sidebar .avatar:hover .panel{
bottom:0}
.profile-inner-page .sidebar .profile-menu{
list-style:none;
margin:0;
padding:0}
.profile-inner-page .sidebar .profile-menu li{
margin:0;
padding:0;
border-bottom:1px solid rgba(255,255,255,.15)}
.profile-inner-page .sidebar .profile-menu a{
position:relative;
display:block;
padding:19px 40px 20px 76px;
font: 300 16px/22px 'PTSansRegular',sans-serif;
color:#bdc0c3}
.profile-inner-page .sidebar .profile-menu a .icon{
display:block;
position:absolute;
transition:all .3s ease;
width:20px;
height:20px;
top:20px;
left:38px;
opacity:.7}
.profile-inner-page .sidebar .profile-menu a .count{
height:28px;
float:right;
text-align:center;
font:14px/28px 'Fira Sans',sans-serif;
color:#fff;
background-color:#166597;
border-radius:50%;
padding:0 7px;
margin:-1px 0 0}
.profile-inner-page .sidebar .profile-menu a.profile:before{
left:43px;
background-position:-260px -40px}
.profile-inner-page .sidebar .profile-menu a.projects:before{
top:20px;
left:42px;
background-position:-400px -40px}
.profile-inner-page .sidebar .profile-menu a.partnership:before{
top:20px;
left:42px;
background-position:-420px -40px}
.profile-inner-page .sidebar .profile-menu a.messages:before{
top:24px;
background-position:-280px -40px}
.profile-inner-page .sidebar .profile-menu a.reviews:before{
top:24px;
background-position:-300px -40px}
.profile-inner-page .sidebar .profile-menu a.favorites:before{
top:23px;
background-position:-320px -40px}
.profile-inner-page .sidebar .profile-menu a.favorites.designer:before{
top:21px;
background-position:-60px -380px}
.profile-inner-page .sidebar .profile-menu a.order-history:before{
top:20px;
left:41px;
background-position:-340px -40px}
.profile-inner-page .sidebar .profile-menu a.panel:before{
top:26px;
background-position:-360px -40px}
.profile-inner-page .sidebar .profile-menu a.complexes:before{
top:21px;
background-position:-440px -40px}
.profile-inner-page .sidebar .profile-menu a:hover{
background:#293540}
.profile-inner-page .sidebar .profile-menu a.active:before{
opacity:1}
.profile-inner-page .sidebar .profile-menu a.active:after{
content:"";
position:absolute;
width:0;
height:0;
top:50%;
right:0;
margin-top:-19px;
border-right:15px solid #fafbfd;
border-top:19px solid transparent;
border-bottom:19px solid transparent}
.profile-inner-page .profile-content{
margin-left:298px;
padding:0 0 100px 0;
width: 898px;
}
.profile-inner-page .profile-content h2{
font: 400 21px 'RobotoSlabRegular',sans-serif;
margin:0;
color:#252525;
}
.profile-inner-page .profile-content form{
transition:box-shadow .3s linear;
}
.profile-inner-page .profile-content form.editing{
margin-bottom:20px}
.profile-inner-page .profile-content form.editing .row-submit{
height:50px;
padding-bottom:20px}
.profile-inner-page .profile-content form .row-submit{
transition:all .3s linear;
height:0;
overflow:hidden;
padding:0 38px 0 0;
text-align:center}
.profile-inner-page .profile-content form .btn{
width:200px;
padding:0!important;
text-align:center;
font:400 13px/50px 'PTSansRegular',sans-serif}
.profile-inner-page .profile-content form hr{
margin:27px 30px 30px 0;
height:0;
border:none;
border-top:1px solid #f9f9f9;
border-bottom:1px solid #eee}
.profile-inner-page .profile-content form textarea{
margin:8px 0;
resize:none}
.profile-inner-page .profile-content form .select2-container--default .select2-selection--multiple,.profile-inner-page .profile-content form .select2-container--default .select2-selection--single{
background-color:transparent}
.profile-inner-page .profile-content form .js-select-multiple{
width:100%}
.profile-inner-page .profile-form{
padding: 1px 30px 30px 30px;
margin-bottom: 20px;
border: 1px solid #e6e8e9;
border-top: none;
box-shadow: 0px 1px 2px #eaeaea;
margin:0 0 7px;
background:#fff;}
.profile-inner-page .profile-content .form-block{
border: 1px solid #f1f2f3;
padding:30px}
.profile-inner-page .profile-content .form-block:before{
content:" ";
display:table}
.profile-inner-page .profile-content .form-block:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .profile-content .form-block .row:before{
content:" ";
display:table}
.profile-inner-page .profile-content .form-block .row:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .profile-content .form-block .input-row{
margin:0 0 28px}
.profile-inner-page .profile-content .form-block .input-row.error{
margin:0 0 6px}
.profile-inner-page .profile-content .form-block .col{
width:250px;
margin:0 30px 0 0;
float:left}
.profile-inner-page .profile-content .form-block .col-2{
width:530px;
margin:0 30px 0 0;
float:left}
.profile-inner-page .profile-content .form-block .col-3{
clear:left;
width:810px;
margin:0 30px -6px 0}
.profile-inner-page .profile-content .form-block .col-50p{
float:left;
width:390px;
margin:0 30px -6px 0}
.profile-inner-page .profile-content .form-block .select2-container{
}

.profile-inner-page .profile-content .form-block .new-window{
position:relative;
font: 400 16px/22px 'PTSansRegular',sans-serif;
color:#1d70a4;
margin:3px 0 6px}
.profile-inner-page .profile-content .form-block .new-window:before{
content:"";
position:absolute;
width:11px;
height:11px;
background:url(../images/sprite.png) -380px -40px no-repeat;
right:-19px;
top:5px}
.profile-inner-page .profile-content .form-block .label,.profile-inner-page .profile-content .form-block label{
margin:0}
.profile-inner-page .profile-content .form-block .title{
font:16px 'Fira Sans',sans-serif;
color:#5e6e7e;
text-transform:uppercase;
letter-spacing:-.045em}
.profile-inner-page .profile-content .form-block input[type=checkbox]{
opacity:0}
.profile-inner-page .profile-content .form-block input[type=checkbox]~span{
color:#5e6e7e;
text-transform:none;
font:400 16px/25px 'Fira Sans',sans-serif}
.profile-inner-page .profile-content .form-block input[type=checkbox]:checked~span{
color:#1d70a4}
.profile-inner-page .profile-content .form-block.checkbox .col:first-child .label,.profile-inner-page .profile-content .form-block.checkbox .col:first-child label{
margin:0 0 31px}
.profile-inner-page .profile-content .form-block.checkbox .col:nth-child(2){
padding-left:10px}
.profile-inner-page .profile-content .form-block.checkbox .col:nth-child(2) .label,.profile-inner-page .profile-content .form-block.checkbox .col:nth-child(2) label{
cursor:pointer;
display:inline-block;
margin:-4px 10px 29px 0;
vertical-align:top}
.profile-inner-page .profile-content{
position:relative;
}
.profile-inner-page .add-project{
transition: all .3s ease;
position:absolute;
top:0;
right:0;
font:500 14px/50px 'PTSansRegular',sans-serif;
color:#fff;
padding: 0 28px 0 42px;
background: #3fb1da;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-icab-border-radius: 5px;}
.profile-inner-page .add-project:hover{
background-color: #2c8fb3;
}
.profile-inner-page .add-project:before{
content: "";
position: absolute;
top: 15px;
left: 10px;
width: 22px;
height: 22px;
/* background: url(../images/sprite.png) -480px -40px no-repeat; */
background: url(../images/sprite_r.png) -709px -157px no-repeat;
}
.profile-inner-page .wrap-conteiner-goods{
	padding-bottom:100px;
}
.profile-inner-page .filter-form{
box-sizing:border-box;
position:relative;
background-color:#fff;
width:871px;
height:auto;
box-shadow:0 0 6px 0 rgba(0,0,0,.1);
margin:7px 0 0 -30px;
padding:39px 29px}
.profile-inner-page .filter-form .form-clear{
transition:all .3s ease;
display:block;
position:absolute;
width:18px;
height:18px;
background:url(../images/sprite.png) -100px -40px no-repeat;
top:22px;
right:20px;
left:auto!important}
.profile-inner-page .filter-form .form-clear:hover{
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
cursor:pointer}
.profile-inner-page .filter-form .row{
margin:0 0 16px}
.profile-inner-page .filter-form .row:before{
content:" ";
display:table}
.profile-inner-page .filter-form .row:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .filter-form .input-cell{
box-sizing:border-box;
width:252px;
float:left;
margin:0 0 0 28px}
.profile-inner-page .filter-form .input-cell:first-child{
margin:0}
.profile-inner-page .filter-form .input-cell .input-cell{
width:70%}
.profile-inner-page .filter-form .input-cell.input-cell-2{
width:530px;
margin:0 0 0 28px}
.profile-inner-page .filter-form .input-cell.input-cell-50p{
width:370px;
margin-left:60px}
.profile-inner-page .filter-form .input-cell.input-cell-50p:first-child{
margin:0}
.profile-inner-page .filter-form .input-cell.input-cell-50p .values{
margin:5px 0}
.profile-inner-page .filter-form .input-cell.input-cell-50p .values:before{
content:" ";
display:table}
.profile-inner-page .filter-form .input-cell.input-cell-50p .values:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .filter-form .input-cell.input-cell-50p .values .tag{
margin:0 20px 5px 0}
.profile-inner-page .filter-form .input-cell .ui-slider{
margin:17px 0 0}
.profile-inner-page .filter-form .input-cell label{
font: 400 16px/29px 'PTSansRegular',sans-serif;
color: #5e6e7e;}
.profile-inner-page .filter-form .input-cell .range-wrapper{
width:190px;
float:right;
color:#5e6e7e;
text-align:right}
.profile-inner-page .filter-form .input-cell input[type=text]{
box-sizing:border-box;
width:73px;
height:40px;
padding:0 10px;
margin:0 7px;
border: 1px solid #cbcbcb;
font: 400 14px 'PTSansRegular',sans-serif;
color: #686868;}
.profile-inner-page .filter-form .input-cell input[type=text]+input[type=text]{
margin:0 0 0 6px}
.profile-inner-page .filter-form .input-cell .max-value,.profile-inner-page .filter-form .input-cell .min-value{
font:700 12px/30px 'PTSansRegular',sans-serif;
color:#5e6e7e;
margin:0}
.profile-inner-page .filter-form .input-cell .min-value{
float:left}
.profile-inner-page .filter-form .input-cell .max-value{
float:right}
.profile-inner-page .filter-form .input-cell select{
width:100%}
.profile-inner-page .filter-form .input-cell .tag{
float:left;
margin:0}
.profile-inner-page .filter-form .input-cell .tag+.tag{
margin: 0 18px 0 0;}
.profile-inner-page .filter-form .input-cell .tag label{
transition:all .3s ease;
box-sizing:border-box;
height:26px;
position:relative;
display:inline-block;
margin:0 15px 0 0;
padding:5px 4px 5px 8px;
border:1px solid rgba(1,1,1,.1);
border-right-color:transparent;
font:400 12px/16px 'Fira Sans',sans-serif;
color:#5e6e7e;
text-transform:uppercase;
background-color:transparent;
opacity:1}
.profile-inner-page .filter-form .input-cell .tag label:after{
transition:all .3s ease;
content:"";
position:absolute;
width:18px;
height:18px;
border-top:1px solid rgba(1,1,1,.1);
border-right:1px solid rgba(1,1,1,.1);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
top:3px;
right:-10px;
background-color:transparent;
border-radius:0;
left:auto}
.profile-inner-page .filter-form .input-cell .tag label:before{
transition:all .3s ease;
content:"";
position:absolute;
top:-1px;
right:-26px;
border:13px solid transparent;
border-left:13px solid #3fb1da;
opacity:0;
border-radius:0;
left:auto}
.profile-inner-page .filter-form .input-cell .tag input[type=checkbox]{
display:none}
.profile-inner-page .filter-form .input-cell .tag input[type=checkbox]+label:hover{
cursor:pointer}
.profile-inner-page .filter-form .input-cell .tag input[type=checkbox]:checked+label{
opacity:1;
background-color:#3fb1da;
color:#fff}
.profile-inner-page .filter-form .input-cell .tag input[type=checkbox]:checked+label:before{
opacity:1}
.profile-inner-page .filter-form .input-cell.input-tags:before{
content:" ";
display:table}
.profile-inner-page .filter-form .input-cell.input-tags:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .filter-form .input-cell.input-tags label{
float:left;
margin:0 0 4px}
.profile-inner-page .filter-form .input-cell.input-tags label+.tag{
clear:left;
margin: 0 18px 0 0;}
.profile-inner-page .filter-form .btn-wrapper{
margin:25px 0 0}
.profile-inner-page .filter-form .switcher{
position:absolute;
bottom:30px;
left:30px;
font:400 14px/20px 'PTSansRegular',sans-serif;
color:#5e6e7e;
text-transform:uppercase;
border-color:#5e6e7e}
.profile-inner-page .filter-form .switcher:before{
content:"";
position:absolute;
width:7px;
height:7px;
border-bottom:1px solid #1d70a4;
border-right:1px solid #1d70a4;
right:-18px;
top:3px;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg)}
.profile-inner-page .filter-form .switcher.active:before{
-webkit-transform:rotate(225deg);
-ms-transform:rotate(225deg);
transform:rotate(225deg);
top:9px}
.profile-inner-page .results .not-found.design{
margin:25px 0 0}
.profile-inner-page .results .not-found-message{
text-align:center}
.profile-inner-page .results .filter{
padding:45px 30px 0 29px}
.profile-inner-page .results .filter .sort{
width:510px}
.profile-inner-page .results .design-list{
margin:10px 0 0;
width:898px}
.profile-inner-page .results .design-list:before{
content:" ";
display:table}
.profile-inner-page .results .design-list:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .results .design-list .item{
width:274px;
height:427px;
margin:0 24px 30px 0}
.profile-inner-page .results .design-list .item:nth-child(3n){
margin-right:0}
.profile-inner-page .results .design-list .item .like{
position:absolute;
left:25px;
top:29px}
.profile-inner-page .results .design-list .item .like .heart{
left:15px!important;
top:0}
.profile-inner-page .results .design-list .item .like .heart:after{
right:0;
top:0}
.profile-inner-page .results .design-list .item .image{
height:281px}
.profile-inner-page .results .design-list .item .title{
margin:0 0 13px -3px;
color:#1d70a4}
.profile-inner-page .results .design-list .item .content{
height:145px}
.profile-inner-page .pagination{
padding:16px 0 0}
.profile-inner-page .cancel,.profile-inner-page .save{
position:absolute;
font:500 14px/50px 'Fira Sans',sans-serif;
color:#1d70a4;
text-transform:uppercase}
.profile-inner-page .save{
top:55px;
right:132px}
.profile-inner-page .save:before{
content:"";
position:absolute;
top:15px;
left:-23px;
width:14px;
height:16px;
background:url(../images/sprite.png) -700px -40px no-repeat}
.profile-inner-page .cancel{
top:55px;
right:18px}
.profile-inner-page .cancel:before{
content:"";
position:absolute;
top:18px;
left:-17px;
width:11px;
height:12px;
background:url(../images/sprite.png) -640px -40px no-repeat}
.profile-inner-page .add-project-step{
box-sizing:border-box;
width:872px;
height:75px;
position:relative;
background-color:#fff;
box-shadow:0 0 4px 0 rgba(0,0,0,.2);
margin:8px 0 22px -30px;
padding:19px 30px 0}
.profile-inner-page .add-project-step:before{
content:" ";
display:table}
.profile-inner-page .add-project-step:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .add-project-step.step2 select{
width:280px}
.profile-inner-page .add-project-step.step2 .form-block select{
width:100%;}

.profile-inner-page .add-project-step.step2 .price-input{
width:110px;
margin-right:20px!important}
.profile-inner-page .add-project-step.step2 .price-input+.error-message{
position:absolute}
.profile-inner-page .add-project-step.step2 .square-input+.error-message{
position:absolute;
top:41px;
left:250px}
.profile-inner-page .add-project-step.step2 .free-design{
cursor:pointer}
.profile-inner-page .add-project-step.step2 .free-design i{
margin-right:2px}
.profile-inner-page .add-project-step.step2 .input-row{
margin:0 0 33px}
.profile-inner-page .add-project-step.step3 .upload-area.inline{
min-height:124px;
border-color:#ced7dd!important}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img{
width:170px;
height:170px;
box-sizing:border-box;
transition:all .3s ease;
border:1px solid #dce5eb;
position:relative;
background-size:cover;
float:left;
margin:9px}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img .del-icon{
width:21px;
height:21px;
box-sizing:border-box;
transition:all .3s ease;
position:absolute;
top:0;
right:0;
border:1px solid #dce5eb;
background:#fff;
opacity:0;
cursor:pointer}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img .del-icon:before{
content:"";
position:absolute;
width:12px;
height:11px;
background:url(../images/sprite.png) -333px -64px no-repeat;
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
overflow:hidden;
top:50%;
left:50%}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img:hover{
border-color:#166597}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img:hover .del-icon{
opacity:1}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img:hover .del-icon:hover{
border-color:#166597;
background:#166597}
.profile-inner-page .add-project-step.step3 .upload-area.inline .dz-default-img:hover .del-icon:hover:before{
width:12px;
height:11px;
background:url(../images/sprite.png) -313px -64px no-repeat}
.profile-inner-page .add-project-step.step3 .upload-area.inline .text{
position:absolute;
top:50%;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%)}
.profile-inner-page .add-project-step .step-body{
position:relative;
display:none}
.profile-inner-page .add-project-step.active .step-body{
display:block}
.profile-inner-page .add-project-step label.block{
display:block}
.profile-inner-page .add-project-step .step-variant-wrapper{
width:815px;
height:570px;
overflow:hidden;
position:relative}
.profile-inner-page .add-project-step .step-variant{
transition:all .3s ease;
position:absolute;
top:0;
width:815px}
.profile-inner-page .add-project-step .step-variant.variant1{
-webkit-transform:translateX(-100%);
-ms-transform:translateX(-100%);
transform:translateX(-100%)}
.profile-inner-page .add-project-step .step-variant.variant1 .not-found-icon{
margin-top:36px;
width:730px}
.profile-inner-page .add-project-step .step-variant.variant2{
-webkit-transform:translateX(100%);
-ms-transform:translateX(100%);
transform:translateX(100%)}
.profile-inner-page .add-project-step .step-variant.variant2 .btn{
float:none}
.profile-inner-page .add-project-step .step-variant.variant2 .show-project-btn{
display:none!important}
.profile-inner-page .add-project-step .step-variant.variant2 .next-add-step-btn{
display:inline-block!important}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter{
box-shadow:none;
width:815px}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content{
padding:0;
width:815px}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .photo{
top:0;
margin:20px 0 0 30px}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content.step1 .btn-wrapper{
}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content form{
padding:29px 0 0 83px}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .complex-list{
width:775px;
margin:0}

.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .building-select{
padding:0;
border-left:none}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .building-select .complex-caption,.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .building-select .values{
display:none}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .building-select .form-content{
width:273px}
.profile-inner-page .add-project-step .step-variant.variant2 .step-filter .form-content .building-select .form-content form{
padding:50px 0 0 52px}
.profile-inner-page .add-project-step .step-variant.active{
-webkit-transform:translateX(0);
-ms-transform:translateX(0);
transform:translateX(0)}
.profile-inner-page .add-project-step .step-variant form{
padding:29px 0 0 83px}
.profile-inner-page .add-project-step:before{
content:"";
position:absolute;
width:2px;
height:100%;
display:block;
top:57px;
left:49px;
background-color:#4cbce2;
z-index:2;
opacity:.2}
.profile-inner-page #provider .add-project-step:before{
	display:none;
}
.profile-inner-page .add-project-step .number{
position:relative;
float:left;
width:38px;
height:38px;
margin:0 14px 0 0;
border-radius:50%;
background-color:#166597;
font:300 22px/38px 'Fira Sans',sans-serif;
color:#fff;
text-align:center;
z-index:3}
.profile-inner-page .add-project-step .title{
float:left;
font:400 22px/38px 'RobotoSlabRegular',sans-serif;
margin:0 27px 0 0;
color:#1d70a4;
text-transform:uppercase;
cursor:pointer}
.profile-inner-page .add-project-step .value{
float:right;
font:400 16px/42px 'PTSansRegular',sans-serif;
color:#b9bfc5}
.profile-inner-page .add-project-step .steps{
clear:left;
margin:13px 0 0 56px}
.profile-inner-page .add-project-step .steps .tab a{
position:relative;
font:400 16px 'PTSansRegular',sans-serif;
color:#b9bfc5;
text-transform:uppercase}
.profile-inner-page .add-project-step .steps .tab a:hover{
cursor:default}
.profile-inner-page .add-project-step .steps .tab.success a{
color:#1d70a4;
text-transform:none;
cursor:pointer}
.profile-inner-page .add-project-step .steps .tab.success+.tab a:before{
width:9px;
height:7px;
background:url(../images/sprite.png) -210px -40px no-repeat}
.profile-inner-page .add-project-step .steps .tab.active a{
color:#1d70a4}
.profile-inner-page .add-project-step .steps .tab+.tab a{
margin:0 0 0 59px}
.profile-inner-page .add-project-step .steps .tab+.tab a:before{
content:"";
width:9px;
height:7px;
background:url(../images/sprite.png) -210px -50px no-repeat;
position:absolute;
top:6px;
left:-35px}
.profile-inner-page .add-project-step .steps+form{
padding:29px 0 19px 84px}
.profile-inner-page .add-project-step.success .number{
position:relative;
background-color:#4cbce2;
color:#4cbce2;
z-index:3}
.profile-inner-page .add-project-step.success .number:after{
content:"";
position:absolute;
width:16px;
height:12px;
background:url(../images/sprite.png) -720px -40px no-repeat;
top:14px;
left:12px}
.profile-inner-page .add-project-step.active{
height:auto;
min-height:75px}
.profile-inner-page #provider .add-project-step.active{
height:auto;
min-height:75px;
margin-top:33px;
}
.profile-inner-page .form-add-goods .input-cell.input-cell-50p{
	width:50%;
}
.profile-inner-page .form-add-goods .input-cell select{
	width:100%;
}
.profile-inner-page .add-project-step.active.step1 .value{
display:none}
.profile-inner-page .add-project-step.active:before{
opacity:1}
.profile-inner-page .add-project-step.disabled .description,.profile-inner-page .add-project-step.disabled .number,.profile-inner-page .add-project-step.disabled .title{
background-color:#fff;
font-weight:300;
color:#b9bfc5;
cursor:default}
.profile-inner-page .add-project-step:last-child:before{
display:none}
.profile-inner-page .add-project-step .photo{
width:508px;
height:513px;
background-size:contain;
background-position:50% 50%;
background-repeat:no-repeat;
margin:0 0 0 30px;
float:left}
.profile-inner-page .add-project-step .form-wrapper{
float:left;
width:273px}
.profile-inner-page .add-project-step .form-wrapper form{
box-sizing:border-box;
padding:48px 0 0 52px}
.profile-inner-page .add-project-step .form-wrapper form label{
display:inline-block;
margin:2px 0 3px}
.profile-inner-page .add-project-step .form-wrapper form .input-row.input-row{
margin:0 0 31px}
.profile-inner-page .add-project-step .form-wrapper .btn-wrapper{
margin:45px 0 0}
.profile-inner-page .add-project-step .form-wrapper .btn-wrapper .btn{
width:200px}
.profile-inner-page .add-project-step .form-wrapper .square{
margin:36px 0 -4px;
font:400 16px 'PTSansRegular',sans-serif;
text-transform:uppercase;
color:#5e6e7e}
.profile-inner-page .add-project-step form{
padding:60px 0 19px 84px}
.profile-inner-page #provider .add-project-step form{
	padding:0;
}
.profile-inner-page .add-project-step form input[type=text]{
margin:0 0}
.profile-inner-page .add-project-step form .form-label {
    font: 400 16px 'PTSansRegular',sans-serif;
    color: #5e6e7e;
    text-transform: uppercase;
    margin: 35px 0 15px -2px;
text-align: center;}
.profile-inner-page .add-project-step form .info{
margin:0 0 9px;
font:300 16px/22px 'Fira Sans',sans-serif;
color:#5e6e7e}
.profile-inner-page .add-project-step form textarea{
transition:all .3s ease;
margin:2px 0}
.profile-inner-page .add-project-step form .input-row:before{
content:" ";
display:table}
.profile-inner-page .add-project-step form .input-row:after{
content:" ";
display:table;
clear:both}
.profile-inner-page .add-project-step form .input-row .label{
font:300 16px/46px 'Fira Sans',sans-serif;
color: #5e6e7e;
}
.profile-inner-page .add-project-step form .input-row .label+input[type=text]{
width:74px;
margin:0 4px 0 10px}
.profile-inner-page .add-project-step form .input-row.rooms{
margin:-23px 0 0}
.profile-inner-page .add-project-step form .input-row .room{
float:left;
margin:0 28px 0 0;
padding:10px 0}
.profile-inner-page .add-project-step form .input-row .room span{
float:left;
font:400 14px 'Fira Sans',sans-serif;
color:#5e6e7e;
display:inline-block;
max-width:200px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis}
.profile-inner-page .add-project-step form .input-row .room .delete{
position:relative;
float:left;
display:block;
margin:0 0 0 6px;
width:18px;
height:18px;
background:url(../images/sprite.png) 0 -380px no-repeat}
.profile-inner-page .add-project-step form .input-row .room .delete:after{
transition:all .3s ease;
content:"";
position:absolute;
width:18px;
height:18px;
background:url(../images/sprite.png) -20px -380px no-repeat;
opacity:0}
.profile-inner-page .add-project-step form .input-row .room .delete:hover:after{
opacity:1}
.profile-inner-page .add-project-step form .input-cell{
float:left;
width:370px;
margin: 0 0 33px;
}
.profile-inner-page .add-project-step form .input-cell+.input-cell{
float:right;
width:280px;
}
.profile-inner-page .add-project-step form .input-cell .upload-area{
transition:opacity .3s ease;
min-height:318px;
position:relative}
.profile-inner-page .add-project-step form .input-cell .upload-area .text{
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
transition:all .3s ease;
position:absolute;
z-index:2;
top:50%;
left:50%}
.profile-inner-page .add-project-step form .input-cell .input-row-inner{
margin:0 0 24px}
.profile-inner-page .add-project-step form .input-cell .input-row-inner label{
display:inline-block;
margin:0 0 -5px}
.profile-inner-page .add-project-step form .input-cell .input-row-inner .values{
margin:17px 0 0}
.profile-inner-page .add-project-step form .input-cell .input-row-inner .color-set-link{
display:inline-block;
clear:both;
position:relative;
font:400 16px/22px 'Fira Sans',sans-serif;
color:#1d70a4;
padding:0 0 0 18px;
margin:6px 0 0;
letter-spacing:-.45px}
.profile-inner-page .add-project-step form .input-cell .input-row-inner .color-set-link:before{
content:"";
position:absolute;
width:8px;
height:12px;
background:url(../images/sprite.png) -800px -40px no-repeat;
top:4px;
left:0}
.profile-inner-page .add-project-step form .add-room{
height:75px;
margin:24px 0 0;
position:relative;
border:1px solid rgba(94,110,126,.2);}
.profile-inner-page .add-project-step form .add-room .fields{
box-sizing:border-box;
width:507px;
height:100%;
padding:12px 19px;
float:left;
background-color:#fafbfd;}
.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap{
position:relative}
.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap .error-message{
position:absolute;
left:0;
display:none;
font:400 14px 'Fira Sans',sans-serif;
color:#971616;
padding:5px 0 0 0;
white-space:nowrap}
.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap.error .error-message{
display:block}
.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap.error input[type=text],.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap.error input[type=password],.profile-inner-page .add-project-step form .add-room .fields .room-input-wrap.error textarea{
background-color:rgba(151,22,22,.1);
border-bottom-color:#971616}
.profile-inner-page .add-project-step form .add-room .fields .room-name-input{
width:300px}
.profile-inner-page .add-project-step form .add-room .fields .room-square-input{
width:100px;
margin:0 0 0 25px}
.profile-inner-page .add-project-step form .add-room .fields .room-square-input+.error-message{
left:25px}
.profile-inner-page .add-project-step form .add-room .button{
box-sizing:border-box;
transition:all .3s ease;
position:absolute;
width:250px;
height:72px;
top:0;
right:1px;
background-color:#fafbfd;
border-left:none;
text-align:center;
font:400 14px/65px 'PTSansRegular',sans-serif;
color:#1d70a4;
text-transform:uppercase;
padding:5px 0 0 24px}
.profile-inner-page .add-project-step form .add-room .button:not(.disabled):hover{
background-color:rgba(1,1,1,.05)}
.profile-inner-page .add-project-step form .add-room .button:before{
content:"";
position:absolute;
width:20px;
height:20px;
background:url(../images/sprite.png) -480px -40px no-repeat;
top:28px;
left:27px}
.profile-inner-page .add-project-step form .add-room .button.disabled{
opacity:.6;
cursor:default}
.profile-inner-page .add-project-step form .btn-wrapper{
margin:30px 0 11px;
text-align:center;
clear:both;}
.profile-inner-page .add-project-step .switcher{
float:right;
margin:13px 1px 0 0;
position:relative;
z-index:2}
.profile-inner-page .add-project-step .switcher a{
transition:all .3s ease;
font:400 14px/20px 'PTSansRegular',sans-serif;
text-transform:uppercase}
.profile-inner-page .add-project-step .switcher .switcher-icon{
width:23px;
height:10px;
position:relative;
display:inline-block;
margin:0 14px;
background-color:#8ed8f8;
border-radius:5px;
cursor:pointer}
.profile-inner-page .add-project-step .switcher .switcher-icon:after{
content:"";
position:absolute;
width:10px;
height:10px;
transition:all .3s ease;
top:0;
border-radius:50%;
background-color:#1d70a4}
.profile-inner-page .add-project-step .switcher.first a{
color:#1d70a4;
cursor:default}
.profile-inner-page .add-project-step .switcher.first a+.switcher-icon+a{
color:#dee1e4;
cursor:pointer}
.profile-inner-page .add-project-step .switcher.first .switcher-icon:after{
left:0}
.profile-inner-page .add-project-step .switcher.second a{
color:#dee1e4;
cursor:pointer}
.profile-inner-page .add-project-step .switcher.second a+.switcher-icon+a{
color:#1d70a4;
cursor:default}
.profile-inner-page .add-project-step .switcher.second .switcher-icon:after{
-webkit-transform:translateX(-100%);
-ms-transform:translateX(-100%);
transform:translateX(-100%);
left:100%}
.profile-inner-page .radio-cell{
margin-top:10px}
.profile-inner-page .radio-cell:nth-child(4n+1){
margin:10px 0 0 0}
.profile-inner-page .radio-cell:nth-child(1),.profile-inner-page .radio-cell:nth-child(2),.profile-inner-page .radio-cell:nth-child(3),.profile-inner-page .radio-cell:nth-child(4){
margin-top:0}
.profile-inner-page .radio-cell label{
line-height:30px!important}
.profile-inner-page .upload-area .dz-image{
transition:all .3s ease}
.profile-inner-page .upload-area .dz-default-img{
	transition: all .3s ease;
	width: 150px;
	height: 120px;
	background-repeat: no-repeat;
	/* position: absolute; */
	/* top: 33px; */
	left: 0;
	display: inline-block;
	margin-right: 10px;
	margin-bottom:10px;
	background-position: 50%;
	background-size:100%;
}
.profile-inner-page .upload-area.ajax-loading,.profile-inner-page .upload-area.dz-drag-hover{
border:2px solid #ced7dd;
border-radius:5px;
background-color:#f1f2f4}
.profile-inner-page .upload-area.ajax-loading .text,.profile-inner-page .upload-area.dz-drag-hover .text{
opacity:1!important}
.profile-inner-page .upload-area.ajax-loading .dz-default-img,.profile-inner-page .upload-area.ajax-loading .dz-image,.profile-inner-page .upload-area.dz-drag-hover .dz-default-img,.profile-inner-page .upload-area.dz-drag-hover .dz-image{
opacity:.1}
.profile-inner-page .upload-area.dz-success{
padding:10px;
border-color:transparent}
.profile-inner-page .upload-area.dz-success .text{
display:none;}
.profile-inner-page .hd_provider{
	background:#fff;
	width:100%;
	box-shadow: 0px 1px 1px #ccc;
}
.profile-inner-page .hd_provider h2.name_company{
	font:400 21px 'RobotoSlabRegular',sans-serif;
	margin:0 0 18px 0;
}

.profile-inner-page .hd_provider .logo_company{
	position:relative;
	margin-right:20px;
}
.profile-inner-page .hd_provider .logo_company img{
	margin: auto;
	width:100%;
}
.profile-inner-page .hd_provider .inf_company .prop{
	display:inline-block;
}
.profile-inner-page .hd_provider .inf_company .prop.prop_cat{
	margin-bottom:28px;
}
.profile-inner-page .hd_provider .inf_company .prop .name_prop{
	font:400 12px 'PTSansRegular',sans-serif;
	color:#b1b1b1;
	margin-bottom:8px;
}
.profile-inner-page .hd_provider .inf_company .prop .val{
	font:400 14px 'PTSansRegular',sans-serif;
	color:#252525;
}
.profile-inner-page .category {
    box-sizing: border-box;
    transition: all .3s ease;
    height: 26px;
    position: relative;
    display: inline-block;
    margin: 8px 15px 0 0;
    padding: 3px 4px 5px 8px;
    border: 1px solid rgba(1,1,1,.1);
    border-right-color: transparent;
    font: 400 13px 'PTSansItalic',sans-serif;
    color: #252525;
    background-color: transparent;
}
.profile-inner-page .category:before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    right: -27px;
    opacity: 0;
}
.profile-inner-page .category:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-top: 1px solid rgba(1,1,1,.1);
    border-right: 1px solid rgba(1,1,1,.1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    right: -10px;
}
.profile-inner-page .category .val {
    font: 600 1em 'PTSansBold',sans-serif;
    color: #858585;
}
.profile-inner-page .category .val {
    margin: 0;
}
.profile-inner-page .category:after {
    border-top-right-radius: 3px;
}
.profile-inner-page .top{
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 30px;
	position: relative;
}
.profile-inner-page .head-top-block{
	width:100%;
	height: 87px;
	width: 100%;
	background: white;
	z-index: 10;
	position:static;
	box-shadow: 0px 1px 1px #ccc;
	padding-top:22px;
	z-index:100;
}
.profile-inner-page .top-block.fix{
	position:fixed
}
.profile-inner-page #return-profile{
	transition: all .3s ease;
	font: 400 15px/44px 'PTSansRegular',sans-serif;
	height: 44px;
	background: #3fb1da;
	display: block;
	padding: 0 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-icab-border-radius: 5px;
}
.profile-inner-page #edit-profile{
	transition: all .3s ease;
	font: 400 15px/44px 'PTSansRegular',sans-serif;
	height: 44px;
	background: transparent;
	display: block;
	padding: 0 30px 0 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-icab-border-radius: 5px;
	border:1px solid #d1d1d1;
	color:#252525;
}
.profile-inner-page #edit-profile:hover{
	border: 1px solid #728396;
}
.profile-inner-page #edit-profile::before{
	content: " ";
	position: absolute;
	width: 12px;
	height: 12px;
	left: 20px;
	background: url(/local/images/icons/Edit.svg) no-repeat;
	bottom: 0;
	top: 0;
	margin: auto 0;
}
.profile-inner-page #save-data {
	transition: all .3s ease;
	font: 400 15px/44px 'PTSansRegular',sans-serif;
	height: 44px;
	background: #3fb1da;
	display: block;
	padding: 0 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-icab-border-radius: 5px;
}
.profile-inner-page #save-data:hover {
	background-color: #2c8fb3;
}
.profile-inner-page #add-product {
	transition: all .3s ease;
	font: 400 15px/44px 'PTSansRegular',sans-serif;
	height: 44px;
	background: #3fb1da;
	display: inline-block;
	vertical-align: middle;
	float: right;
	padding: 0 30px 0 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-icab-border-radius: 5px;
}
.profile-inner-page #add-product::before{
	content: " ";
	position: absolute;
	width: 16px;
	height: 18px;
	left: 20px;
	background-image: url(/local/images/sprite_r.png);
	background-position: -713px -158px;
	bottom: 0;
	top: 0;
	margin: auto 0;
}
.profile-inner-page #add-product:hover {
	background-color: #2c8fb3;
}
.profile-inner-page #return-profile:hover{
	background-color: #2c8fb3;
}
.profile-inner-page #return-profile::before{
	content: " ";
	position: absolute;
	width: 12px;
	height: 12px;
	left: 16px;
	background-image: url(/local/images/sprite_r.png);
	background-position: -122px -146px;
	bottom: 0;
	top: 0;
	margin: auto 0;
}
.profile-inner-page .return-to-profile {
	display: inline-block;
	vertical-align: middle;
	float:left;
	margin-top:21px;
}
.profile-inner-page .save-data {
	display: inline-block;
	vertical-align: middle;
	float:right;
	margin-top:21px;
}
.profile-inner-page .second-head {
    width: 100%;
    line-height: 87px;
}
.profile-inner-page .profile-menu li{
	display:inline-block;
	margin-right:40px;
	height:60px;
}
.profile-inner-page .profile-menu li a.active{
	border-bottom: 3px solid #00bbe4;
	color: #252525;
}
.profile-inner-page .profile-menu{
	margin-bottom:-1px;
	margin-top:10px;
}
.profile-inner-page .profile-menu li a{
	font: 400 15px/60px 'PTSansRegular',sans-serif;
	color:#a4a4a4;
	height: 60px;
	margin-bottom: -1px;
}
.profile-inner-page .goods-item{
	height: auto;
    margin: 0 20px 20px 0;
    width: 284px;
    box-shadow: 0 3px 4px 0 rgba(1,1,1,.2);
    position: relative;
    border: 1px solid #f2f3f4;
    box-shadow: none;
    display: inline-block;
    margin-left: -.36em !important;
    background: white;
    transition: all .3s ease;
	vertical-align:top;
}
.profile-inner-page .goods-list.list .goods-item{
	display:table;
	width:100%;
	padding:20px 0;
}
.profile-inner-page .goods-list.list .goods-item .content .casper{
	display:block;
}
.profile-inner-page .goods-list.list .goods-item .image{
	background: url(/upload/resize_cache/iblock/941/280_185_1/94178d0a698d4b4db55becc0bf0ff86e.jpeg) no-repeat 50%;
	vertical-align: top;
	display:table-cell;
	width:280px;
}
.profile-inner-page .goods-list .goods-item .image > a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}
.profile-inner-page .goods-list.list .goods-item .content{
	display: table-cell;
    vertical-align: top;
	width:auto;
}

.profile-inner-page .goods-list.list .goods-item .content .casper{
	padding:0;
}
.profile-inner-page .goods-item .image {
    position: relative;
    width: 100%;
    height: 187px;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
}
.profile-inner-page .goods-item .content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
}
.profile-inner-page .goods-item .content .top {
    padding: 20px;
}
.profile-inner-page .goods-item .content .bottom {
    border-top: 1px solid #f2f3f4;
    padding: 20px;
    font: 400 13px 'PTSansRegular',sans-serif;
    color: #5e6e7e;
    position: relative;
    z-index: 11;
}
.profile-inner-page .goods-item .content .bottom .line {
    width: 50px;
    height: 3px;
    background: #3fb1da;
    position: absolute;
    top: -2px;
}
.profile-inner-page .goods-item .content .bottom .new_price {
    font: 600 18px 'RobotoSlabBold',sans-serif;
    color: #4cb6dc;
    text-align: left;
    margin-right: 25px;
	position:relative;
	display:inline-block;
}
.profile-inner-page .goods-item .content .bottom .price {
    font: 400 13px 'RobotoSlabRegular',sans-serif;
    color: #252525;
    text-align: left;
    position: relative;
}
.profile-inner-page .goods-item .content .bottom .old_price {
    text-decoration: line-through;
    color: #00a0e3;
}
.profile-inner-page .goods-list.list .goods-item{
	margin-left:0 !important;
}
.profile-inner-page .goods-item .content .bottom .old_price span {
    color: #5e6e7e;
    font-weight: 500;
}
.profile-inner-page .goods-item .content .bottom .ruble2 {
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -261px -426px;
    position: absolute;
    width:10px;
    height:11px;
    bottom:0;
    top:0;
	right:-12px;
    margin: auto;
}
.profile-inner-page .goods-item .content .bottom .ruble {
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -291px -366px;
    position: absolute;
    width: 14px;
    height: 16px;
    bottom: 0;
    top: 0;
	right:-15px;
    margin: auto;
	font-family: 'PT Sans', serif !important;
	display: inline-block;
}
.profile-inner-page .goods-item .content .title {
    display: block;
    font: 600 15px 'RobotoSlabBold',sans-serif;
    color: #252525;
    margin-top: 10px;
    text-align: left;
	height:auto;
}
.profile-inner-page .goods-item .wrap__btn_basket {
    margin-top: 20px;
}
.profile-inner-page .goods-item .content .to-basket:hover {
    background-color: #2c8fb3;
}
.profile-inner-page .goods-item .content .basket, 
.profile-inner-page .goods-item .content .edit, 
.profile-inner-page .goods-item .content .gift, 
.profile-inner-page .goods-item .content .to-basket {
    font: 400 13px/37px 'PTSansRegular',sans-serif;
    color: #fff;
    position: relative;
    transition: all .3s ease;
    border-radius: inherit;
    border-radius: 3px;
    padding: 10px 20px 10px 40px;
    text-align: right;
    background: #4cb6dc;
}
.profile-inner-page .goods-item .content .to-basket::after {
    content: " ";
    background-image: url(/local/images/sprite_r.png);
    background-position: -131px -238px;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 10px;
    bottom: 0;
    top: 0;
    margin: auto;
}
.profile-inner-page .goods-item .content .casper {
    display: none;
    z-index: 1;
    left: 0;
    padding: 0 20px 20px 20px;
    width: 100%;
}
.profile-inner-page .goods-item .category_item{
	font: 400 13px 'PTSansRegular',sans-serif;
    color: #a4a4a4;
}
.profile-inner-page .goods-item .content .bottom .price {
    font: 400 13px 'RobotoSlabRegular',sans-serif;
    color: #252525;
    text-align: left;
    position: relative;
}
.profile-inner-page .goods-item .content .bottom .disc {
    font: 400 13px 'PTSansRegular',sans-serif;
    color: #a4a4a4;
    margin-top: 20px;
}
.profile-inner-page .goods-list.tile .goods-item:hover {
    box-shadow: 0px 17px 25px #d3d6d8;
    margin-top: -6px;
    vertical-align: top;
}
.profile-inner-page .goods-list.tile .goods-item:hover .content .casper{
	display:block;
	position:absolute;
	background:white;
	box-shadow: 0px 17px 25px #d3d6d8;
}
.profile-inner-page .goods-list.tile .goods-item:hover .fast_view{
	display:block;
}
.profile-inner-page h2 {
    font: 400 25px 'RobotoSlabRegular',sans-serif;
    color: #252525;
    margin: 30px 0;
}
.profile-inner-page .filter {
    color: #a4a4a4;
    font: 400 13px 'PTSansRegular',sans-serif;
    padding: 0;
	margin-top:30px;
    height: 50px;
}
.profile-inner-page .filter a {
    position: relative;
    margin: 0 10px 0 15px;
    color: #077fed;
    border-color: #077fed;
    padding: 0;
}
.profile-inner-page .wrap-profile-menu{
	margin-bottom: -1px;
    border-top: 1px solid #f7f7f7;
	margin-top:38px;
}
.profile-inner-page .wrap-form-edit-product{
	background:#fff;
	padding: 30px 25px 40px 25px;
	border: 1px solid #f4f4f5;
	margin-top:18px;
}
.profile-inner-page .wrap-form-edit-product .top-section-list{
	font: 400 21px 'RobotoSlabRegular',sans-serif;
	margin-bottom:24px;
}
.profile-inner-page .wrap-form-edit-product .top-section-list .select_cat{
	font: 400 21px 'PTSansRegular',sans-serif;
	color:#077fed;
	cursor:pointer;
	border-bottom: 1px dotted;
}
.profile-inner-page .form-category-container{
	display:table;
	border:1px solid #cbcbcb;
	border-radius:3px;
	margin-right: 380px;
}
.profile-inner-page .form-category-container .form-category:first-child{
	border-left:none;
}
.profile-inner-page .form-category-container .form-category{
	display:table-cell;
	border-left:1px solid #cbcbcb;
	width:250px;
	padding-bottom:8px;
}
.profile-inner-page .form-category-container .form-category > span{
	display: block;
    padding: 8px 15px;
	color:#a4a4a4;
	font: 400 10px 'PTSansRegular',sans-serif;
	text-transform:uppercase;
}
.profile-inner-page .form-category-container .form-category label{
	display:block;
	padding:8px 15px;
	font: 400 15px 'PTSansRegular',sans-serif;
}
.profile-inner-page .form-category-container .form-category label.active{
	background:#3fb1da;
	color:#fff;
}
.profile-inner-page .form-category-container .form-category label:hover{
	background:#eaeaea;
	cursor:pointer;
	color:#252525;
}
.profile-inner-page .wrap-form-edit-product h2 {
    margin-left: 0;
    font: 400 21px 'RobotoSlabRegular',sans-serif;
    color: #252525;
    text-transform: inherit;
    margin: 30px 0;
}
.profile-inner-page .help_b{
	position: absolute;
	right:20px;
	background: #fcfcfc;
	border-radius: 3px;
	padding: 0 23px;
	width: 360px;
	font: 400 15px 'PTSansRegular',sans-serif;
	box-shadow: 0px 2px 3px #ebeded;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	padding-bottom:35px;
	margin-left:20px;
}
.profile-inner-page .help_b *{
	color:#252525;
}
.profile-inner-page .help_b .phone{
	font: 400 25px 'RobtoSlabRegular',sans-serif;
}
.profile-inner-page .top-edit-product h1{
	font: 400 25px 'RobotoSlabRegular',sans-serif;
}
.profile-inner-page .top-edit-product{
	background:#fff;
	padding-top: 40px;
}
.profile-inner-page .avatar span {
	background-color: #3fb1da;
	font: 400 15px 'PTSansRegular',sans-serif;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	line-height: 120px;
	font: 400 30px 'PTSansRegular',sans-serif;
	color: #fff;
	line-height: 150px;
}
.profile-inner-page .avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	left: 0;
	right: 0;
	bottom: -15px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.profile-inner-page .avatar.logo{
	width:250px;
	border-radius:15px;
}
.profile-inner-page .avatar span{
	border-radius: 50%;
}
.profile-inner-page table.orders td img.ico{
	max-width:50px;
	max-height:50px;
	box-shadow: 0px 3px 5px #ebeded;
	padding: 5px;
}
.profile-inner-page table.orders td{
	vertical-align:top;
}
