<div class="js-fourth-step add-project-step js-step step3" data-step="4">
    <div class="step-title-wrap">
        <div class="number">4</div>
        <div class="js-step-title title">Документация</div>
        <div class="value">Форматы DOC, XLS, PDF, архивы</div>
        <div class="clearfix"></div>
    </div>

    <div class="js-step-body step-body">
        <?= $this->step4Form ?>
    </div>
</div>