<?
	$user = $this->user;
?>
	<?=$this->partial("_partials/profile/provider/subsidebar.phtml",['type'=> $type])?>
	<?=$this->partial("_partials/profile/provider/head_market.phtml",['user'=> $user])?>
	<div class="wrap-conteiner-goods">
		<div class="content-container">
			<h2>Маркетплейс</h2>
			<div class="filter">
				<div class="col-xs-4 col-sm-4 col-md-4"><?= EZendManager::sorting("shop") ?></div>
				<div class="col-xs-4 col-sm-4 col-md-4"><?= EZendManager::elementCntList() ?></div>
				<div class="col-xs-4 col-sm-4 col-md-4"><?= EZendManager::elementTypeView() ?></div>
			</div>
			<div class="goods-list tile">
				<div class="js-ajax-list-content">
					<?= $this->render('profile/marketplace.ajax.phtml') ?>
				</div>   				
			</div>
		</div>
	</div>