/*
 * Динамические свойства виджета от proomer.ru
 * 
 * @author Роман Камлюк <roman@kamlyuk.com>
 */

#proomer-widget .proomer-widget-button.proomer-widget-visible {
    z-index: 2;
    opacity: 1;
    visibility: visible;
}

#proomer-widget .proomer-widget-modal.proomer-widget-visible {
    z-index: 11;
    visibility: visible;
    overflow-y: scroll;
}

#proomer-widget .proomer-widget-modal.proomer-widget-visible .proomer-widget-modal-background {
    opacity: 0.85;
}

#proomer-widget .proomer-widget-modal.proomer-widget-visible .proomer-widget-modal-window {
    opacity: 1;
}