<?
	$competition = $this->competition;
	$complex = $this->complex;
	$house = $this->house;
	$plan = $this->plan;
	$planOption = $this->planOption;
	$designList = $this->designList;
	$myDesignList = $this->myDesignList;
	$liked_design_original = $competition->PROPERTY_DESIGN_LIKED_VALUE;
	$liked_design_resizes = array();
	$element = $this->element;
	/*foreach($competition->PROPERTY_DESIGN_LIKED_VALUE as $key => $val){

		if(!empty($val)){
			$image = Resizer::resizeImage($val, 'COMPETITION_EXAMPLE_JOB');
		}
		else{
			$image = '/local/images/img-not-found.jpg';
		};
		array_push($liked_design_resizes, $image);
	}
	
	$arr_design_liked = ["ORIGINAL" => $liked_design_original, "LITTLE" => $liked_design_resizes];
	
	$competition->DESIGN_LIKED = $arr_design_liked;*/
	
	//exit;

	//exit;
?>
<div class="content-container">
	<div class="left_bn">
		<div class="top-block">
			<div class="row">	
				<div class="author">Заказчик:<span class="value"> <?=$competition->CREATED_BY['NAME'].' '.$competition->CREATED_BY['LAST_NAME']?></span></div>
				<div class="share">
					<script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
					<script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,blogger,lj"></div>
				</div>
				<div class="share_txt">Поделиться:</div>
			</div>
		</div>
		<h1 class="main"><?=$competition->NAME?></h1>
		<div class="object"><?=$complex->NAME .' ' .$house->PROPERTY_STREET .','.$house->PROPERTY_HOUSE_NUMBER?></div>
		<?if($competition->DETAIL_TEXT){?>
			<h2 class="sub-title">Описание проекта</h2>
			<div class="disc">
				<?=$competition->DETAIL_TEXT?>
			</div>
		<?}?>
		<?if(count($competition->PROPERTY_DESIGN_LIKED_VALUE) > 0){?>
		<h2 class="sub-title">Примеры работ</h2>
		<div class="gallery">
			<div class="row">
				<?foreach($competition->PROPERTY_DESIGN_LIKED_VALUE as $liked){?>
					<div class="col-xs-3 col-sm-3 col-md-3">
						<div class="photo">
							<a class="gallery" rel="group" href="<?=$liked?>">
								<img src="<?=$liked?>">
							</a>
						</div>
					</div>
				<?}?>
			</div>
		</div>
		<?}?>
		<div class="navi js-complex-detail-nav">
			<ul>
				<li><a href="/#competition-design-project" class="linkblock selected" data-for="competition-design-project">Готовые решения</a></li>
				<li><a href="/#competition-comment-block" class="linkblock" data-for="competition-comment-block">Комментарии</a></li>
			</ul>
		</div>
		<div class="block competition-comment-block disabled" id="competition-comment-block">
		<?
			Zend_Registry::get('BX_APPLICATION')->IncludeComponent("proomer:catalog.comments","article",
			Array(
			"TEMPLATE_THEME" => "blue",
			"IBLOCK_TYPE" => "books",
			"IBLOCK_ID" => $competition->IBLOCK_ID,
			"ELEMENT_ID" => $competition->ID,
			"ELEMENT_CODE" => "",
			"URL_TO_COMMENT" => "/competition/".$competition->ID,
			"WIDTH" => "",
			"COMMENTS_COUNT" => "20",
			"BLOG_USE" => "Y",
			"FB_USE" => "N",
			"VK_USE" => "N",
			"CACHE_TYPE" => "A",
			"CACHE_TIME" => "0",
			"BLOG_TITLE" => "Комментарии",
			"BLOG_URL" => "catalog_comments",
			"PATH_TO_SMILE" => "/bitrix/images/blog/smile/",
			"EMAIL_NOTIFY" => "N",
			"AJAX_POST" => "Y",
			"SHOW_SPAM" => "Y",
			"SHOW_RATING" => "Y",
			"RATING_TYPE" => "standart_text",
			"FB_TITLE" => "Facebook",
			"FB_USER_ADMIN_ID" => "",
			"FB_APP_ID" => "",
			"FB_COLORSCHEME" => "dark",
			"FB_ORDER_BY" => "time",
			"VK_TITLE" => "Вконтакте",
			"VK_API_ID" => "API_ID"
			)
		);
		?>
		</div>
		<div class="block competition-design-project" id="competition-design-project">
			
			<style>
			#competition-design-project .competition-design-project .design-list .item {
				margin: 0 27px 29px 0;
			}
			#competition-design-project .competition-design-project .design-list .item:nth-child(3n) {
				margin: 0 0 29px 0;
			}
			#competition-design-project .competition-design-project .design-list .item{
				width:245px;
				height:390px;
			}
			#competition-design-project .competition-design-project .design-list .item.disabled{
				display:none;
			}
			.competition-detail-page .competition-design-project .feature-list{
				position: relative;
			}
			.competition-detail-page .competition-design-project .design-list .item {
				margin: 0 27px 29px 0;
			}
			.competition-detail-page .competition-design-project .design-list .item:nth-child(3n) {
				margin: 0 0 29px 0;
			}			
			.competition-detail-page .competition-design-project .feature-list .out-feature-item {
				height: 400px;
				padding: 0 10px;
			}
			.competition-detail-page .competition-design-project .feature-list .out-feature-item.disabled{
				display:none;
			}
			.competition-detail-page .competition-design-project .feature-list .out-feature-item{
				padding:0 10px;
			}
			.competition-detail-page .competition-design-project .feature-list .feature-item{
				border: 1px solid rgba(1, 1, 1, 0.05);
				box-sizing: border-box;
				margin-bottom: 18px;
				overflow: hidden;
				padding: 20px 20px;
				position: relative;
			}
			.competition-detail-page .competition-design-project .feature-list .out-feature-item img{
				max-height:241px;
				width:100%;
			}
			.competition-detail-page .competition-design-project .feature-list {
				text-align: center;
			}
			.competition-design-project .preview360-gallery, .competition-design-project .preview360-gallery > img {
			  height: 238px;
			  width: 238px;
			}
			.competition-design-project .preview360-gallery {
				height: 238px;
				width: auto;
				position: relative;
			}
			.competition-design-project .preview360-gallery > img {
				height: 238px;
				width: 238px;
				left: 0;
				position: absolute;
			}
			.competition-design-project .preview360-hide {
			  z-index:9;
			}
			</style>
			<div class="feature-out">
				<div class="feature-list row">
					<div class="design-list js-ajax-list-content" style="margin:0 -10px;">
						<?= $this->render('competition/detail.ajax.phtml') ?>
					</div>
				</div>
			</div>
			<form enctype="application/x-www-form-urlencoded" class="js-feedback-form feedbackForm formTabber" data-title="Ваше сообщение получено" data-text="Мы рассмотрим ваше обращение в ближайшее время" action="/recomendation/add/" method="post" novalidate="novalidate">
				<input type="hidden" name="design_project" value="" id="design-project">
				<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
				<!--<div class="btn-wrapper">
					<a href="/profile/design/add/" class="btn blue waves-effect view_n3">Отправить</a>
				</div>-->
			</form>
		</div>
	</div>
</div>
<div class="right_bn">
<?=$this->partial('competition/right_bn.phtml', array(
	'competition' 		=> $competition, 
	'plan'				=> $plan,
	'planOption'		=> $planOption,
	'designList'        => $designList,
	'myDesignList'		=> $myDesignList
	)
)?>
</div>


