<? if ($this->pageCount <= 1): ?>
    <? return; ?>
<? endif; ?>

<div class="js-pagination pagination_r">
        <span class="pag">Страницы: </span>
<? if (isset($this->previous)): ?>
    <a data-page="<?= $this->previous ?>" class="prev under-link" href="<?= EHelper::replaceParamLink2(['page' => $this->previous], ['page'], $this->path) ?>">
        <span>&#171;&#171; </span>
    </a>
<? endif ?>

<? if ($this->pageCount > 6): ?>
    <!-- First page -->
    <? if ($this->current >= 3): ?>
        <a data-page="<?= $this->first ?>" class="page under-link" href="<?= EHelper::replaceParamLink2(['page' => $this->first], ['page'], $this->path) ?>"><?= $this->first ?></a>
    <? endif ?>

    <? if ($this->current >= 3): ?>
        <span>...</span>
    <? endif ?>
    <!-- / First page -->

    <!-- Pages in range -->
    <? for($i = $this->firstPageInRange; $i <= $this->lastPageInRange; $i++): ?>
        <? if ($this->current == $i): ?>
            <a class="page under-link active"><?= $i ?></a>
        <? else: ?>
            <a data-page="<?= $i ?>" class="page under-link" href="<?= EHelper::replaceParamLink2(['page' => $i], ['page'], $this->path) ?>"><?= $i ?></a>
        <? endif ?>
    <? endfor ?>
    <!-- / Pages in range -->

    <!-- Last page -->
    <? if ($this->current < $this->last - 2): ?>
        <!--<span>...</span>-->
    <? endif ?>

    <? if ($this->current <= $this->last - 2): ?>
        <a data-page="<?= $this->last ?>" class="page under-link" href="<?= EHelper::replaceParamLink2(['page' => $this->last], ['page'], $this->path) ?>"><?= $this->last ?></a>
    <? endif ?>
    <!-- / Last page -->
<? else: // if pages less than 7 ?>
    <!-- All pages -->
    <? for($i = $this->first; $i <= $this->last; $i++): ?>
        <? if ($this->current == $i): ?>
            <a class="page under-link active"><?= $i ?></a>
        <? else: ?>
            <a data-page="<?= $i ?>" class="page under-link" href="<?= EHelper::replaceParamLink2(['page' => $i], ['page'], $this->path) ?>"><?= $i ?></a>
        <? endif ?>
    <? endfor ?>
    <!-- / All pages -->
<? endif ?>

<? if (isset($this->next)): ?>
    <a data-page="<?= $this->next ?>" class="next under-link" href="<?= EHelper::replaceParamLink2(['page' => $this->next], ['page'], $this->path) ?>">
        <span>&#187;&#187;</span>
    </a>
<? endif ?>
</div>