
<? if(!empty($this->imageUrl)): ?>
    <? $size = getimagesize (P_DR . $this->imageUrl); ?>
    <img class="js-slide-image admin-slide-image" src="<?= $this->imageUrl ?>" <?= $size[3] ?>>
		<form method="post" action="">
	<div class="input-row valid">
		<label for="pinName" class="required">Название</label>
		<input type="text" name="pinName" id="pinName" value="" class="required" maxlength="50">
		<span class="js-error error-message">Это поле необходимо заполнить.</span>
	</div>
	<div class="input-row valid">
		<label for="pinURL" class="required">URL</label>
		<input type="text" name="pinURL" id="pinURL" value="" class="required" maxlength="256">
		<span class="js-error error-message">Это поле необходимо заполнить.</span>
	</div>
	<div class="input-row valid">
		<label for="pinCoords" class="required">Координаты</label>
		<input type="text" name="pinCoords" id="pinCoords" value="<?=$this->pinCoords?>" class="required" maxlength="256">
		<span class="js-error error-message">Это поле необходимо заполнить.</span>
	</div>
	<div class="btn-wrapper">
		<a class="js-add-pin btn blue waves-effect" data-step="1" href="javascript:void(0);">Добавить</a>
	</div>
</form/>
<? else: ?>
    <div style="position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);font-weight: bold;">Изображение не найдено</div>
<? endif ?>