
<div id="head_top_block" class="head-top-block">
	<div class="content-container">
		<div class="second-head">
			<div class="return-to-profile">
				<a href="/profile/" id="edit-profile" class="btn blue waves-effect">Редактировать</a><!--<span id="result_progress" class="result_progress"></span>-->
			</div>
			<div class="add-product"><a href="/profile/marketplace/add-goods" id="add-product" class="btn blue waves-effect js-save">Добавить товар</a><!--<span id="result_progress" class="result_progress"></span>-->
			</div>
		</div>
	</div>
</div>