<?
	$itemList = $this->itemList;
	$projectData = $this->projectData;
	$starting_price = $this->starting_price;
	$step = $this->step;
	$nextstep = $this->nextstep;
	$url = $this->url;
	$nextstep_d = $this->nextstep_d;
	$uploadItemList = $this->uploadItemList;
	$step = $this->step;
	$cityModel    = new Sibirix_Model_City();
	$nextstepfile = true;
	$item_save = $this->item_save;

?>
<input type="hidden" id="designId" name="designId" value="2475">
<div id="service-page" data-step=<?=$step?>>
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li class="selected"><a href="/project/step1/">Выбор планировки</a></li>
						<li><a class="under-link" href="/project/step2/">Варианты планировок</a></li>
						<li><a class="under-link" href="/project/step3/">Варианты дизайна</a></li>
						<li><a class="under-link" href="/project/step4/">Состав семьи</a></li>
						<li><a class="under-link" href="/project/step5/">Настройка заказа</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="content-container">
			<div class="content"><h2 class="page-title">Выбор планировки</h2></div>
			<div class="left_bn preloaderController">
				<div class="content">
					<div class="row row-btn-top">	
						<a href="#selectplan" data-page="select" id="btn_select_plan" class="js-open-page under-link-dashed style2">Выбрать готовую</a>
						&nbsp; &nbsp; &nbsp; &nbsp;<span class="or">или</span>&nbsp; &nbsp; &nbsp; &nbsp;  
						<a href="#uploadplan" data-page="upload" id="btn_upload_plan" class="js-open-page style3">Загрузить свою</a>
						<div class="call-super-man"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
						ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
					</div>
				</div>
				<div id="select_plan" class="project-select">
					<div class="js-ajax-list-content">
						<?= $this->render('project/selectplan.ajax.phtml') ?>
					</div>
				</div>
				<div id="upload_plan" class="project-upload" style="display:none">
					<div class="content">
					<?
					if (Sibirix_Model_User::isAuthorized()) {
						echo '<p>Вы можете в любой момент вернуться к заполнению проекта.<br/>
						Найти проект можно в <a class="under-link style1" href="/profile">личном кабинете</a></p>';
					}
					else{
						echo '<p>Обращаем внимание!<br/>
						Для того, чтобы мы согли проверить загруженные файлы планировки,<br/> 
						вам необходимо <a class="under-link style1 js-fancybox fancyboxLink" href="#registration-popup">зарегистрироваться</a> или <a href="#login-popup" class="under-link style1 js-fancybox fancyboxLink">войти под своим логином</a></p>';
					}
					?>
						<div class="area-upload <?if (!Sibirix_Model_User::isAuthorized()) {echo 'ghost';}?>">
						<?if (!Sibirix_Model_User::isAuthorized()) {?>
								<div class="overlap ghost">
								</div>
						<?}?>
							<label>Загрузите скрин-копию вашей планировки:</label>
							<form>
							<div class="upload-area js-docs-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите файлы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div></div>
							</form>
							<p class="i file_res">Для загрузки допускаются файлы до 2Мб, форматов: jpg, png, bmp</p>
						</div>
						<?if (Sibirix_Model_User::isAuthorized()) {?>
						<hr/>
							<?if(count($uploadItemList) > 0){?>
							<div class="result">
								<p class="title">Загруженные файлы:</p>
								<p class="i">Как только мы проверим загруженные файлы, на соответствие требованиям,<br/>
								вы сможете перейти к следующему шагу</p>
								<div class="list-result">
									<div class="row">
									<?foreach($uploadItemList as $item){
										if($item->PROPERTY_STATUS_ENUM_ID != PLAN_STATUS_PUBLISHED){
											$nextstepfile = false;
										};
										
										$class = '';
										if($item->PROPERTY_STATUS_ENUM_ID == PLAN_STATUS_MODERATION){
											$class = 'moderation';
										}
										else if($item->PROPERTY_STATUS_ENUM_ID == PLAN_STATUS_PUBLISHED){
											$class = 'checked';
										}
										else{
											$class = 'moderation';
										}
									?>
										<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
											<div class="item-elem">
												<div class="picture" style="background-image:url(<?=$item->DETAIL_PICTURE['SRC']?>);"></div>
												<div class="info">
													<p class="name"><?=$item->DETAIL_PICTURE['ORIGINAL_NAME']?></p>
													<p class="status <?=$class?>"><?=$item->PROPERTY_STATUS?></p>
												</div>
											</div>
										</div>
									<?};?>
										<!--<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
											<div class="item-elem">
												<div class="picture">
													
												</div>
												<div class="info">
													<p class="name">1.jpg</p>
													<p class="status moderation">На модерации</p>
												</div>
											</div>
										</div>-->
									</div>
								</div>
							</div>
							<?};?>
						<?};?>
					</div>
				</div>
			</div>
			<div class="right_bn">
				<?= $this->partial('project/partials/right_bn.phtml', array('starting_price' => $starting_price, 'projectData' => $projectData, 'url' => $url, 'nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'nextstepfile' => $nextstepfile, 'item_save' => $item_save)) ?>
			</div>
			<div class="clear"></div>
		</div>
</div>