<h1>Widget ver. 0.1</h1>
<!--<script>
	$.ajax({
	  url: '/widget/complexes/4683',
	  data: '',
	  success: function(data){
		var res = JSON.parse(data);
		console.log(res)
	  }
	});
</script>

<!--<script>
	$.ajax({
	  url: '/widget/designs/1718',
	  data: '',
	  success: function(data){
		console.log(JSON.parse(data))
	  }
	});
</script>-->

<!--<script>
	$.ajax({
	  url: '/widget/step1/search?q=5/2',
	  data: '',
	  success: function(data){
		console.log(JSON.parse(data))
	  }
	});
</script>-->

<script>
	$.ajax({
	  url: '/widget/designs/1718',
	  data: '',
	  success: function(data){
		console.log(JSON.parse(data))
	  }
	});
</script>