<?
	$planList = $this->planList;
	$ARR_HOUSE = $this->house;
	$complex = $this->complex;
	
	
?>
<div class="list-plan js-list-plan">
<?if(!empty($ARR_HOUSE)){?>
	<?if($planList->pageData->totalItemsCount > 0){?>
			<div class="row">
				<?
				$i=0; 
				foreach($planList->items as $plan): ?>
					<?= $this->partial("complex/partials/plan-item-link.phtml", ["plan" => $plan, "complex" => $complex]) ?>
				<?
				$i+=1;
				endforeach ?>						
			</div>
	<?
	}
	else{
	?>
		<div class="not-found">
			<div class="not-found-message">
				<p class="big">По вашему запросу не нашлось вариантов квартир</p><br/>
			</div>
			<div class="not-found-icon"></div>
		</div>
	<?//echo $this->partial("_partials/not-found-status/complex.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]);
		};
}
else{
	?>
		<div class="not-found">
			<div class="not-found-message">
				<p class="big">По вашему запросу не нашлось вариантов квартир</p><br/>
			</div>
			<div class="not-found-icon"></div>
		</div>
	<?
}?>
</div>	