<div class="answer-block">
    <div class="content-container">
        <h2>Посмотрите <a href="javascript:void(0);">новые ответы</a></h2>
        <div class="count-text"><a href="javascript:void(0);">16 ответов</a> на вашу потребность <a href="javascript:void(0);">Красивый диван</a></div>
        <div class="product-list">
            <div class="item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES?>main/slide21.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">198</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES?>main/product2.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">19</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES?>main/product3.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">24</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
            <div class="item product-item">
                <div class="image" style="background-image:url('<?= P_PICTURES?>main/product4.jpg');">
                    <a href="javascript:void(0)" class="favourite"></a>
                    <a href="javascript:void(0)" class="like">8</a>
                </div>
                <div class="content">
                    <a href="javascript:void(0)" class="to-basket"></a>
                    <a href="javascript:void(0);" class="title">Кресло Hamptons</a>
                    <div class="description">
                        Дизайн 15 000 <i class="ruble"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <a href="javascript:void(0);" class="btn blue waves-effect">Смотреть все</a>
        </div>
        <div class="count-text"><a href="javascript:void(0);">6 ответов</a> на вашу потребность <a href="javascript:void(0);">Поклеить обои на кухне</a></div>
        <table class="master-list">
            <tr>
                <td>
                    <div class="photo" style="background-image:url('<?= P_PICTURES?>main/designer5.jpg')"></div>
                    <div class="info">
                        <div class="title">
                            <a href="javascript:void(0);" class="name under-link">Кузнецов Василий</a>
                            <div class="rating"><span class="rating-inner" style='width: 80%;'></span></div>
                        </div>
                        <div class="description">Сделаю все в лучшем виде!</div>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="outlay under-link">смета</a>
                </td>
                <td>
                    <span class="duration"><b>22</b><br>дня</span>
                </td>
                <td>
                    <span class="cost">15 000 <i class="ruble"></i></span>
                </td>
                <td>
                    <div class="verified"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photo" style="background-image:url('<?= P_PICTURES?>main/designer6.jpg')"></div>
                    <div class="info">
                        <div class="title">
                            <a href="javascript:void(0);" class="name under-link">Антипов Емельян</a>
                            <div class="rating"><span class="rating-inner" style='width: 60%;'></span></div>
                        </div>
                        <div class="description">Долго, качественно, ахY#@#нно!</div>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="outlay under-link">смета</a>
                </td>
                <td>
                    <span class="duration"><b>15</b><br>дней</span>
                </td>
                <td>
                    <span class="cost">23 000 <i class="ruble"></i></span>
                </td>
                <td>
                    <div class="verified"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photo" style="background-image:url('<?= P_PICTURES?>main/designer5.jpg')"></div>
                    <div class="info">
                        <div class="title">
                            <a href="javascript:void(0);" class="name under-link">Кузнецов Василий</a>
                            <div class="rating"><span class="rating-inner" style='width: 20%;'></span></div>
                        </div>
                        <div class="description">Сделаю все в лучшем виде!</div>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="outlay under-link">смета</a>
                </td>
                <td>
                    <span class="duration"><b>22</b><br>дня</span>
                </td>
                <td>
                    <span class="cost">15 000 <i class="ruble"></i></span>
                </td>
                <td>
                    <div class="verified"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photo" style="background-image:url('<?= P_PICTURES?>main/designer6.jpg')"></div>
                    <div class="info">
                        <div class="title">
                            <a href="javascript:void(0);" class="name under-link">Антипов Емельян</a>
                            <div class="rating"><span class="rating-inner" style='width: 40%;'></span></div>
                        </div>
                        <div class="description">Долго, качественно, ахY#@#нно!</div>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="outlay under-link">смета</a>
                </td>
                <td>
                    <span class="duration"><b>15</b><br>дней</span>
                </td>
                <td>
                    <span class="cost">23 000 <i class="ruble"></i></span>
                </td>
                <td>
                    <div class="verified"></div>
                </td>
            </tr>
        </table>
        <div class="btn-wrapper">
            <a href="javascript:void(0);" class="btn blue waves-effect">Смотреть все</a>
        </div>
    </div>
</div>