<?
	$competitions = $this->competitions;
?>
<div class="content">
<div class="executor-block">
    <div class="content-container">
        <h2 class="executor-title">Конкурс дизайн-проектов на Proomer.ru</h2>
        <div class="subtitle">Создавай интерьеры — зарабатывай деньги!</div>
            <table width="100%" class="executor-list">
				<thead>
					<tr>
						<th>Конкурсные задания</th>
						<th>Планировочные<br/> решения</th>
						<th>Стоимость</th>
						<th>Просмотров</th>
						<th>Срок</th>
					</tr>
				</thead>
				<tbody>

					<?
					$i = 0;
					foreach($competitions->items as $item){
						if($i <= 4){
					?>
						<tr>
						<td class="name">
						<h2 class="title"><a href="/competition/<?=$item->ID?>" class=""><?=$item->NAME?></a></h2>
						<p class="disc"><?=$item->PREVIEW_TEXT?></p>
						</td>
						<td class="plan"><img src="<?=$item->IMG?>"/></td>
						<td class="price"><?=round($item->PRICE_VALUE['PRICE'])?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></td>
						<td class="res"><?=(int) $item->SHOW_COUNTER;?></td>
						<td class="time"><?echo (int) $item->PROPERTY_TIME_VALUE; echo EHelper::getWordForm((int) $item->PROPERTY_TIME_VALUE, [" день", " дня", " дней"]);?></td>
						</tr>
					<?
					};$i+=1;}?>
				</tbody>
			</table>
		<div class="clear"></div>
        <div class="btn-wrapper">
            <a href="/competition/" class="btn blue waves-effect view_n3">Смотреть все задания</a>
        </div>
    </div>
</div>
</div>
