<?
/**
 * @var $item Sibirix_Model_Design_Row
 */
$item = $this->item;

$profile = $this->profile;

if($item->CODE){
	$itemId = $item->CODE;
}
else{
	$itemId = $item->ID;
};

?>

	
<div class="goods-item">
	<?// $favouriteClass = ($item->IS_IN_FAVOURITE)?'my-favourite favourite js-add-favourite js-tooltip mainTooltip':'to-favourite favourite js-add-favourite js-tooltip mainTooltip' ?>
	<!--<a href="javascript:void(0)" class="<?//=$favouriteClass?>" data-description="Добавить в избранное" data-element-id="<?//=$item->ID?>"></a>-->
	<div class="image" style="background:url(<?if($item->PREVIEW_PICTURE){echo $item->PREVIEW_PICTURE;}else{echo '/local/images/proomer.png';}?>) no-repeat 50%;">
		<!--$this->Like()->button($item->ID, $item->PROPERTY_LIKE_CNT_VALUE, $item->IS_LIKED)	-->	
		<a href="/shop/<?=($item->CATEGORY->CODE)?$item->CATEGORY->CODE:$item->CATEGORY->ID?>/<?=$itemId?>"><!--<p class="fast_view"><span>Быстрый просмотр</span></p>--></a>
	</div>
	<div class="content">
		<div class="top">
			<span class="category_item"><?=$item->CATEGORY->NAME?></span>
			<a href="/shop/<?=($item->CATEGORY->CODE)?$item->CATEGORY->CODE:$item->CATEGORY->ID?>/<?=$itemId?>" class="title"><?=$item->NAME?></a>
		</div>
		<div class="bottom">
			<div class="line"></div>
<?			if($item->PRICES['PRICE'] > 0){
				if(isset($item->DISCOUNT)){
					$discountClass = 'old_price';
					$new_price = '<span class="new_price">'.number_format($item->DISCOUNT['NEW_PRICE_VALUE']) .' <span class="ruble"></span></span>';
				}
				else{$discountClass = '';$new_price = '';}
				echo $new_price;
				echo '<span class="price '.$discountClass.'">'.number_format($item->PRICES['PRICE']) .' <span class="ruble2"></span></span>';
			}
			else{
				echo ' На заказ';
			};
?>			
			<div class="casper">
				<div class="disc">&#8596; <?=(int) $item->SIZE['LENGTH']/10?> см, &#8622; <?=(int) $item->SIZE['WIDTH']/10?> см, &#8597; <?=(int) $item->SIZE['HEIGHT']/10?> см</div>
				<? $basketClass = ($item->IS_IN_BASKET)?'in-basket basket js-add-basket':'to-basket basket js-add-basket' ?>
				<?if(!$item->IS_IN_BASKET){
					$flag = 1;
					if(isset($user) && $item->CREATED_BY == $user->ID){
						$flag = 0;
					}
					if($flag == 1){
				?>
					<div class="wrap__btn_basket"><a href="javascript:void(0)" class="<?= ($item->PRICES['PRICE'] > 0)?$basketClass:'gift'?>" data-offer="<?=($item->OFFERS)?'Y':'N'?>" data-section-id="<?=$item->IBLOCK_SECTION_ID?>" data-element-id="<?= $item->ID ?>">В корзину</a></div>
				<?}
				}?>
			</div>
		</div>
	</div>
</div>	
