<div class="js-sort sort">
    <span>Сортировать по:</span>
    <a class="under-link" data-type="popular" data-method="">популярности</a>
    <a class="under-link" data-type="price" data-method="">цене</a>
<!--    <a class="checkbox-link js-checkbox-link active" data-type="favorite" data-method="asc">сначала закладки</a> TODO: закладки-->
</div>