<div class="js-sort sort">
    <span>Сортировать по:</span>
    <a class="under-link" data-type="popular" data-method="">популярности</a>
    <a class="under-link" data-type="date" data-method="">дате</a>
    <a class="under-link" data-type="price" data-method="">цене</a>
    <a class="under-link" data-type="budget" data-method="">бюджету</a>
</div>