<?
$item_ajax = $this->item_ajax;
$item_save = $this->item_save;

if($item_ajax){
	$items = $item_ajax;
}
else if($item_save){
	$items = $item_save;
}

$nextstep = $this->nextstep;
$nextstep_d = $this->nextstep_d;
$nextstepfile = $this->nextstepfile;
//если выбрали планировку, то показываем карточку
$html = '';
$image = '';
if($items){
foreach($items as $item){
	if(!empty($item->PREVIEW_PICTURE)){
		$image = Resizer::resizeImage($item->PREVIEW_PICTURE, "COMPLEX_LIST");
	}else{
		$image = '/local/images/proomer2.png';
	}
	$html .= '<li><div class="picture"><img src="'.$image.'"/></div></li>';
}

?>
	<div class="project project-select">
		<div class="border-style1"></div>
		<div class="project-inner">
			<h2 class="title">Проект</h2>
			<hr/>
			<p class="sub-title">Планировка</p>
			<div class="prop">
			<?if(isset($items[0] -> PROPERTY_ROOM_VALUE)){?>
				<p>Количество комнат........<span class="value"><?=$items[0] -> PROPERTY_ROOM_VALUE?>  <?= EHelper::getWordForm($items[0] -> PROPERTY_ROOM_VALUE, ["комната", "комнаты", "комнат"]); ?></span></p>
			<?};?>
			<?if(isset($items[0] -> PROPERTY_AREA_VALUE)){?>
				<p>Площадь.............................<span class="value"><?=$items[0] -> PROPERTY_AREA_VALUE?>м&#178;</span></p>
			<?};?>
				<!--<p>Общая площадь..............<span class="value">76 м&#178;</span></p>-->
				<!--<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>-->
				<div class="list-selected">
					<ul>
						<?=$html;?>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr/>
			<p class="sub-title">Состав семьи</p>
			<div class="prop">
				<p>Взрослых....................................<span class="value">2 человека</span></p>
				<p>Детей............................................<span class="value">1 ребенок</span></p>
				<p>Домашние животные.............<span class="value">Кошка</span></p>
			</div>
			<p class="sub-title">Стоимость проекта</p>
			<div class="prop">
			<p class="price"><span class="summ">9000</span>&#8381;</p>
			<p>(300&#8381; *  76 м&#178;) + 20%</p>
				<div class="step active">
					<a id="nextstep" href="<?=$nextstep;?>" class="btn">ДАЛЕЕ</a><span class="style4 cont" href=""><?=$nextstep_d;?></span>
				</div>
		</div>
	</div>
		
<?
}else{};
?>
	<?
	if($nextstepfile){
		$class = "active";
	}
	else{
		$class = "noactive";
	};
	?>
	<div class="project project-upload">
		<div class="border-style1"></div>
		<div class="project-inner">
			<h2 class="title">Проект</h2>
			<hr/>
			<br/>
			<p>
				Загрузите скан-копию планировки, 
				чтобы продолжить!
				<br/><br/>
				Если у вас нет скана,
				<a class="under-link style1 js-fancybox fancyboxLink" href="#call-super-man">вызовите бесплатного замерщика</a>
			</p>
			<div class="clearfix"></div>
			<br/>
			<hr/>
			<div class="step <?=$class?>">
				<a href="javascript:void(0);" class="btn">ДАЛЕЕ</a><a class="style4 cont" href="">К вариантам<br/>
				планировок</a>
			</div>
			<br/>
			<p class="i mess" style="text-align:center">
				Для того, чтобы продолжить пользоваться<br/>
				сервисом, пожалуйста, дождитесь проверки<br/>
				загруженных файлов!
			</p>
			<br/>
		</div>
	</div>