
<div class="project-out">
		<div class="project">
			<div class="border-style1"></div>
			<div class="project-inner">
		<pre><?
		echo print_r($this->itemList);
		?></pre>
			<!--	<h2 class="title">Проект</h2>
				<hr/>
				<p class="sub-title">Планировка</p>
				<div class="prop">
					<p>Количество комнат........<span class="value">5 комнат</span></p>
					<p>Общая площадь..............<span class="value">76 м&#178;</span></p>
					<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>
				</div>
				<div class="list-selected">
					<ul>
						<li>
							<div class="picture">
								<img src="/upload/resize_cache/iblock/744/280_279_1/744906c174215d3eae158bddf2cbfb6e.jpg">
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr/>
				<div class="step">
					<a href="javascript:void(0);" class="btn">ДАЛЕЕ</a><a class="style4 cont" href="">К вариантам<br/>
					планировок</a>
				</div>
				<!--<p>Загрузите скан-копию планировки, 
				чтобы продолжить!
				<br/><br/>
				Если у вас нет скана,
				<a class="under-link style1" href="">вызовите бесплатного замерщика</a>
				</p>
				<hr/>
				<div class="categories">
				<a href="javascript:void(0);" class="category">ДАЛЕЕ</a><a class="i style4 cont" href="">К вариантам<br/>
				планировок</a>
				</div>
				<p class="i mess" style="text-align:center">
				Для того, чтобы продолжить пользоваться<br/>
				сервисом, пожалуйста, дождитесь проверки<br/>
				загруженных файлов!
				</p>-->
			</div>
		</div>
		<div class="help">
			<h2 class="title">Нужна помощь?</h2>
			<p style="text-align:center;">Наши специалисты помогут вам<br/> разобраться с сервисом</p>
			<span class="phone">+7 (975) 856-14-56</span>
			<span class="time_job">Работаем с 8:00 до 22:00</span>
		</div>
</div>